<div class="info-block-cont theme3 module hidden-xs hidden-sm">
	<div class="js-ga-right-search-banners"></div>
	<div class="js-banners" >
		<div class="banner module ta-r {zoneID: 47}"></div>
		<div class="banner module ta-r {zoneID: 45}"></div>
		<div class="banner module ta-r {zoneID: 46}"></div>
	</div>
</div>