<div class="main-theme obj-control-head clearfix brt2">
	<div class="row">
		<div class="col-md-4 left clearfix">
			<a class="item" href="/add/{{ category.id }}">Добавить</a>
		</div>
		<div class="col-md-8 right clearfix">
			{% if small_pagination.next %}
				<a class="item" href="{{small_pagination.next_url}}">Далее</a>
			{% endif %}
			<span class="caption">{{ small_pagination.current }}/{{ small_pagination.total }}</span>
			{% if small_pagination.prev %}
				<a class="item" href="{{small_pagination.prev_url}}">Назад</a>
			{% endif %}
		</div>
	</div>
</div>