<button 
	class="fl hidden-lg visible-xs button bg-color-blue more-button" id="more-options" onclick="$('.options-wrap').fadeToggle();">
	<i class="fa fa-bars"></i>
</button>
<div class="clearfix">
	<div class="control_buttons module fs0 fl options-wrap">
		<span class="span-link menu-item js-search-extend control-item" onclick="mobile(function(){$('.options-wrap').fadeOut();});">Расширенный поиск</span>
		{{mapButton}}
		{% if mapButton %}
		<span class="span-link menu-item" id="map-button" data-action="hideMap">Показать на карте</span>
		{% endif %}
		{% if not isGuest %}
		<div class="menu-item" data-role="subscription-module"><span class="span-link">Сохранить поиск</span></div>
		{% else %}
		<a class="menu-item" href="/user/login?return={{ strim(get_request_uri(), '/') }}">Сохранить поиск</a>
		{% endif %}
		<div class="menu-item span-link" id="limit"><i class="fa fa-list"></i> {{limitList}}</div>
	</div>


	<div class="fr small_pag">
		{{small_pagination}}
	</div>
</div>

<div id="save-search-cont"></div>

