<div class="breadcrumbs-cont module">
	{% if canonical_url != 'glavnaya-kategoriya' %}
		{% if city %}
			<a href="/glavnaya-kategoriya" rel="nofollow">Все объявления в {{ city.sinonim }} </a>
		{% else %}
			<a href="/glavnaya-kategoriya" rel="nofollow">Все объявления в России</a>
		{% endif %}
	{% endif %}

	{% for crumb in crumbs %}
		{% if crumb.uri != canonical_url %}
			/ <a href="{{ url(crumb.uri) }}">{{crumb.title}}</a>
		{% endif %}
	{% endfor %}
	/ <h1>{{ seo_attributes.h1 ? seo_attributes.h1: category.title }}</h1> <span class="count">{{ link_counters[s_host ~ s_suri] }}</span>
</div>