{% extends "layouts/search" %}

{% block css %} 
	{{ parent() }}
	{{ css("filters.css") }}
{% endblock css%}


{% block title %} {{ seo_attributes.title }} {% endblock title%}
{% block meta_description %} {{ seo_attributes.description }} {% endblock meta_description%}

{% block crumbs %} 
	{% include 'search/crumbs' %}
{% endblock crumbs %}


{% block wrapperclass %}page-search{% endblock wrapperclass %}



{% block subcategories %}
	{% if category_childs|length > 0 %}
		{% include 'search/subcategories' %}
	{% elseif category_childs_elements|length > 0 %}
		{% include 'search/subfilters' %}
	{% endif %}
{% endblock subcategories %}


{% block filters %} 
	{% include 'search/filters' %}
{% endblock filters %}

{% block content %} 
	{% include 'search/control' %}
	{% include 'search/result' %}
	{% include 'search/paginator' %}
{% endblock content%}

{% block rightside %} 
	{% include 'search/vip' %}
	{% include 'search/banner_right' %}
{% endblock rightside %}


{% block footertext %} 
		{{ seo_attributes.footer }}
{% endblock footertext %}

{% block footer %} 
		Время генерации php {{ php_time }}
{% endblock footer %}

{% block templates %}
	{{ parent() }}
	<script id="template-mainmenu" type="text/template">
		{{ requestblock('block_twig/mainmenu', {'city_id': city.id}) }}
	</script>
	<script id="template-citymenu" type="text/template">
		{{ requestblock('block_twig/othercities', {'city_id': city.id}) }}
	</script>
{% endblock templates %}