{% extends "layouts/search" %}

{% block title %} {{ seo_attributes.title }} {% endblock title%}

{% block crumbs %} 
	{% include 'search/crumbs' %}
{% endblock crumbs %}


{% block wrapperclass %}page-search{% endblock wrapperclass %}



{% block subcategories %}
	{% if category_childs|length > 0 %}
		{% include 'search/subcategories' %}
	{% endif %}
{% endblock subcategories %}


{% block filters %} 

{% endblock filters %}

{% block content %} 
	{% include 'search/control' %}
	{% include 'search/result' %}
	{% include 'search/paginator' %}
{% endblock content%}

{% block rightside %} 
	<div class="info-block-cont theme3 module">
		<div class="block-title">
			<span>VIP объявления</span>
		</div>
		<div class="items-list-cont3">
			<div class="item">
				<p class="line1">10.01 Вакансии. Нижневартовск</p>
				<a rel="nofollow" href="">
					Массажист в ООО Отдых
					<div class="photo-cont"><img alt="1-комн.кв. 38кв.м, Северная 9 ..." src="images/content/1.jpg"><br></div>
					<div class="line2">35 000р</div>
				</a>
			</div>
			<div class="item">
				<p class="line1">6.01 Продажа квартир и комнат. Сургут</p>
				<a rel="nofollow" href="">
					г. Нижневартовск, Ул. Нефтяников 82
					<div class="line2">3 500 000р</div>
				</a>
			</div>
			<div class="item">
				<p class="line1">2.01  Услуги по ремонту квартир и офисов. г. Тюмень</p>
				<a rel="nofollow" href="">
					Ремонт квартир под ключ
					<div class="photo-cont"><img alt="1-комн.кв. 38кв.м, Северная 9 ..." src="images/content/1.jpg"><br></div>
					<div class="line2">35 000р</div>
				</a>
			</div>
		</div>
	</div>
{% endblock rightside %}


{% block footertext %} 
		{{ seo_attributes.footer }}
{% endblock footertext %}

{% block footer %} 
		Время генерации php {{ php_time }}
{% endblock footer %}