{% set mini_cart_path = 'detail/mini/default_tablerow' %}
{% if check_access("object.moderate") %}
	{% set mini_cart_path = 'detail/mini/default_tablerow_for_admin' %}
{% endif %}

{% if premium_search_result|length > 0 %}
	{% for object in premium_search_result %}
		{% include mini_cart_path %}
	{% endfor %}
{% endif %}


{% for object in main_search_result if object.compiled.url %}

	{% if loop.index == 5 %}
		<div class="js-ga-between" style="width:100%;height:90px"></div>
	{% endif %}

	{% if loop.index in banner_zone_positions|keys %}
	<div class="banner {zoneID: {{banner_zone_positions[loop.index]}} }"></div>
	{% endif %}

	{% include mini_cart_path %}

	

{% else %}
	{% include 'search/noresult' %}
{% endfor %}