{% set cols = (category_childs|length > 4) ? 2 : 1 %}
{% set rows = (category_childs|length/cols)|round %}
{% set i = 0 %}
<div class="b-subfilters">
	<button type="button" class="hidden-sm hidden-md hidden-lg b-subfilters__choose js-show-subfilters">Выбрать категорию <i class="fa fa-arrow-right"></i></button>
	<div class="subcategories-cont module subcat-search b-subfilters__cont js-subfilters-container">
		<button type="button" class="hidden-sm hidden-md hidden-lg b-subfilters__close js-close-subfilters"><i class="fa fa-arrow-left"></i></button>
		<div class="row b-subfilters__list">
			{% for col in 0..cols %}
				<div class="col-md-4 col-sm-4 col-xs-12 col-xxs-12">
					<ul class="b-subfilters__col">
					{% for child_category in category_childs|slice(i, rows) %}
						<li class="b-subfilters__item">
							<a href="{{ url(child_category.url) }}" 
								title="{{child_category.title}}" class="b-subfilters__link">
									{{child_category.title}} {% if child_category.count and child_category.count > 0 %} ({{ child_category.count }}) {% endif %}
							</a>
						</li>
					{% endfor %}
					</ul>
				</div>
				{% set i = i + rows %}
			{% endfor %}
			
		</div>
	</div>
	
</div>
{% include 'search/subcategories_mobile' %}