{% set cols = (category_childs|length > 4) ? 2 : 1 %}
{% set rows = (category_childs|length/cols)|round %}
{% set i = 0 %}
<div class="subcategories-cont module">
	<div class="row">
		{% for col in 0..cols %}
			<div class="col-md-4">
				<ul>
				{% for child_category in category_childs|slice(i, rows) %}
					{% set count = link_counters[s_host ~ '/' ~ child_category.url] %}
					<li>
						<a href="{{ url(child_category.url) }}" title="{{child_category.title}}">{{child_category.title}}</a>
						{% if count > 0 %}
							<span class="count">{{count}}</span>
						{% else %}
							<!-- <span class="count">?</span> -->
						{% endif %}
					</li>
				{% endfor %}
				</ul>
			</div>
			{% set i = i + rows %}
		{% endfor %}
	</div>
</div>