{% set cols = 4 %}
{% set rows = (category_childs_elements|length/cols)|round %}
{% set i = 0 %}
<div class="subcategories-cont module subcat-search">
	<div class="row">
		{% for col in 0..cols %}
			<div class="col-md-{{ category_childs_elements_colsize ? category_childs_elements_colsize : 2 }} col-sm-{{ category_childs_elements_colsize ? category_childs_elements_colsize : 2 }}">
				<ul>
				{% for element in category_childs_elements|slice(i, rows) %}
					{% set count = link_counters[s_host ~ '/' ~ category_url ~ '/' ~ element.url] %}
					<li>
						<div>
							<a href="{{ url(category_url ~ '/' ~ element.url) }}" title="{{element.title}}" data-weight="{{ element.wight }}">{{element.title}}</a>
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
			{% set i = i + rows %}
		{% endfor %}
	</div>
</div>

{% if category_childs_elements|length > 15 %}

<script type="text/javascript">
		desktop(function(){
			new Yarmarka.UI.Columns.OrderedHeight({ 
				el: '.subcategories-cont.module.subcat-search', 
				elementSelector: 'li>div', 
				forceOneColumnMobile: false,
				enableAutoCollapse: true,
				itemWidthSelector: 'a',
				autoCollapseOptions: {
					allowedHeight: 110
				}
			});
		});
</script>

{% endif %}

{% if category_childs_elements|length > 3 %}

<script type="text/javascript">
	mobile(function(){
		new Yarmarka.UI.Columns.OrderedHeight({ 
			el: '.subcategories-cont.module.subcat-search', 
			elementSelector: 'li>div', 
			forceOneColumnMobile: false,
			enableAutoCollapse: true,
			itemWidthSelector: 'a',
			autoCollapseOptions: {
				allowedHeight: 60
			}
		});
	});
</script>

{% endif %}