<tr data-id="{{ cartItem.id }}" data-type="{{ cartItem.type }}" data-object-id="{{ cartItem.object.id }}" data-total="{{cartItem.service.price_total}}" 
class="{% if cartItem.available %}warning{%else%}danger{% endif %} js-cartitem">
	<td>
		<a href="/detail/{{ cartItem.object.id }}">{{ cartItem.service.title }}</a>
		{% if not cartItem.available %}
			{% set error = "Удалите недоступные для продажи купоны чтобы продолжить" %}
			<br><span class="red">К сожалению выбранный купон не доступен для продажи. Акция завершена</span>
		{% endif %}
	</td>
	<td></td>
	<td class="js-itemsum itemsum">{{cartItem.service.price_total}} руб.</td>
	<td><span class="span-link js-edit"><i class="fa fa-pencil mr3"></i></span></td>
	<td><span class="span-link js-delete"><i class="fa fa-trash mr3"></i></span></td>
</tr>