<div class="text-cont module">
	{{object.user_text}}
</div>
<div class="params-cont module">
	{% if object.compiled.attributes|length > 0 %}
		<table class="w100p">
			<tbody>
				<tr>
					<td class="bold">Город</td>
					<td>{% if object.compiled.real_city %}{{object.compiled.real_city }}{% else %}{{ object.compiled.city }}{% endif %}, {{ object.compiled.address }}</td>
				</tr>
				{% for attr in object.compiled.attributes if attr.value and attr.seo_name in ['adres-raion']%}
				<tr>
					<td class="bold">{{ attr.title }}</td>
					<td>{{ attr.value|e }}</td>
				</tr>
				{% endfor %}
				{% for attr in object.compiled.attributes if attr.value and attr.seo_name not in ['zarplata','tsena','adres-raion']%}
				<tr>
					<td class="bold">{{ attr.title }}</td>
					<td>{{ attr.value|e }}</td>
				</tr>
				{% endfor %}
				{% for attr in object.compiled.attributes if attr.value and attr.seo_name in ['tsena', 'zarplata']%}
				<tr>
					<td class="bold">{{ attr.title }}</td>
					<td><p class="amount">{{ attr.value|e|number_format(0, ' ', ' ') }} <i class="fa fa-rub"></i></p></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
</div>