<div class="info-block-cont theme2 contacts-cont module">
	<div class="block-title">
		<span><i class="fa fa-phone mr5"></i>Контактные данные</span>
	</div>					
	<div class="body">
		<div class="row js-object-contacts-{{object.id}}">
			{% if object.is_published > 0 or isAdmin %}
				<div class="col-md-6 col-sm-6">
					<span class="author-name">{{object.contact}}</span>

					<form action="">
						
					<div class="contacts-list-cont js-contact-list">
						{% for contact in object.compiled.contacts %}
							{% if contact.type == '5' %}
 								
 							{% else %}
								<p>
									{% if isAdmin %}
										{{ contact.value }}
									{% else %}
										{{ contact.value|contacthide }}
									{% endif %}
								</p>
							{% endif %}
						{% endfor %}
					</div>
					<button type="submit" class="button dib bg-color-blue white p10 br2 js-contacts-show" data-id="{{object.id}}">Показать контакты</button>
					</form>
					{% if object.source_id == 1 %}
						{% if isGuest %}
							<div class="write-to-author unauthorized">
								Чтобы отправить сообщение автору нужно <a href="/user/login?return={{ currentUri }}">Авторизоваться</a>
							</div>
						{% else %}
							<div 
								data-role="writeToAuthor" 
								data-id="{{ object.id }}" 
								data-email="{{ userEmail }}" 
								data-is-job-vacancy="{{ isJobVacancy }}"
								{% if cvAttachedUrl %}data-text="Мое резюме на Ярмарке: {{ cvAttachedUrl }}. " data-state="compose"{% endif %}
								class="write-to-author"></div>
						{% endif %}
					{% elseif object.source_id == 2 %}
						<div class="write-to-author impossible">
							Объявление подано в печатную версию, связаться можно только по указанному телефону
						</div>
					{% else %}
						
					{% endif %}
				</div>
				<div class="col-md-6 col-sm-6">
					{% if object.compiled.author.org_type == 2 and object.compiled.author.role != 9 and object.compiled.author.role != 2 %}
						<p><span class="moreinfo span-link" onclick='document.location="/user?id={{object.author_company_id}}"'>{{ object.compiled.author.org_name }}</span></p>
						{% if object.compiled.author.logo %}
							<div class="img-cont"><img src="{{  get_file(object.compiled.author.logo['120x90']) }}"></div>
						{% endif %}
						<p>{{ object.compiled.author.org_post_address }}</p>
						<p><i class="ico phone"></i>{{ object.compiled.author.org_phone }}</p>
						
						<!-- <p><i class="ico vkontakte"></i><span class="span-link">http://vk.com/454545</span></p>
						<p><i class="ico twitter"></i><span class="span-link">http://twitter.com/acc</span></p>
						<p><i class="ico instagram"></i><span class="span-link">http://link.com</span></p>
						<p><i class="ico email"></i><span class="span-link">sss@domain.ru</span></p>
						<p><i class="ico site"></i><span class="span-link">http://site.ru</span></p> -->
					{% endif %}
				</div>
			{% else %}
				<div class="col-md-12 col-sm-12">
					Объявление снято с публикации, контактные данные не доступны.
				</div>
			{% endif %}
		</div>
	</div>					
</div>