{% extends "layouts/detail" %}

{% set theme_class = 'crimson-theme' %}

{% block css %} 
	{{ parent() }}
	{{ css("comments.css") }}
{% endblock css%}



{% block title %} {{object.title|e}} {% endblock title%}
{% block meta_description %} {{ object.user_text|e|slice(0, 200) }} {% endblock meta_description%}

{% block wrapperclass %}page-detail{% endblock wrapperclass %}

{% block crumbs %}
	{% include 'detail/crumbs' %}
{% endblock crumbs %}

{% block leftside %}
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12">
				<article>
					{% if (object.compiled.images.local_photo|length == 0 and object.compiled.images.remote_photo|length == 0) %}
						{% include 'detail/nophoto' %}
					{% endif %}
					{% include 'detail/thumbnails' %}
					{% include 'detail/attributes' %}
				</article>
				{% if object.compiled['attributes']['adres-raion'] %}
					<button class="more-button module button bg-color-blue" data-role="show-map">Показать на карте</button>
				{% endif %}
			</div>
			<div class="col-lg-4 hidden">
				<div class="banner hidden-sm hidden-xs hidden-md module {zoneID: 45}"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				{% include 'detail/contacts' %}
				{% include 'block/vk/comments_surgut' %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% include 'detail/info' %}
			</div>
		</div>
		<div class="row hidden-md hidden-sm hidden-xs">
			<div class="col-md-12">
				<div class="banner module {zoneID: 18 }"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 hidden-lg hidden-md hidden-sm">
				{% include 'detail/controls' %}
				{% include 'detail/services' %}
			</div>
		</div>
		{% if (category.show_map) %}
			{% if object.compiled.address is not empty %}
				<div class="row">
					<div class="col-md-12">
						{% include 'detail/map' %}
					</div>
				</div>
			{% endif %}
		{% endif %}
		{% include 'detail/photo' %}
	</div>
{% endblock %}

{% block rightside %}
	<div class="col-md-4">
		<aside>
			{% include 'detail/banners' %}
			<div class="hidden-xs">
				{% include 'detail/controls' %}
				{% include 'detail/services' %}
			</div>
			{% include 'detail/similar' %}
			<div class="detail_last_views">
				{{ requestblock('block_twig/last_views', { mode:'twig', 'page':1, 'perPage':5, 'showMore': true, 'horizontalView': horizontalView}) }}
			</div>
		</aside>
	</div>
{% endblock rightside %}

{% block templates %}
	{{ parent() }}
{% endblock templates %}



