{% extends "layouts/detail" %}

{% set theme_class = 'crimson-theme' %}

{% block css %} 
	{{ parent() }}
	{{ css("comments.css") }}
{% endblock css%}



{% block title %} {{object.title|e}} {% endblock title%}
{% block meta_description %} {{ object.user_text|e|slice(0, 200) }} {% endblock meta_description%}

{% block wrapperclass %}page-detail{% endblock wrapperclass %}

{% block crumbs %}
	{% include 'detail/crumbs' %}
{% endblock crumbs %}

{% block leftside %} 
	<div class="col-md-7 col-sm-7">
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<article>
					{% if (object.compiled.images.local_photo|length == 0 and object.compiled.images.remote_photo|length == 0) %}
						{% include 'detail/nophoto' %}
					{% endif %}
					{% include 'detail/thumbnails' %}
					{% include 'detail/attributes' %}
				</article>
			</div>
			<div class="col-lg-4">
				<div class="banner hidden-sm hidden-xs hidden-md module {zoneID: 45}"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				{% include 'detail/contacts' %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% include 'detail/info' %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			{{ requestblock('block_twig/adslinkline', {'city_id': city.id, 'category_id': category.id, 'theme_class': theme_class}) }}
			</div>
		</div>
		<div class="row hidden-md hidden-sm hidden-xs">
			<div class="col-md-12">
				<div class="banner module {zoneID: 18 }"></div>
			</div>
		</div>
		{% if (category.show_map) %}
			<div class="row">
				<div class="col-md-12">
					{% include 'detail/map' %}
				</div>
			</div>
		{% endif %}
		{% include 'detail/photo' %}
	</div>
{% endblock %}

{% block rightside %}
	<div class="col-md-5 col-sm-5">
		<aside>
			{% include 'detail/controls' %}
			{% include 'detail/services' %}
			{% include 'block/vk/comments_surgut' %}
			{% include 'detail/similar' %}
		</aside>
	</div>
{% endblock rightside %}

{% block templates %}
	{{ parent() }}
{% endblock templates %}



