{% extends "layouts/detail" %}

{% block css %} 
	{{ parent() }}
	{{ css("comments.css") }}
{% endblock css%}

{% block title %} {{object.title|e}} {% endblock title%}
{% block meta_description %} {{ object.user_text|e }} {% endblock meta_description%}

{% block wrapperclass %}page-detail{% endblock wrapperclass %}

{% block crumbs %} 
	{% include 'detail/crumbs' %}
{% endblock crumbs %}


{% block leftside %} 
	<div class="col-md-7">
		<div class="row">
			<div class="col-md-9">
				<article>
					{% include 'detail/thumbnails' %}
				</article>
			</div>
			<div class="col-md-3">
				{% include 'detail/controls' %}
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-9">
				{% include 'detail/attributes' %}
			</div>
			<div class="col-md-3">
				<div class="banner module">
					<img src="http://openx.yarmarka.biz/www/images/a4e051e122b1cd4ac7f48e4db9f762af.gif" alt="">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				{% include 'detail/contacts' %}
			</div>
		</div>
		{% include 'detail/photo' %}
	</div>
{% endblock %}

{% block rightside %}
	<div class="col-md-5">
		<aside>
			{% include 'detail/services' %}
			{% include 'detail/similar' %}
			{% include 'detail/comments' %}
		</aside>
	</div>
{% endblock rightside %}

{% block templates %}
	{{ parent() }}
	<script id="template-mainmenu" type="text/template">
		{% include "block/menu/main" %}
	</script>
	<script id="template-citymenu" type="text/template">
		{% include "block/menu/city" %}
	</script>
{% endblock templates %}



