<div class="service-block-cont module">
	<div class="button button-style1 w100p bg-color-crimson mb3 js-favourite js-favourite-caption" data-id="{{object.id}}">
		{% set is_favourite = '' %}
		{% if object.id in favourites %}
			{% set is_favourite = 'in' %}
		{% endif %}
		<i class="ico ico19 favorit-ico {{is_favourite}}"></i> {{is_favourite ? 'В избранном': 'В избранное'}}
	</div>
	{% if object.is_published == 0 %}
		<div class="line">Объявление снято</div>
	{% elseif object.is_published == 1 %}
		<div class="line">Объявление опубликовано</div>
	{% endif %}
	<div class="line">Код объявления: {{ object.id }}</div>
	<div class="line">Обновлено: {{ object.date_created|date('d.m.Y') }}</div>
	<div class="line">Просмотров: {{ object.visits }}</div>
</div>