<div class="service-block-cont module">
	<div class="p5 dib js-favourite red pointer" data-id="{{object.id}}">
		{% set is_favourite = 'fa-heart-o' %}
		{% if object.id in favourites %}
			{% set is_favourite = 'fa-heart' %}
		{% endif %}
		<i class="fa {{is_favourite}} fa-lg mr5 js-favourite-ico"></i> <span class="js-favourite-caption">{{is_favourite == 'fa-heart' ? 'В избранном': 'В избранное'}}</span>
	</div>
	{% if object.is_published == 0 %}
		<div class="p5 dib red js-object-state-{{object.id}}">Объявление снято</div>
	{% elseif object.is_published == 1 %}
		<div class="p5 dib js-object-state-{{object.id}}">Объявление опубликовано</div>
	{% endif %}
	<div class="p5 dib">Код: {{ object.id }}</div>
	<div class="p5 dib">Обновлено: {{ object.date_created|date('d.m H:i') }}</div>
	{% if check_object_access(object, 'object.control') %}
		<div class="p5 dib">Просмотров: {{ object.visits }}</div>
	{% endif %}
</div>