<div class="dialog_window"></div>
<div class="service-block-cont module">
	<div class="actions_block">
		<div class="p5 dib js-favourite pointer red" data-id="{{object.id}}" id="favourite">
			{% set is_favourite = 'fa-heart-o' %}
			{% if object.id in favourites %}
				{% set is_favourite = 'fa-heart' %}
			{% endif %}
			<i class="fa {{is_favourite}} fa-lg mr5 js-favourite-ico"></i> <span class="js-favourite-caption">{{is_favourite == 'fa-heart' ? 'В избранном': 'В избранное'}}</span>
		</div>
		<div data-role="complain" data-object-id="{{ object.id }}" data-is-guest="{{ isGuest }}" class="dib" id="complain">
			<a href="#" data-role="start" class="red"><i class="fa fa-exclamation-triangle mr5 fa-lg"></i> Пожаловаться</a>
		</div>
		<div 
		data-role="writeToAuthor" 
		data-id="{{ object.id }}" 
		data-email="{{ userEmail }}" 
		data-is-job-vacancy="{{ isJobVacancy }}"
		{% if cvAttachedUrl %}data-text="Мое резюме на Ярмарке: {{ cvAttachedUrl }}. " data-state="compose"{% endif %}
		class="write-to-author dib">
	</div>
	</div>
	{% if object.is_published == 0 %}
		<div class="p5 dib red js-object-state-{{object.id}}">Объявление снято</div>
	{% elseif object.is_published == 1 %}
		<div class="p5 dib js-object-state-{{object.id}}">Объявление опубликовано</div>
	{% endif %}
	<div class="p5 dib">Код: {{ object.id }}</div>
	<div class="p5 dib">Обновлено: {{ object.date_created|date('d.m H:i') }}</div>
	{% if check_object_access(object, 'object.control') %}
		<div class="p5 dib">Просмотров: {{ object.visits }}</div>
	{% endif %}
</div>