<div class="images-cont module mt10">
	{% for photo in object.compiled.images.local_photo %}
		<div class="image-cont">
			<img class="" alt="Объявление. {{object.compiled.city}}, {{object.title}}. Фото {{loop.index}}" src="{{ get_file(photo['original']) }}">
		</div>
	{% endfor %}
	{% for photo in object.compiled.images.remote_photo %}
		<div class="image-cont">
			<img class="" alt="Объявление. {{object.compiled.city}}, {{object.title}}. Фото {{loop.index}}" src="{{ photo }}">
		</div>
	{% endfor %}
</div>