{% if similar_search_result|length > 0 %}
<div class="title_block brt2">Похожие предложения <a href="/commercial/leader" target="_blank" class="fr">Хочу сюда попасть</a></div>
<div class="info-block-cont theme1 module">
	<table class="table-result-info style1">
		<tbody>
			{% for object in similar_search_result|slice(0,3) %}
				{% include 'detail/mini/default_tablerow_simple' %}
			{% endfor %}
		</tbody>
	</table>
</div>

{% endif %}