<div class="thumbnails-cont module">
	{% for photo in object.compiled.images.local_photo %}
		<a href="/" class="img-cont" rel="nofollow">
			<div class="center-img">
				<img class="" alt="Объявление. {{object.compiled.city}}, {{object.title}}. Фото {{loop.index}}" src="{{ staticfile(photo['120x90']) }}">
			</div>
		</a>
	{% endfor %}
	{% for photo in object.compiled.images.remote_photo %}
		<a href="/" class="img-cont" rel="nofollow">
			<div class="center-img">
				<img class="" alt="Объявление. {{object.compiled.city}}, {{object.title}}. Фото {{loop.index}}" src="{{ staticfile(photo) }}">
			</div>
		</a>
	{% endfor %}
	{% if (object.compiled.images.local_photo|length == 0 and object.compiled.images.remote_photo|length == 0) %}
		<div class="nophoto-block"><span>НЕТ ФОТО</span></div>
	{% endif %}
</div>