<div class="thumbnails-cont module">
	<div class="js-thumbnails">
		{% for photo in object.compiled.images.local_photo %}
			<div class="w120 dib pointer" onclick="$('body').animate({scrollTop : $('#img{{loop.index}}').offset().top}, 1000);"><img class="" style="max-width:120px;" alt="Объявление. {{object.compiled.city}}, {{object.title}}. Фото {{loop.index}}" src="{{ get_file(photo['120x90']) }}"></div>
		{% endfor %}
		{% for photo in object.compiled.images.remote_photo %}
			<div class="w120 dib pointer" onclick="$('body').animate({scrollTop : $('#img{{loop.index}}').offset().top}, 1000);"><img class="" style="max-width:120px;" alt="Объявление. {{object.compiled.city}}, {{object.title}}. Фото {{loop.index}}" src="{{ photo }}"></div>
		{% endfor %}
	</div>
</div>