<div class="row">
	<div class="col-md-6 p10">
		<p>В чем отличие платных объявлений от бесплатных?</p>
		<p>1. Платные объявления выделяются на Ваш выбор точкой, рамкой, цветом, что визуально привлекает взгляд</p>
		<p>2. Более увеличенный размер шрифта позволяет выделиться среди однотипных объявлений</p>
		<p>3. Возможности размещения фотоизображения еще более усиливают доверие к данному объявлению</p>
		<p>Воспользуйтесь вышеперечисленными возможностями для повышения внимания к Вашему объявлению.</p>
		<p>После оплаты и оформления объявления вам придет уведомление на e-mail, или оператор свяжется с вами по телефону для уточнений. Объявления оформляются с пн по пт с 9 до 18 час.</p>
		<p>Объявления должны соответствовать правилам ресурса</p>
	</div>
	<div class="col-md-6 p10"><img src="/images/news_adverts_type.png" alt=""></div>
</div>