{% extends "layouts/search" %}

{% set theme_class = 'blue-subtle-theme' %}

{% block css %} 
	{{ parent() }}
	{{ css("comments.css") }}
{% endblock css%}

{% block js %}{% endblock js%}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{% include 'search/user/promo' %}
{% endblock header %} 


{% block title %} {{ seo_attributes.title }} {% endblock title%}
{% block meta_description %}{% endblock meta_description%}
{% block wrapperclass %}page-search{% endblock wrapperclass %}


{% block crumbs %} {% endblock crumbs %}
{% block subcategories %}{% endblock subcategories %}
{% block filters %}{% endblock filters %}

{% block content %}
	{% if (main_search_result|length) %}
		{% include 'search/user/control' %}
		{% include 'search/user/result' %}
		{% include 'search/paginator' %}
	{% else %}
		{% include 'search/user/noresult' %}
	{% endif %}
{% endblock content%}

{% block rightside %}
	{% include 'search/user/info' %}
	{% include 'search/user/messages' %}
{% endblock rightside %}


{% block footertext %}{% endblock footertext %}

{% block footer %} 
	{{ parent() }}
{% endblock footer %}

{% block templates %}{{ parent() }}{% endblock templates %}

{%block page_name%}usersearch{% endblock page_name %}