{% if premium_balance %}
<div class="info-block-cont theme3 module js-hide-region">
	<div class="block-title">
		<span>Премиум</span>
	</div>
	<div class="p10">
			Ваш лимит Премиум объявлений - <span class="js-premium-count">{{premium_balance}}</span>
	</div>
</div>
{% endif %}
