application/logs/important/
application/logs/notice/
application/logs/debug/
application/cache
www/uploads
www/assets
www/css
www/js
www/img
www/images
www/font
.idea
*.vim
*.sublime-project
*.sublime-workspace
application/config/local/*.php
/nbproject
