{% extends "layouts/user" %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
{% endblock header %} 

{% block leftside %} 
	{% include 'user/personal/nav' %}
{% endblock leftside %}

{% block content %}
	{% block info %}{% endblock info %}
	<div class="bg-color-whitesmoke p10">

		<p class="mb20">{{message}}</p>			
		{% if success %}
				
				<p class="mb5">Перейти к:</p>
				<ul>
					<li><a href="/user/profile">Личные данные</a></li>
					<li><a href="/">Главная страница</a></li>
					<li><a href="/add"  rel="nofollow">Подать объявление</a></li>				
				</ul>
							
		{% else %}
		
				<p class="mb5">Перейти к:</p>
				<ul>
					<li><a href="/user/login">Войти на сайт</a></li>
					<li><a href="/user/forgot_password">Напомнить пароль</a></li>			
				</ul>
							
		{% endif %}
	</div>
{% endblock content %}

