{% extends "layouts/add" %}

{% block css %} 
	{{ parent() }}
	{{ css("add.css") }}
	{{ css("cropper.min.css") }}
{% endblock css%}

{% block js %} 
	{{ parent() }}
	{% if data_file %}
		{{ js(data_file) }}
		{{ js("jquery.ui.touch-punch.min.js") }}
		{{ js("device.min.js") }}
	{% endif %}
{% endblock js%}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{% include 'user/personal/crumbs' %}
{% endblock header %} 

{% block crumbs %}
{% endblock crumbs %} 

{% block content %}
		<div class="{{theme_class}}">
			<div class="menu-cont2 clearfix brt2">
				<div class="col-md-12 right clearfix">
					{% if params.form_data.login %}
						<a class="menu-item right" href="/user/registration"><span class="menu-item-cont">Регистрация</span></a>
						<a class="menu-item right" href="/user/forgot_password"><span class="menu-item-cont">Забыли пароль?</span></a>
					{% else %}
						&nbsp;
					{% endif %}
				</div>
			</div>
		</div>
		<div class="bg-color-whitesmoke p20">
			{% set problem = get_config("common.add_problem") %}
			{% if problem %}
				<div class="fl100  pt16 pb15">
						<div class="smallcont">
							<div class="labelcont">
								<label><span style="color:red;">!</span></label>
							</div>
							<div class="fieldscont">
								<div class="inp-cont-short">
									<div class="inp-cont"  style="color:red;">
										{{problem}}
									</div>
								</div>
							</div>
						</div>
				</div>
			{% endif %}

			{% if params.expired_orginfo  %}
				<div class="fl100  pt16 pb15">
					<div class="smallcont pb10">
						<div class="labelcont">
							<label><span></span></label>
						</div>
						<div class="fieldscont">										
							<div class="">
								<div class="inp-cont" style=" font-size:16px;">
									<span style="color:red;">Для продолжения работы с сайтом, пожалуйста, поделитесь с нами информацией о Вашей компании <a href="/user/orginfo">здесь</a></span>.
									Если сейчас у Вас нет возможности заполнить форму, сделайте это в любое удобное время, но не позднее чем {{params.expired_orginfo|date("d.m.Y H:i")}}
						  		</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			
			{{ requestoldview(block_name, params) }}
		</div>
{% endblock content %}

{% block page_name %}add{% endblock page_name%}