{% extends "layouts/user" %}

{% block css %} 
	{{ parent() }}
	{{ css("add.css") }}
	{{ css("cropper.min.css") }}
	{{ css("jquery-ui.css") }}
{% endblock css%}

{% block js %} 
	{{ parent() }}
	{% if data_file %}
		{{ js(data_file) }}
		{{ js("jquery-ui.min.js") }}
	{% endif %}
{% endblock js%}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{% include 'user/add/promo' %}
{% endblock header %} 

{% block crumbs %}
{% endblock crumbs %} 

{% block content %}
		<div class="{{theme_class}}">
			<div class="menu-cont2 clearfix brt2">
				<div class="col-md-12 right clearfix">
					{% if params.form_data.login %}
						<a class="menu-item right" href="/user/registration"><span class="menu-item-cont">Регистрация</span></a>
						<a class="menu-item right" href="/user/forgot_password"><span class="menu-item-cont">Забыли пароль?</span></a>
					{% else %}
						&nbsp;
					{% endif %}
				</div>
			</div>
		</div>
		<div class="bg-color-whitesmoke p20">
			{% set problem = get_config("common.add_problem") %}
			{% if problem %}
				<div class="fl100  pt16 pb15">
						<div class="smallcont">
							<div class="labelcont">
								<label><span style="color:red;">!</span></label>
							</div>
							<div class="fieldscont">
								<div class="inp-cont-short">
									<div class="inp-cont"  style="color:red;">
										{{problem}}
									</div>
								</div>
							</div>
						</div>
				</div>
			{% endif %}

			{% if params.expired_orginfo  %}
				<div class="fl100  pt16 pb15">
					<div class="smallcont pb10">
						<div class="labelcont">
							<label><span></span></label>
						</div>
						<div class="fieldscont">										
							<div class="">
								<div class="inp-cont" style=" font-size:16px;">
									<span style="color:red;">Для продолжения работы с сайтом, пожалуйста, поделитесь с нами информацией о Вашей компании <a href="/user/orginfo">здесь</a></span>.
									Если сейчас у Вас нет возможности заполнить форму, сделайте это в любое удобное время, но не позднее чем {{params.expired_orginfo|date("d.m.Y H:i")}}
						  		</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}

			{{ requestoldview(block_name, params) }}
		</div>
{% endblock content %}

{% block rightside %} 
	
	{% if params.form_data.org_info %}
		<div class="info-block-cont theme3 module">
			<div class="block-title">
				<span>Объявление от компании</span>
			</div>						
			<div class="bg-color-whitesmoke p20">

				{% if params.form_data.org_info.logo %}
					<div class="p5">
						{% set logo = get_image_paths(params.form_data.org_info.logo) %}
						<img src="{{ logo['120x90'] }}" class="">
					</div>
				{% endif %}
				<div class="p5">
					<ul>
						<li><span class="bold">{{ params.form_data.org_info.title }}</span></li>
						<li><span>{{ params.form_data.org_info.org_post_address }}</span></li>
						<li><span>{{ params.form_data.org_info.org_phone }}</span></li>
					</ul>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="info-block-cont theme3 module hidden-sm">
		<div class="block-title">
			<span>Информация</span>
		</div>						
		<div class="bg-color-whitesmoke p20">
			<img class="mb30" src="{{staticfile('images/cat200x300.gif')}}">
		</div>
	</div>

	{% if form_data.last_news|length > 0 %}
		<div class="info-block-cont theme3 module">
			<div class="block-title">
				<span>Новости «Ярмарки»</span>
			</div>						
			<div class="banner style2">
				<ul class="ul-menu">
					{% for newsone in form_data.last_news %}
						{% set query_uri = '?em_client_email=noreply@yarmarka.biz&em_campaign_id=4&em_campaign_name=newsone_' ~ newsone.id %}
							<li><a target="_blank" rel="nofollow" href="">{{newsone.title}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}
{% endblock rightside %}

{% block page_name %}add{% endblock page_name%}