{% extends "layouts/user" %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{% include 'user/personal/promo' %}
{% endblock header %} 

{% block crumbs %}{% endblock crumbs %}

{% block content %}
	{{ parent() }}
	<div class="bg-color-whitesmoke p20">
		{% if user.linked_to_user %}
			<div class="p10" style="font-size:14px; padding:20px">
				<p class="p10" style="width:400px">Вы не можете просмотреть этот раздел т.к. Ваша учетная запись является подчиненной 
					для компании '{{company.org_name}}' ({{company.email}})</p>
				<p class="p10" style="width:400px">Отменить привязку учетной записи к другой компании вы можете, если перейдете по <a href="/user/reset_parent">ссылке</a>
				</p>
			</div>
		{% else %}
			{{ requestoldview(block_name, params) }}
		{% endif %}
	</div>
{% endblock content %}

{% block rightside %} 
	<div class="info-block-cont theme3 module">
		<div class="block-title">
			<span>Информация</span>
		</div>						
		<div class="bg-color-whitesmoke p20">
			Впишите email вашего сотрудника, нажмите кнопку "Добавить". Эти пользователи смогут добавлять объявления от имени Вашей компании. Учетная запись сотрудника должна быть с типом "Частное лицо"
		</div>
	</div>
{% endblock rightside %}
