{% extends "layouts/user" %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{% include 'user/add/promo' %}
{% endblock header %} 

{% block crumbs %}{% endblock crumbs %}

{% block content %}
	<div class="{{theme_class}}">
		<div class="menu-cont2 clearfix reg_forgot_block brt2">
			<div class="col-md-12 right clearfix">
				<a class="menu-item right" href="/user/registration"><span class="menu-item-cont">Регистрация</span></a>
				<a class="menu-item right" href="/user/login"><span class="menu-item-cont">Вход</span></a>
			</div>
		</div>
	</div>
	<div class="bg-color-whitesmoke p20">
		{% if user %}
		<div class="row mb10">
			<div class="col-md-3 col-sm-3 col-xs-12 labelcont">
				<label></label>
			</div>
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="row">
					<div class="col-md-10">
						Вы авторизованы и можете поменять пароль в <a href="/user/password">личном кабинете</a>
					</div>
				</div>				
			</div>
		</div>	
		{% elseif status == "success" %}
		<div class="row mb10">
			<div class="col-md-3 col-sm-3 col-xs-12 labelcont">
				<label></label>
			</div>
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="row">
					<div class="col-md-10">
						Вам на почту отправлена ссылка для восстановления пароля. Если письма нет, попробуйте <a href="/user/forgot_password">еще раз</a>, возможно вы неверно указали ваш email.
					</div>
				</div>				
			</div>
		</div>	
		{% elseif status == "failure" %}
		<div class="row mb10">
			<div class="col-md-3 col-sm-3 col-xs-12 labelcont">
				<label></label>
			</div>
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="row">
					<div class="col-md-10">
						Ссылка на восстановление пароля устарела, либо пользователь заблокирован или не найден. Попробуйте восстановить пароль <a href="/user/forgot_password">еще раз</a>.
					</div>
				</div>				
			</div>
		</div>	
		{% else %}
		<div class="form-cont">
			<form method="POST"  action="" id="element_list">			

				<div class="row mb10">
					<div class="col-md-3 col-sm-3 col-xs-12 labelcont">
						<label>Email</label>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-12">
						<div class="row">
							<div class="col-md-10">
								<div class="inp-cont {% if error %}error{% endif%}">
									<span class="required-star">*</span>
									<div class="input-group w100p">
										<span class="input-group-addon bg-color-whitesmoke"><i class="fa fa-envelope-o"></i></span>
										<input class="w100p" type="text" name="email" value="{% if params.email %} {{params.email}} {% endif%}"/>
									</div>
									{% if error %} 
									<span class="inform fn-error">
										<span>{{error}}</span>
									</span>
									{% endif %}

									<span class="inform">
										<span>Введите адрес email с которым регистрировались на сайте</span>
									</span>				
								</div>
							</div>
						</div>				
					</div>
				</div>				


				<div class="row mb20">
					<div class="col-md-3 col-sm-3 labelcont">
						<label></label>
					</div>
					<div class="col-md-9 col-sm-9">	
						<div class="row">
							<div class="col-md-10 ta-r">
								<button type="submit" onclick="$('#element_list').submit()" class="button button-style1 bg-color-blue btn-next">Далее <i class="fa fa-arrow-right"></i></button>
							</div>				
						</div>
					</div>
				</div>
			</form>
		</div>
		{% endif %}
	</div>
{% endblock %}

{% block rightside %} 
	<div class="info-block-cont theme3 module">
		<div class="block-title">
			<span>Что здесь?</span>
		</div>						
		<div class="bg-color-whitesmoke p20">
			На этой странице отражаются...
		</div>
	</div>
{% endblock rightside %}
