{% extends "layouts/user" %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}

{% endblock header %} 

{% block leftside %} 
	{% include 'user/personal/nav' %}
{% endblock leftside %}

{% block crumbs %}{% endblock crumbs %}

{% block content %}
	{% block info %} 
		<div class="info-block-cont theme3">
			<div class="block-title">
				<span>Информация</span>
			</div>
			<div class="bg-color-whitesmoke p10">
				Привязав свою учетную запись к учетной записи компании вы можете создавать объявления от ее лица
			</div>
			<div class="bg-color-whitesmoke p10">
				Чтобы ускорить процесс привязки, попросите владельца основной учетной записи этой компании, зайти в раздел "Сотрудники" и нажать кнопку "Добавить", напротив вашего email.
			</div>
		</div>
	{% endblock info %}
	<div class="bg-color-whitesmoke p10">
		{{ requestoldview(block_name, params) }}
	</div>
{% endblock content %}