{% extends "layouts/add" %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
{% endblock header %} 

{% block crumbs %}{% endblock crumbs %}

{% block content %}

	<div class="title_block clearfix reg_forgot_block brt2">
		<a class="fr ml15" href="/user/registration"><span class="menu-item-cont">Регистрация</span></a>
		<a class="fr ml15" href="/user/forgot_password"><span class="menu-item-cont">Забыли пароль?</span></a>
	</div>

	<div class="bg-color-whitesmoke p20">
		{% if user %}
			<div class="ta-c pt16 pb15">
				Вы уже авторизованы
			</div>
			{% else %}
			<div class="form-cont">
				<form method="POST"  action="" id="element_list">			
					{{ get_form_element('hidden','csrf', token) }}


					<div class="row mb10">
						<div class="col-md-3 col-sm-93 col-xs-12 labelcont">
							<label></label>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<div class="row">
								<div class="col-md-10">
									<div class="inp-cont">
										{{ ulogin_html }}
										{% if ulogin_errors %} 
											<span class="inform fn-error">
												{{ulogin_errors}}
											</span>
										{% endif %}
									</div>
								</div>
							</div>				
						</div>
					</div>	

					<div class="row mb10">
						<div class="col-md-3 col-sm-93 col-xs-12 labelcont">
							<label>Логин</label>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<div class="row">
								<div class="col-md-10">
									<div class="inp-cont  {% if error.login %}error{% endif%}">
										<span class="required-star">*</span>
										<div class="input-group w100p">
											<span class="input-group-addon bg-color-whitesmoke"><i class="fa fa-envelope-o"></i></span>
											<input class="w100p" type="text" name="login" value="{% if params.login %}{{params.login|trim}}{% endif%}"/>
										</div>
										{% if error.login %} 
											<span class="inform fn-error">
												{{error.login}}
											</span>
										{% endif %}
									</div>
								</div>
							</div>				
						</div>
					</div>	

					<div class="row mb10">
						<div class="col-md-3 col-sm-93 col-xs-12 labelcont">
							<label>Пароль</label>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<div class="row">
								<div class="col-md-10">
									<div class="inp-cont {% if error.pass or (not error.login and not error.pass and error) %}error{% endif%}">
										<span class="required-star">*</span>
										<div class="input-group w100p">
											<span class="input-group-addon bg-color-whitesmoke"><i class="fa fa-lock"></i></span>
											<input class="w100p" type="password" name="pass" value="{% if params.pass %}{{params.pass|trim}}{% endif%}"/>
										</div>
										{% if error.pass %} 
											<span class="inform fn-error">
												{{error.pass}}
											</span>
										{% endif %}

										{% if not error.login and not error.pass and error %}
											<span class="inform fn-error">
												{{error}}
											</span>
										{% endif %}
									</div>
								</div>
							</div>				
						</div>
					</div>			

					<div class="row mb20">
						<div class="col-md-3 col-sm-93 labelcont">
							<label></label>
						</div>
						<div class="col-md-9 col-sm-9">	
							<div class="row">
								<div class="col-md-10 ta-r">
									<button type="submit" onclick="$('#element_list').submit()" class="button button-style1 bg-color-blue btn-next">Вход <i class="fa fa-arrow-right"></i></button>
								</div>				
							</div>
						</div>
					</div>			
					<!-- enable teddyid -->
					{{ js("teddypass.js") }}
					<!-- /enable teddyid -->
				</form>
			</div>
			{% endif %}
	</div>
{% endblock content %}

{% block rightside %} 
	<div class="info-block-cont theme3 module">
		<div class="block-title">
			<span>Информация</span>
		</div>						
		<div class="bg-color-whitesmoke p20">
			Возможно вы уже регистрировались ранее?
		</div>
	</div>
{% endblock rightside %}
