{% extends "layouts/user" %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
{% endblock header %} 

{% block leftside %} 
	{% include 'user/personal/nav' %}
{% endblock leftside %}

{% block content %}
	{{ parent() }}
	<div class="bg-color-whitesmoke p20">
		{{ requestoldview(block_name, params) }}
	</div>
{% endblock content %}

{% block rightside %} 
	<div class="info-block-cont theme3 module">
		<div class="block-title">
			<span>Информация</span>
		</div>						
		<div class="bg-color-whitesmoke p20">
			Здесь отображается статистика автоматических загрузок, для клиентов, у которых подключена услуга "Массовая загрузка". <br><br>
			<span>
				Ознакомиться с условиями использования и узнать, как подключить услугу, Вы можете, перейдя по <a target="_blank" href="http://c.yarmarka.biz/ourservices/massovaya-zagruzka-obyavleniy-na-sayt">ссылке</a>.
			</span>
		</div>					
	</div>
{% endblock rightside %}
