{% extends "layouts/user" %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{% include 'user/personal/promo' %}
{% endblock header %} 

{% block crumbs %}{% endblock crumbs %}

{% block content %}
	{{ parent() }}
	<div class="bg-color-whitesmoke p20">
		<table class="orders-table table">
			<tr>
				<th class="col1">Дата</th>
				<th class="col2">Наименование</th>
				<th class="col3">Состояние</th>
				<th class="col4">Сумма</th>
			</tr>

			{% for order in orders %}
				<tr>
					<td class="col1">{{ order.created|date("d.m.Y H:i") }}</td>
					<td class="col1"><a href="/cart/order/{{order.id}}">Заказ #{{order.id}}</a></td> 
					<td class="col2">
						{{ order.state_name }}
						{% if order.state == 2 %}
							{{order.payment_date|date("d.m.Y H:i")}}
						{% endif %}
					</td> 
					<td class="col3">{{ order.sum }} р.</td> 
				</tr>
				<tr style="display:none;" class="info_<?=$order->id?>">
					<td colspan="3">
						{% for orderItem in orderitems[order.id] %}
							{{orderItem.title}}
							{{orderItem.price * orderItem.quantity}} руб.
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</table>
		{{ pagination }}
	</div>

{% endblock content %}

{% block rightside %}
	<div class="info-block-cont theme3 module">
		<div class="block-title">
			<span>Что здесь?</span>
		</div>						
		<div class="bg-color-whitesmoke p20">
			На этой странице отражаются...
		</div>
	</div>
{% endblock rightside %}