{% extends "layouts/user" %}

{% block js %}{{ parent() }}{{ js("lib/ajaxupload.js") }}{% endblock js %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
{% endblock header %} 

{% block leftside %} 
	{% include 'user/personal/nav' %}
{% endblock leftside %}

{% block content %}
	{{ parent() }}
	<div class="bg-color-whitesmoke p20">
		{% if user.linked_to_user %}
			<div class="p10" style="font-size:14px; padding:20px">
				<p class="p10" style="width:400px">Вы не можете просмотреть этот раздел т.к. Ваша учетная запись является подчиненной 
					для компании '{{company.org_name}}' ({{company.email}})</p>
				<p class="p10" style="width:400px">Отменить привязку учетной записи к другой компании вы можете, если перейдете по <a href="/user/reset_parent">ссылке</a>
				</p>
			</div>
		{% else %}
			{{ requestoldview(block_name, params) }}
		{% endif %}
	</div>
{% endblock content %}

{% block rightside %} 
	<div class="info-block-cont theme3 module">
		<div class="block-title">
			<span>Информация</span>
		</div>						
		<div class="bg-color-whitesmoke p20">
			Заполните информацию о Вашей компании. Загрузите отсканированную копию ИНН. Допустимые расширения файла .jpg, .png или .gif. Размер, не более 5 Мб.
		</div>
		<div class="bg-color-whitesmoke p20">
			Корректно заполненная информация о компании, повышает доверие.
		</div>
		<div class="bg-color-whitesmoke p20">
			Информация о компании проходит проверку модератором. Наиболее частые отказы в регистрации:
			<ul>
				<li class="p5">- вместо инн загружен файл, произвольного содержания</li>
				<li class="p5">- инн не прошел проверку по базе ЕГРЮЛ, объявления не соотвествуют видам деятельности компании</li>
				<li class="p5">- название компании не соответсвует действительности. Неправильно :"ИП", "Предприниматель", "Магазин" Правильно: "ИП Кирсанов В.П.", "Магазин 'Орхидея'"</li>
			</ul>
		</div>
		<div class="bg-color-whitesmoke p20">
			Многократное игнорирование сообщений от модератора, приводит к блокировке учетной записи и снятию объявлений.
		</div>

	</div>
{% endblock rightside %}
