{% extends "layouts/user" %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
{% endblock header %} 

{% block leftside %} 
	{% include 'user/personal/nav' %}
{% endblock leftside %}

{% block content %}
	{{ parent() }}
	<div class="p20">
		{% if subscriptions|length > 0 %}
		<div id="subscribe-cont">
			{% for subscription in subscriptions %}
				{% set info = subscription.get_data() %}
				<span>{{ info.title }}</span>
				<div class="bg-color-whitesmoke">
					{% if info.attributes %}
						<ul>
						{% for item in info.attributes %}
							<li>
								<b>{{ item.title }}: </b>
								{% if (item.type == 'list') %}
									{% if (item.value is iterable) %}
										{{ pluk(item.value, ('title'))|join(', ') }}
									{% else %}
										{{ item.value.title }}
									{% endif %}
								{% elseif (item.type == 'integer') %}
									{% if (item.value.min) %} от {{ item.value.min }}{% endif %}
									{% if (item.value.max) %} до {{ item.value.max }}{% endif %}
								{% endif %}
							</li>
						{% endfor %}
						</ul>
						<hr>
						<ul>
							{% if (info.search_text) %}<li><b>Строка поиска: </b>{{ info.search_text }}</li>{% endif %}
							{% if (info.with_photo) %}<li><b>Есть фото: </b>Да</li>{% endif %}
							{% if (info.only_private) %}<li><b>Только частные: </b>Да</li>{% endif %}
						</ul>
						{% else %}
						<p>Дополнительные критерии поиска не заданы</p>
					{% endif %}

					<form method="POST" class="fr ta-c">
						<input type="hidden" name="id" value="{{ subscription.id }}" />
						<input type="hidden" name="action" value="remove" />
						<button><i class="fa fa-times"></i></button>
					</form>

					<form method="POST" class="fr ta-c">
						<input type="hidden" name="id" value="{{ subscription.id }}" />
						<input type="hidden" name="action" value="enable" />
						<input type="hidden" name="value" value="{{ subscription.get_not_enabled() }}" />
						<button>{% if subscription.enabled %}<i class="fa fa-pause"></i>{% else %}<i class="fa fa-play"></i>{% endif %}</button>
					</form>
				</div>
			{% endfor %}
		</div>

		{% else %}
			<p>В настоящее время у вас нет подписок. вы можете подписаться на странице поиска.</p>
		{% endif %}
		
		
	</div>
{% endblock content %}

{% block rightside %}
	<div class="info-block-cont theme3 module">
		<div class="block-title">
			<span>Информация</span>
		</div>						
		<div class="bg-color-whitesmoke p20">
			В данном разделе Вы можете активировать или приостановить подписки на объявления
		</div>
	</div>
{% endblock rightside %}