{% extends "layouts/user" %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{% include 'user/personal/promo' %}
{% endblock header %} 

{% block crumbs %}{% endblock crumbs %}

{% block content %}
	{{ parent() }}
	<div class="bg-color-whitesmoke p20">
		{% for subscription in subscriptions %}
			{% set info = subscription.get_data() %}
			<div>{{ info.title }}</div>
			<ul>
				{% for item in info.attributes %}
					<li>
						<b>{{ item.title }}: </b>
						{% if (item.type == 'list') %}
							{% if (item.value is iterable) %}
								{{ pluk(item.value, ('title'))|join(', ') }}
							{% else %}
								{{ item.value.title }}
							{% endif %}
						{% elseif (item.type == 'integer') %}
							{% if (item.value.min) %} от {{ item.value.min }}{% endif %}
							{% if (item.value.max) %} до {{ item.value.max }}{% endif %}
						{% endif %}
					</li>
				{% endfor %}
				
				{% if (info.search_text) %}<li><b>Строка поиска: </b>{{ info.search_text }}</li>{% endif %}
				{% if (info.with_photo) %}<li><b>Есть фото: </b>Да</li>{% endif %}
				{% if (info.only_private) %}<li><b>Только частные: </b>Да</li>{% endif %}
			</ul>
			<form method="POST">
				<input type="hidden" name="id" value="{{ subscription.id }}" />
				<input type="hidden" name="action" value="remove" />
				<button>Удалить</button>
			</form>
			<form method="POST">
				<input type="hidden" name="id" value="{{ subscription.id }}" />
				<input type="hidden" name="action" value="enable" />
				<input type="hidden" name="value" value="{{ subscription.get_not_enabled() }}" />
				<button>{% if subscription.enabled %}Остановить{% else %}Активировать{% endif %}</button>
			</form>
		{% endfor %}
	</div>
{% endblock content %}

{% block rightside %}
	<div class="info-block-cont theme3 module">
		<div class="block-title">
			<span>Информация</span>
		</div>						
		<div class="bg-color-whitesmoke p20">
			Функционал подписок на новые объявления временно отключен
		</div>
	</div>
{% endblock rightside %}