<div class="{{theme_class}} crimson-theme br2" >
	<div class="menu-cont2 brb2 module">
		<div class="row">
			<div class="col-lg-5 col-md-3 col-sm-12 hidden-xs col-lg-push-7 col-md-push-9 clearfix">
				<div class="menu-item-wrp js-citymenu-dropdown-right" style="float: right;position: relative;">
					<span class="menu-item span-link city_change hidden-md hidden-xs hidden-sm" style="height: 100%;display: block;">
						еще <i class="fa fa-caret-down ml5"></i>
					</span>
					<span class="menu-item span-link city_change hidden-lg" style="height: 100%;display: block;">
						в другом городе <i class="fa fa-caret-down ml5"></i>
					</span>
				</div>
				{% for key, _city in  {'nefteyugansk':'г. Нефтеюганск','nizhnevartovsk':'г. Нижневартовск','surgut':'г. Сургут','tyumen':'г. Тюмень'} if key != city.seo_name %}
					{% set count = link_counters[domain(key, canonical_url, '')] %}
					{% if count is empty or count > 0 %}
						<a class="menu-item right visible-lg hidden-xs visible-sm hidden-md" href="{{ sameUrlOnAnotherDomain(key) }}"><span class="menu-item-cont">{{ _city }} <span class="count">{{count}}</span></span></a>
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-lg-7 col-md-9 col-sm-12 col-xs-12 col-lg-pull-5 col-md-pull-3 clearfix main_menu">
				<div class="menu-item w25p left green-dense-theme js-newsmenu-dropdown col-lg-push-3 col-md-push-3 col-sm-push-3 top-razdel">
					<span class="menu-item-cont hidden-sm hidden-xs" onclick="window.location='/novosti'">Новости<i class="fa fa-caret-down ml3"></i></span>
					<span class="menu-item-cont hidden-lg visible-sm visible-xs" data-link="/novosti">Категории новостей<i class="fa fa-caret-down ml3"></i></span>
				</div>
				<div class="hidden-lg hidden-md hidden-sm top_menu_icon green-dense-theme" onclick="$('.js-mainmenu-dropdown, .js-kuponmenu-dropdown, .city-companies').slideToggle();">
					<i class="fa fa-bars"></i>
				</div>
				<div class="menu-item w25p left iLight crimson-theme js-mainmenu-dropdown col-lg-pull-3 col-md-pull-3 col-sm-pull-3"><!--main-page-style iLight-disable-->
					<span class="menu-item-cont ta-c">Объявления<i class="fa fa-caret-down ml3"></i></span>
				</div>
				<div class="menu-item w25p left light-blue-theme js-kuponmenu-dropdown">
					<span class="menu-item-cont hidden-sm hidden-xs" onclick="window.location='/kupony'">Купоны и скидки<i class="fa fa-caret-down ml3"></i></span>
					<span class="menu-item-cont hidden-lg visible-sm visible-xs" data-link="/kupony">Купоны и скидки<i class="fa fa-caret-down ml3"></i></span>
				</div>
				<div class="menu-item w25p left purple-theme city-companies">
					<span class="menu-item-cont" onclick="window.location='/search_company'">Компании города</span>
				</div>
			</div>	
		</div>			
	</div>
</div>