<div class="blue-subtle-theme module">
	<div class="view-container brb2">
		<div class="row">
			<div class="col-md-6 items-cont">
				<div class="breadcrumbs-cont module">
					{% for crumb in crumbs %}
						{% if crumb.url %}
							<a href="{{ url(crumb.url) }}"  class="captionbold">{{crumb.title}}</a> /
						{% else  %}
							<h1 class="caption">{{crumb.title}}</h1>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div><!--view-container1-->
</div><!--skin-theme1-->

