{% extends "layouts/main_with_header" %}

{% block body %}
	
	{% block header %}
		{{ parent() }}
		{% block crumbs %} 
			Крошки
		{% endblock crumbs %}
	{% endblock header %} 
	<div class="row min-content-height">
		<div class="col-md-3 hidden-sm hidden-xs">
			{% block leftside %} 
				<div class="obj-control-head clearfix brt2">&nbsp;</div>
			{% endblock leftside %}
		</div><!--col-->
		<div class="col-md-6">
			{% block content %} 
				<div class="obj-control-head clearfix brt2">&nbsp;</div>
			{% endblock content %}
		</div><!--col-->
		<div class="col-md-3">
			{% block rightside %} 
				<div class="obj-control-head clearfix brt2">&nbsp;</div>
			{% endblock rightside %}
		</div><!--col-->
	</div><!--row-->

{% endblock body %}

{% block footer %} 
	{{ parent() }}
{% endblock footer %}


{% block page_name%}news_search{% endblock page_name %}