<% if (objects_found()) { %> 
	<p class="finded-header">Найдено <%=objects_found()%> объявлений. Нажмите Enter чтобы посмотреть все</p>
<% } %>
<div class="js-objects"></div>
<% if (pricerows_found()) { %> 
	<p class="finded-header">Найдено <%=pricerows_found()%> позиций в прайс-листах</p>
<% } %>
<div  class="js-pricerows"></div>