{% extends "layouts/main_with_header" %}

{% block body %}
	
	{% block header %} 
		{{ parent() }}
	{% endblock header %}

	{% block crumbs %}
		<div class="breadcrumbs-cont module mt10">
		{% for crumb in crumbs %}
			{% if crumb.url %}
				<a href="{{ url(crumb.url) }}">{{crumb.title}}</a> /
			{% else  %}
				<h1>{{crumb.title}}</h1>
			{% endif %}
		{% endfor %}
		</div>
	{% endblock crumbs %}

	<div class="row min-content-height">
		<div class="col-md-9">
			{% block content %} 
				<div class="obj-control-head clearfix brt2">&nbsp;</div>
			{% endblock content %}
		</div><!--col-->
		<div class="col-md-3">
			{% block leftside %} 
				<div class="obj-control-head clearfix brt2">&nbsp;</div>
			{% endblock leftside %}
		</div><!--col-->
	</div><!--row-->
	{% block templates %}
		{{ parent() }}
		<script id="template-mainmenu" type="text/template">
			{{ requestblock('block_twig/mainmenu', {'city_id': city.id}) }}
		</script>
	{% endblock templates %}
	
{% endblock body %}
{% block page_name%}article{% endblock page_name %}

