{% extends "layouts/main_with_header" %}

{% block body %}
	
	{% block header %} 
		{{ parent() }}
		{% include 'block/header/navigationline/simple' %}
	{% endblock header %} 

	{% block crumbs %}
		<div class="breadcrumbs-cont module mt10">
		{% for crumb in crumbs %}
			{% if crumb.url %}
				<a href="{{ url(crumb.url) }}">{{crumb.title}}</a> /
			{% else  %}
				<h1>{{crumb.title}}</h1>
			{% endif %}
		{% endfor %}
		</div>
	{% endblock crumbs %}

	<div class="row">
		<div class="col-md-12">
			{% block content %} 
				контент
			{% endblock content %}
		</div><!--col-->
	</div><!--row-->

	{% block footer %} 
		Футер
	{% endblock footer %} 

	{% block templates %}
		{{ parent() }}
		<script id="template-mainmenu" type="text/template">
			{{ requestblock('block_twig/mainmenu', {'city_id': city.id}) }}
		</script>
	{% endblock templates %}
	{%block page_name%}cart{% endblock page_name %}
{% endblock body %} 