{% extends "layouts/main_with_header" %}

{% block css %}
	{{ parent() }}
	{{ css("bootstrap.tables.min.css") }}
{% endblock css%}

{% block body %}
	
	{% block header %} 
		{{ parent() }}
	{% endblock header %} 

	{% block crumbs %}{% endblock crumbs %}

	<div class="row min-content-height">
		<div class="col-md-9">
			{% block content %} 
				контент
			{% endblock content %}
		</div><!--col-->
		<div class="col-md-3">
			{% block rightside %} {% endblock rightside %}
		</div><!--col-->
	</div><!--row-->

	{% block footer %}{{parent()}}{% endblock footer %} 

	{% block templates %}
		{{ parent() }}
		<script id="template-mainmenu" type="text/template">
			{{ requestblock('block_twig/mainmenu', {'city_id': city.id}) }}
		</script>
	{% endblock templates %}

	
{% endblock body %} 
{%block page_name%}cart{% endblock page_name %}