{% block body %}
	<div class="cf input-style-v2">
		<div class="min-content-height">
				{% block content %} 
					контент
				{% endblock content %}
		</div><!--row-->
	</div>
	{% block footer %}
		<div id="windows"></div>
		<script>
		  var _globalSettings =  { 
		        host: '', 
		        page: 'cart', 
		        data: '', 
		        category_id: '',
		        query_params: '[]',
		        city_id: ''
		    };
		</script>
		<script data-main="/js/adaptive/khjs/main.js" src="/js/adaptive/khjs/lib/require.js"></script>
	{% endblock footer %}
{% endblock body %}

