{% extends "layouts/main_with_header" %}

{% block body %} 
	{% block header %} 
		{{ parent() }}
		{{ requestblock('block_twig/navigationline') }}
		{{ requestblock('block_twig/adslinkline') }}

	{% endblock header %}

	{% block crumbs %} 
		Крошки
	{% endblock crumbs %}
	
	<div class="row">
		{% block leftside %} 
			Левый
		{% endblock leftside %}

		{% block rightside %} 
			Правый
		{% endblock rightside %}
	</div>

	{% block footer %} 
		Время генерации php {{ php_time }}
	{% endblock footer %}
{% endblock body %} 