{% extends "layouts/main_with_header" %}

{% block body %}
	
	{% block header %} 
		{{ parent() }}
		{{ requestblock('block_twig/adslinkline', {'city_id': city.id, 'category_id': category.id, 'theme_class': theme_class}) }}
	{% endblock header %}

	{% block crumbs %} 
		Крошки
	{% endblock crumbs %}

	<div class="row module hidden-lg">
		<div class="col-md-8 ">
			<div class="banner module {zoneID: 18 } hidden-xs"></div>
		</div>
	</div>
	
	<div class="row min-content-height">
		{% block leftside %} 
			Левый
		{% endblock leftside %}

		{% block rightside %} 
			Правый
		{% endblock rightside %}
	</div>

{% endblock body %}


{% block footer %} 
	{{ parent() }}
{% endblock footer %}

{% block footer_subblocks %}
	
	<div class="hidden-xs hidden-sm">
	       	{% include "block/footer/detail_links"%}
	</div>



{% endblock footer_subblocks %}


{%block page_name%}detail{% endblock page_name %}