{% extends "layouts/main_with_header" %}

{% block body %}
	
	{% block header %} 
		{{ parent() }}
		{% include 'block/header/navigationline/simple' %}
		{{ requestblock('block_twig/adslinkline', {'city_id': city.id, 'category_id': category.id}) }}
	{% endblock header %}

	{% block crumbs %} 
		Крошки
	{% endblock crumbs %}
	
	<div class="row">
		{% block leftside %} 
			Левый
		{% endblock leftside %}

		{% block rightside %} 
			Правый
		{% endblock rightside %}
	</div>

	{% block footer %} 
		{% if php_time %}
			<div class="info-block-cont theme2 module">
				<div class="block-title">
						<span>Timing for admin</span><i class="fa fa-eye fa-lg ml5" onclick="$('.js-admin-control-cont').toggleClass('hidden');"></i>
				</div>
				<div class="hidden js-admin-control-cont">
					{{ php_time }}
				</div>
			</div>
		{% endif %}
	{% endblock footer %}
	
	{% block templates %}{{ parent() }}{% endblock templates %}
	{%block page_name%}detail{% endblock page_name %}
{% endblock body %} 