{% extends "layouts/main_with_header" %}

{% block body %}
	
	{% block header %} 
		{{ parent() }}
		{% set theme_class = 'crimson-theme' %}
		{% include 'block/header/navigationline/simple' %}
		{{ requestblock('block_twig/adslinkline', {'city_id': city.id, 'category_id': category.id}) }}
	{% endblock header %}

	{% block crumbs %} 
		Крошки
	{% endblock crumbs %}
	
	<div class="row min-content-height">
		{% block leftside %} 
			Левый
		{% endblock leftside %}

		{% block rightside %} 
			Правый
		{% endblock rightside %}
	</div>

	{% block footer %} 
		{{ parent() }}
	{% endblock footer %}
	
	{% block templates %}
		{{ parent() }}
		<script id="template-mainmenu" type="text/template">
			{{ requestblock('block_twig/mainmenu', {'city_id': city.id}) }}
		</script>
	{% endblock templates %}
{% endblock body %} 

{%block page_name%}detail{% endblock page_name %}