{% extends "layouts/main_with_header" %}

{% block body %}
	
	
	{% block header %} 
		{{ parent() }}
		{% include 'index/header/navigationline' %}
	{% endblock header %} 
	
	<div class="row">
		{% block leftside %}
		{% endblock leftside %}

		{% block rightside %}
		{% endblock rightside %}
	</div>

	{% block footertext %} 
		сео текст в футере
	{% endblock footertext %}

	{% block footer %} 
		Время генерации php {{ php_time }}
	{% endblock footer %} 

	{% block templates %}{{ parent() }}{% endblock templates %}
	{%block page_name%}index{% endblock page_name %}
{% endblock body %} 