{% extends "layouts/main_with_header" %}

{% block body %}
	
	
	{% block header %} 
		{{ parent() }}
	{% endblock header %} 
	
	
	{% block content %}
	{% endblock content %}

	{% block footertext %} 
		сео текст в футере
	{% endblock footertext %}

	
{% endblock body %}

{% block footer %}

	{{ parent() }}

{% endblock footer %}

{% block footer_subblocks %}
	
	    <div class="hidden-xs hidden-sm">
	        {{ requestblock('block_category/neiboors_map', {'category': category} ) }}
	    </div>

	    <hr  class="hidden-xs hidden-sm block">

	    <div class="hidden-xs hidden-sm">
	        {{ requestblock('block_category/category_map' ) }}
	    </div>

	    <hr  class="hidden-xs hidden-sm block">

	    <div class="hidden-xs hidden-sm">
	        {% include 'block/footer/payment_systems' %}
	    </div>

{% endblock footer_subblocks %}

{%block page_name%}index{% endblock page_name %}