{% extends "layouts/main_with_header" %}



{% block body %} 
	{% block header %} 
		{{ parent() }}
	{% endblock header %} 

	{% block crumbs %} 
		Крошки
	{% endblock crumbs %}

	{% block subcategories %}{% endblock subcategories %}

	{% block filters %} 
		Фильтры
	{% endblock filters %}

	<div class="row">
		<div class="col-md-9">
			{% block content %} 
				контент
			{% endblock content %}
		</div><!--col-->
		<div class="col-md-3">
			{% block rightside %} 
				Правая сторона
			{% endblock rightside %}
		</div><!--col-->
	</div><!--row-->

	<div class="row">
		<div class="text-cont module">
			{% block footertext %} 
				сео текст в футере
			{% endblock footertext %}
		</div>
	</div>

	{% block footer %} 
		Футер
	{% endblock footer %} 

	{% block templates %}{{ parent() }}{% endblock templates %}
{% endblock body %} 