{% extends "layouts/main" %}

{% block body %} 
	{% block header %}
		<header>
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		</header>
	{% endblock header %}
	{% block templates %}
		<script id="template-usermenu" type="text/template">
			{% include "block/menu/user" %}
		</script>
		<script id="template-newsmenu" type="text/template">
			{% include "block/menu/news" %}
		</script>
		<script id="template-kuponmenu" type="text/template">
			{% include "block/menu/kupon" %}
		</script>
	{% endblock templates %}
{% endblock body %} 
