<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} {% endblock title%}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block meta %} {% endblock meta%}
		<link rel="shortcut icon" href="{{ staticfile("images/favicon.ico") }}">
		
		{{ css("develop/bootstrap.min.css") }}
		{{ css("develop/iLight.css") }}
		{{ css("develop/css.css") }}

		{{ js("jquery.min.js") }}
		{{ js("jquery.menu-aim.js") }}

		{% block css %}{% endblock css%}
		{% block js %}{% endblock js%}
	</head>
	<body class="{% block bodyclass %}{% endblock bodyclass%}">
		<div class="wrapper container {% block wrapperclass %}{% endblock wrapperclass %}">
			{% block body %}{% endblock body%}
		</div>
	</body>
</html>