<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock title%}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Description" content="{% block meta_description %}{% endblock meta_description%}">
        <meta name="robots" content="{% block meta_robots %}all{% endblock meta_robots%}">
        <link rel="shortcut icon" href="{{ staticfile("images/favicon.ico") }}">
        {% if show_canonical %}
            <link rel="canonical" href="{{ url(canonical_url) }}">
        {% endif %}

        {% block css %}
            {{ css("bootstrap.min.css") }}
            {{ css("bootstrap.tables.min.css") }}
            {{ css("font-awesome.css") }}
            {{ css("iLight.css") }}
            {{ css("css.css") }}
        {% endblock css%}

        {% block js %}
            {{ js("lib/jquery.js") }}
			{{ js("lib/jquery.openxtag.min.js") }}
        {% endblock js%}

    </head>
    <body class="{% block bodyclass %}{% endblock bodyclass%}">
        <div id="popup-layer" class="z200" style="display: none;"></div>
        <div class="wrapper container {% block wrapperclass %}{% endblock wrapperclass %}">
			<div class="banner module {zoneID: 42}"></div>			
            {% block body %}
                {% block footer %} 
                    {% include 'block/footer/linkline' %}
                    {% if php_time %}
                        <div class="info-block-cont theme2 module">
                            <div class="block-title">
                                    <span>Timing for admin</span><i class="fa fa-eye fa-lg ml5" onclick="$('.js-admin-control-cont').toggleClass('hidden');"></i>
                            </div>
                            <div class="hidden js-admin-control-cont">
                                {{ php_time }}
                            </div>
                        </div>
                    {% endif %}
                {% endblock footer %}
            {% endblock body%}
        </div>
        <div id="windows"></div>
        <!-- inject:js -->
        <script>
          var _globalSettings =  { 
                host: '{{ s_host }}', 
                page: '{% block page_name %}index{% endblock page_name%}', 
                data: window.data, 
                category_id: '{{category_id}}',
                query_params: '{{query_params_for_js}}',
                city_id: '{{city_id}}'
            };
        </script>
        <script data-main="/static/develop/js/main.js" src="/static/develop/js/lib/require.js"></script>
        {% if (objects_for_map) %}
            <script id="objects_for_map" type="text/template">{{objects_for_map}}</script>
        {% endif %}
        <!-- endinject -->
    </body>
</html>