{% extends "layouts/main_with_header" %}

{% block js %}{{ parent() }}{% endblock js%}

{% block body %}
	
	{% block header %}
		{{ parent() }}
		{% include 'block/header/navigationline' %}
		{{ requestblock('block_twig/adslinkline',{'city_id': city.id, 'category_id': category.id, 'theme_class': theme_class}) }}
	{% endblock header %} 

	{% block crumbs %} 
		Крошки
	{% endblock crumbs %}

	{% block subcategories %}{% endblock subcategories %}

	{% block filters %} 
		Фильтры
	{% endblock filters %}

	<div class="row min-content-height">
		<div class="col-md-9">
			{% block content %}
				контент
			{% endblock content %}
		</div><!--col-->
		<div class="col-md-3">
			{% block rightside %}
				Правая сторона
			{% endblock rightside %}
		</div><!--col-->
	</div><!--row-->

	<div class="row">
		<div class="text-cont module">
			{% block footertext %} 
				сео текст в футере
			{% endblock footertext %}
		</div>
	</div>

	{% block footer %} 
		{{ parent() }}
	{% endblock footer %}

	{% block templates %}
		{{ parent() }}
		<script id="template-mainmenu" type="text/template">
			{{ requestblock('block_twig/mainmenu', {'city_id': city.id}) }}
		</script>
		<script id="template-citymenu" type="text/template">
			{{ requestblock('block_twig/othercities', {'city_id': city.id}) }}
		</script>
	{% endblock templates %}
{% endblock body %}

{%block page_name%}search{% endblock page_name %}