{% extends "layouts/main_with_header" %}

{% block css %}
	{{ parent() }}
{% endblock css%}

{% block body %}
	
	{% block header %} 
		{{ parent() }}
	{% endblock header %}

	<div class="row min-content-height dotes">
		{% block content %} {% endblock content %}
	</div><!--row-->
	
	
{% endblock body %}

{% block footer %}
	{{ parent() }}
{% endblock footer %}

{% block page_name%}user{% endblock page_name %}

