{% extends "layouts/main_with_header" %}

{% block css %}
	{{ parent() }}
{% endblock css%}

{% block body %}
	
	{% block header %} 
		{{ parent() }}
	{% endblock header %}

	<div class="row min-content-height">
		{% block content %} {% endblock content %}
	</div><!--row-->
	
	{% block footer %} 
		{{ parent() }}
	{% endblock footer %}

	{% block templates %}
		{{ parent() }}
		<script id="template-mainmenu" type="text/template">
			{{ requestblock('block_twig/mainmenu', {'city_id': city.id}) }}
		</script>
	{% endblock templates %}
	
{% endblock body %}

{% block page_name%}user{% endblock page_name %}

