{% extends "layouts/main_with_header" %}

{% block title %}
	{% for crumb in crumbs %}{{crumb.title}}{% endfor %}
{% endblock title %}

{% set theme_class = 'blue-subtle-theme' %}

{% block css %}
	{{ parent() }}
	{{ css("bootstrap.tables.min.css") }}
{% endblock css%}

{% block body %}
	
	{% block header %} 
		{{ parent() }}
	{% endblock header %}

	{% block crumbs %}
		{% include 'user/personal/crumbs' %}
	{% endblock crumbs %}

	<div class="row min-content-height">
		<div class="col-md-3">
			{% block leftside %} 
				Левая сторона
			{% endblock leftside %}
		</div><!--col-->
		<div class="col-md-6">
			{% block content %} 
				<div class="{{theme_class}}">
					<div class="menu-cont2 clearfix brt2">&nbsp;</div>
				</div>
			{% endblock content %}
		</div><!--col-->
		<div class="col-md-3">
			{% block rightside %} 
				Правая сторона
			{% endblock rightside %}
		</div><!--col-->
	</div><!--row-->

	{% block footer %}
		{{ parent() }}
	{% endblock footer %}
	
	{% block templates %}
		{{ parent() }}
	{% endblock templates %}
	
{% endblock body %}

{% block page_name%}user{% endblock page_name %}

