{% if newsTitle is empty %}
	{% set newsTitle = 'noTitle' %}
{% endif %}

{% set currentDate = "now"|date("m.d.y") %}
{% set today = 'Сегодня' %}
{% if catTitle and reverse %} <!-- Вывод для всем рубрикам, кроме выбранной -->
	{% include 'search/news/result' %}
{% endif %}

{% set itemsPerCategory = 6 %}

{% if catTitle and reverse %}
	<div class="title_block brt2 module">Читайте также:</div>
{% elseif catTitle %}
	<div class="title_block brt2 module">Другие новости в этой категории</div>
{% else %}
	{% set catTitle = 'all' %}
{% endif %}

{% if newsTitle is empty %}
	{% set newsTitle = 'noTitle' %}
{% endif %}

{% set currentDate = "now"|date("d.m.y") %}
{% set today = 'Сегодня' %}

<div class="news_cat_block">
	{% if catTitle and reverse %} <!-- Вывод для всем рубрикам, кроме выбранной -->
		{% for item in data %}
			{% if item.id != catTitle and item.title != catTitle %}
				<div class="row">
					<div class="col-md-12">
						<h2><a href="{{ item.url }}" style="color:#333;">{{ item.title }}</a></h2>
						<div class="row" style="padding-bottom:15px;">
							{% for innerItem in item.items %}
								{% if loop.first %}
									<div class="col-md-6 clearfix main_cat_news">
										<div class="date light fs12 mb10">{{ innerItem.date|date('m:h') }} 
											{% if innerItem.date|date('d.m.y') == currentDate %}
												<span>{{ today }}</span>
											{% else %}
												<span>{{ innerItem.date|date('d.m.y') }}</span>
											{% endif %}
										</div>
										<img src="{{ innerItem.image }}" />
										<a href="{{ innerItem.url }}" class="fs16">{{ innerItem.title}}</a><br><br>
											{{ innerItem.short_text }}
									</div>
								{% endif %}
							{% endfor %}
							<div class="col-md-6">
								<div class="row">
									{% for innerItem in item.items %}
										{% if loop.index != 1 and loop.index <= itemsPerCategory %}
											<div class="col-md-12 col-sm-6 other_cat_news">
												<div class="date light fs12">{{ innerItem.date|date('m:h') }} 
													{% if innerItem.date|date('d.m.y') == currentDate %}
														<span>{{ today }}</span>
													{% else %}
														<span>{{ innerItem.date|date('d.m.y') }}</span>
													{% endif %}
												</div>
												<a href="{{ innerItem.url }}">{{ innerItem.title|slice(0,80)}}...</a>
											</div>
										{% endif %}
									{% endfor %}
								</div>
								<a href="{{ item.url }}" class="">Читать далее..</a>
							</div>
						</div>
					</div>
				</div>
				<hr>
			{% endif %}
		{% endfor %}
	{% elseif catTitle == 'all' %} <!-- Вывод для всем рубрикам -->
		{% for item in data %}
			<div class="row" data-role="main_page_news" data-category="{{ item.id }}" data-pages="{{ item.pages }}">
				<div class="col-md-12">
					<h2><a href="{{ item.url }}" style="color:#333;">{{ item.title }}</a></h2>
					<div class="row" style="padding-bottom:15px;">
						{% for innerItem in item.items %}
							{% if loop.first %}
								<div class="col-md-6 clearfix main_cat_news">
									<div class="date light fs12 mb10">{{ innerItem.date|date('m:h') }}
										{% if innerItem.date|date('d.m.y') == currentDate %}
											<span>{{ today }}</span>
										{% else %}
											<span>{{ innerItem.date|date('d.m.y') }}</span>
										{% endif %}
									</div>
									<img src="{{ innerItem.image }}" />
									<a href="{{ innerItem.url }}" class="fs16">{{ innerItem.title}}</a><br><br>
											{{ innerItem.short_text }}
								</div>
							{% endif %}
						{% endfor %}
						<div class="col-md-6">
							<div class="row">
								{% for innerItem in item.items %}
									{% if loop.index != 1 %}
										<div class="col-md-12 col-sm-6 other_cat_news">
											<div class="date light fs12">{{ innerItem.date|date('m:h') }} 
												{% if innerItem.date|date('d.m.y') == currentDate %}
													<span>{{ today }}</span>
												{% else %}
													<span>{{ innerItem.date|date('d.m.y') }}</span>
												{% endif %}
											</div>
											<a href="{{ innerItem.url }}">{{ innerItem.title|slice(0,80)}}...</a>
										</div>
									{% endif %}
								{% endfor %}
								<div data-role="append_container">

								</div>
							</div>
							<a href="{{ item.url }}" class="">Читать далее..</a>
						</div>
					</div>
				</div>
			</div>
			<hr>
		{% endfor %}
	{% else %} <!-- Вывод для одной рубрики -->
		{% for item in data %}
			{% if item.id == catTitle or item.title == catTitle %}
				<div class="other_cat_news" id="same_cat_news">
					<div class="row">
						{% for innerItem in item.items %}
							{% if innerItem.title != newsTitle %}
								<div class="col-md-6 col-sm-6 masonry">
									<div class="news_wrap">
										<div class="date light fs12">{{ innerItem.date|date('m:h') }} 
											{% if innerItem.date|date('d.m.y') == currentDate %}
												<span>{{ today }}</span>
											{% else %}
												<span>{{ innerItem.date|date('d.m.y') }}</span>
											{% endif %}
										</div>
										<p><a href="{{ innerItem.url }}" class="fs16">{{innerItem.title}}</a></p>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div id="button-next" class="clearfix" data-category="{{ item.id }}" data-pages="{{ item.pages }}">
					
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}

	
</div>

<!-- Самая главная новость --> 
<div class="main_news_block module hidden">
	<div class="row">
		<div class="col-lg-12">
			<div class="main_img"><!-- Изображение -->
				<img src="http://kntu.info/uploads/images/News_2_1_LzaJh.jpeg" alt="">
			</div>
			<div class="main_title">
				<span class="date fs14">11.01</span> <a href="#">Самая главная новость! Самая главная новость!</a>
			</div>
			<div class="main_content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repellat laborum earum harum quisquam itaque voluptates, nostrum ducimus reiciendis deserunt omnis iste aliquam corporis ratione fuga aut in quos amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, obcaecati earum corrupti ea...
				<div class="read_more">
					<a href="#">Читать далее</a>
				</div>
			</div>
		</div>
	</div>
</div>