{% extends "layouts/main_with_header" %}

{% set theme_class = 'crimson-theme' %}

{% block body %}
	
	{% block header %} 
		{{ parent() }}
		{{ requestblock('block_twig/adslinkline',{'city_id': city.id, 'category_id': category.id, 'theme_class': theme_class}) }}
	{% endblock header %} 

	{% block subcategories %}{% endblock subcategories %}

	{% block filters %} 
		Фильтры
	{% endblock filters %}
	<div class="row">
		<div class="col-md-9">
			<div class="search_wrap main_block">
				{% block content %}
					контент
				{% endblock content %}
			</div>
			{% block last_views %}
				Последние просмотренные
			{% endblock last_views %}
		</div><!--col-->
		<div class="col-md-3 right-side">
			<div class="row">
				<div class="col-md-12">
					{% block map %}Карта{% endblock map %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{% block rightside %}Правая сторона{% endblock rightside %}
				</div>
			</div>
		</div><!--col-->
	</div><!--row-->

	<div class="row">
		<div class="text-cont module">
			{% block footertext %} 
				сео текст в футере
			{% endblock footertext %}
		</div>
	</div>

	{% block footer %} 
		{{ parent() }}
	{% endblock footer %} 

	{% block templates %}
		{{ parent() }}
	{% endblock templates %}
{% endblock body %}

{%block page_name%}search{% endblock page_name %}