{% extends "layouts/main_with_header" %}

{% set theme_class = 'crimson-theme' %}

{% block body %}
	
	{% block header %} 
		{{ parent() }}
		{% include 'block/header/navigationline' %}
		{{ requestblock('block_twig/adslinkline',{'city_id': city.id, 'category_id': category.id, 'theme_class': theme_class}) }}
	{% endblock header %} 

	{% block crumbs %} 
		Крошки
	{% endblock crumbs %}

	{% block subcategories %}{% endblock subcategories %}

	{% block filters %} 
		Фильтры
	{% endblock filters %}

	<div class="row">
		<div class="col-md-7">
			{% block content %}
				контент
			{% endblock content %}
		</div><!--col-->
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-12">
					{% block map %}Карта{% endblock map %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{% block rightside %}Правая сторона{% endblock rightside %}
				</div>
			</div>
		</div><!--col-->
	</div><!--row-->

	<div class="row">
		<div class="text-cont module">
			{% block footertext %} 
				сео текст в футере
			{% endblock footertext %}
		</div>
	</div>

	{% block footer %} 
		{% if php_time %}
			<div class="info-block-cont theme2 module">
				<div class="block-title">
						<span>Timing for admin</span><i class="fa fa-eye fa-lg ml5" onclick="$('.js-admin-control-cont').toggleClass('hidden');"></i>
				</div>
				<div class="hidden js-admin-control-cont">
					{{ php_time }}
				</div>
			</div>
		{% endif %}
	{% endblock footer %} 

	{% block templates %}
		{{ parent() }}
		<script id="template-mainmenu" type="text/template">
			{{ requestblock('block_twig/mainmenu', {'city_id': city.id}) }}
		</script>
		<script id="template-citymenu" type="text/template">
			{{ requestblock('block_twig/othercities', {'city_id': city.id}) }}
		</script>
	{% endblock templates %}
	
{% endblock body %}

{%block page_name%}search{% endblock page_name %}