{% extends "layouts/cart" %}

{% set theme_class = 'blue-subtle-theme' %}

{% block header %}
	{{ parent() }}
{% endblock header %}

{% block leftside %} 
	{% include 'user/personal/nav' %}
{% endblock leftside %}


{% block content %}
	<p class="p10 fs16 ">Укажите контактные данные, для связи с Вами. </p>
	<form action="/cart/electronic_delivery/{{ order.id }}" method="POST" id="js-electronic_delivery_form">
		
		<div class="row">
				<div class="col-lg-12 p20">
					<div class="js-error errors-cont mb20 red">
						{% if errors %}
							{% set err_values = errors|values %}
							{{ err_values|join("<br>") }}
						{% endif %}
					</div>
				</div>
			</div>

		<div class="p20 form-cont">
			<div class="row">
				<div class="col-md-3 labelcont">
					<label>E-mail</label>
				</div>
				<div class="col-md-5 mb20">
					<div class="input-group w100p">
						<span class="input-group-addon bg-color-whitesmoke"><i class="fa fa-envelope-o"></i></span>
						{% if (user) %}
							<input class="input fields w100p" type="text" name="email" value="{{ user.email }}" >
						{% else  %}
							<input class="input fields w100p" type="text" name="email" value="{{ post.email }}">
						{% endif %}
					</div>
				</div>
				<div class="col-md-4">На указанный email будут отправлены купоны на приобретенные услуги</div>
			</div>

			<div class="row">
				<div class="col-md-3 labelcont">
					<label>Имя</label>
				</div>
				<div class="col-md-5 mb20">
					<div class="input-group w100p">
						<span class="input-group-addon bg-color-whitesmoke"><i class="fa fa-user"></i></span>
						<input class="input fields w100p" type="text" name="name" value="{{ post.name }}">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 labelcont">
					<label>Мобильный телефон</label>
				</div>
				<div class="col-md-5 mb20">
					<div class="input-group w100p">
						<span class="input-group-addon bg-color-whitesmoke"><i class="fa fa-mobile-phone"></i></span>
						<input class="input fields w100p js-mobile-phone" type="text" name="phone" value="{{ post.phone }}">
					</div>
				</div>
				<div class="col-md-4 hidden-xs" style="height: 50px;">&nbsp;</div>
				<hr style="margin-top: 20px;">
				<div class="col-lg-12">На указанный мобильный телефона будет отправлен номер купона. Также, имя и мобильный телефон у Вас могут спросить в момент предъявления купона (или номера) поставщику услуги.</div>
			</div>

			<div class="ta-r mb20">
				<span class="button button-style1 bg-color-blue btn-next" onclick="$('#js-electronic_delivery_form').submit();">Сохранить <i class="fa fa-arrow-right"></i></span>
			</div>
		</div>
	</form>
{% endblock content %}
