{% extends "layouts/cart" %}


{% block content %} 
	<div class="eshop-cont cart-cont page-addobj w800" style="margin:auto;">
		<h1>Корзина</h1>
		{% if cartTempItems|length == 0 %}
			<p class="msg">Корзина пуста</p>
			
		{% endif %}
		
		<table class="cart-table table table-bordered">
			<tr>
				<th>#</th>
				<th>Наименование</th>
				<th>Параметры</th>
				<th>Цена</th>
				<th>Сумма</th>
				<th></th>
			</tr>
			{% set i = 1 %}
			{% for cartItem in cartTempItems if cartItem.type == 'object' %}
				{% if loop.first %}
					<tr><td colspan="6">Купоны</td></tr>
				{% endif %}
				{% include 'cart/temp_item/object' %}
				{% set i = i + 1 %}
			{% endfor %}

			{% for cartItem in cartTempItems if cartItem.type != 'object' %}
				{% if loop.first %}
					<tr><td colspan="6">Услуги для объявлений</td></tr>
				{% endif %}
				{% include 'cart/temp_item/other' %}
				{% set i = i + 1 %}
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>		
				<td></td>
				<td class="js-endsum">{{ sum }} руб.</td>
				<td></td>
			</tr>
		</table>
		
		{% if user %}
			<div class="ta-r mb20">
				<input type="submit" class="js-save button submit w100 button-style1 bg-color-blue" value="Далее" data-next-page="{{next_page}}">
			</div>
		{% else %}
			<div class="ta-l mb20">
				<a href="/user/login?return=cart">Вход</a>
				<a href="/user/registration?return=cart">Регистрация</a>
			</div>
		{% endif %}
			
		<div class="js-error errors-cont mb20 red"></div>	
		
	</div>
{% endblock content %}

{% block rightside %} 
	Правая сторона
{% endblock rightside %}