{% extends "layouts/cart" %}

{% block header %}
{% endblock header %}

{% block content %}
	<form id="cart-form">
		{% if cartTempItems|length > 0 %}
			<p class="p10 fs16 ">Купоны зарезервированы за Вами. Необходимо произвести оплату в течении 30 минут</p>
		{% endif %}
		<div>
			<div style="font-size:18px;margin:30px auto;">
				{% if cartTempItems|length == 0 %}
					<p class="msg p20" style="font-size:20px;">Ваша Корзина пуста</p>
				{% else %}
					{% set error = FALSE %}
					<table class="cart-table bs-table">
						<tr >
							<th class="fs18">Наименование</th>
							<th class="fs18">Параметры</th>
							<th class="fs18">Цена</th>
							<th class="fs18"></th>
							<th class="fs18"></th>
						</tr>
						
						{% set i = 1 %}

						{% for cartItem in cartTempItems if cartItem.service.name == 'kupon' %}
							{% include 'cart/temp_item/kupon' %}
							{% set i = i + 1 %}
						{% endfor %}

					</table>

					<div class="ta-r mb20">
						Итоговая стоимость <span>{{sum}} руб.</span>
					</div>
					<div class="ta-r mb20">
						{% if not error %}
						<span class="js-save button_v2 bg-color-blue button-style1 p20 white br3" data-next-page="{{next_page}}">Оформить заказ<i class="fa fa-angle-double-right fa-lg ml5"></i></span>
						{% endif %}
					</div>
						
					<div class="js-error errors-cont mb20 red">{% if error %}{{error}}{% endif %}</div>
				{% endif %}
			</div>
		</div>
	</form>
{% endblock content %}

{% block rightside %}{% endblock rightside %}