<div class="labelcont">
	<label><span></span></label>
</div>
<div class="fieldscont mb10">
	<div class="inp-cont-short">
		<div class="pb4">Введите слово с картинки</div>
		<div class="inp-cont {% if error.captcha %}error{% endif%}">
			<span class="required-label">*</span>
			{{captcha}}
			<input class="w100p" id="captcha_number" type="text" name="captcha" value="{% if params.captcha %} {{params.captcha}} {% endif%}" autocomplete="off"/>
			{% if error.captcha %} 
				<span class="inform fn-error">
					{{error.captcha}}
				</span>
			{% else %}
				<span class="inform">
					на русском языке
				</span>
			{% endif %}					
		</div>
	</div>
</div>