<div class="footer-menu brt3">
    <a href="/add"  rel="nofollow">Подать объявление</a>
    <a class="hidden-xs" href="http://feedback.yarmarka.biz/" target="_blank"  rel="nofollow">Техподдержка</a>
    <a class="hidden-xs" href="/commercial"  rel="nofollow">Рекламодателям</a>
    <a class="hidden-xs" href="/article/pravila-razmeshcheniya-obyavlenii"  rel="nofollow">Правила</a>
    <a class="hidden-xs" href="/article/help"  rel="nofollow">Помощь</a>
    <a target="_blank" href="/article/informatsiya-o-kompanii"  rel="nofollow">О компании</a>
</div>
