<div class="gray-theme ">
	<div class="">
		<div class="row">
			<div class="{% if onPageFlag == 'add' %} col-md-9 {% else %} col-md-12 {% endif %} brt3" {% if onPageFlag == 'add' %}style="margin-bottom:20px;"{% endif %}>
				<div class="menu-cont2">
					<span class="menu-item dib hidden-xs"><span onclick="window.location='/add'" class="menu-item-cont">Подать объявление</span></span>
					<span class="menu-item dib hidden-xs"><span onclick="window.location='http://feedback.yarmarka.biz/'" class="menu-item-cont">Техподдержка</span></span>
					<span class="menu-item dib hidden-xs"><span onclick="window.location='http://c.yarmarka.biz/ourservices/reklamodatelyam'" class="menu-item-cont">Рекламодателям</span></span>
					<span class="menu-item dib hidden-xs"><span onclick="window.location='/article/pravila-razmeshcheniya-obyavlenii'" class="menu-item-cont">Правила</span></span>
					<span class="menu-item dib hidden-xs"><span onclick="window.location='/article/help'" class="menu-item-cont">Помощь</span></span>
					<a class="menu-item  dib" target="_blank" href="/article/informatsiya-o-kompanii"><span class="menu-item-cont">О компании</span></a>
				</div>
			</div>
		</div>
	</div>
	{% set city_config = get_config("info") %}
	<div class="footer-container {{ footerAdditionalClass }}">
		<div class="row">
			<div class="col-md-6">
				<p class="bold">Редакция в Сургуте:</p>
				<ul class="p5">
					<li><i class="fa fa-phone mr5"></i>{{city_config.sg.phone}}</li>
					<li><i class="fa fa-envelope mr5"></i><a href="mailto:{{city_config.sg.email}}">{{city_config.sg.email}}</a></li>
					<li><i class="fa fa-map-marker mr5"></i>{{city_config.sg.address}}</li>
				</ul>
			</div>
		</div>
		<div class="row hidden-xs">
			<div class="col-md-12">
				<div class="stat-cont">
					<img src="http://yarmarka.biz/images/robokassa.jpg">
					<a rel="nofollow" href="https://www.platron.ru"><img src="http://yarmarka.biz/images/platron.png"></a>
					<img height="30" src="http://yarmarka.biz/images/visa.png">
					<img height="30" src="http://yarmarka.biz/images/yandex_money.png">
					<img height="30" src="http://yarmarka.biz/images/mastercard.png">
					<a rel="nofollow" href="http://www.webmoney.ru"><img src="http://yarmarka.biz/images/88x31_wm_blue_on_transparent_ru.png"></a>

					</script><a href="http://www.liveinternet.ru/click;yarmarkabiz" target="_blank"><img src="//counter.yadro.ru/hit;yarmarkabiz?t18.6;r;s1280*1024*24;uhttp%3A//yarmarka.biz/;0.884230263531208" alt="" title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня" border="0" width="88" height="31"></a><!--/LiveInternet-->	

					<!-- Yandex.Metrika informer -->
					<a href="https://metrika.yandex.ru/stat/?id=6996988&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/6996988/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try {
												Ya.Metrika.informer({i: this, id: 6996988, lang: 'ru'});
												return false
											} catch (e) {
											}"></a>
					<!-- /Yandex.Metrika informer -->
				</div>
				<div class="stat-cont">
					<a target="_blank" href="/article/platezhnye-sistemy-robokassa">Информация о платежной системе Robokassa</a>, <a target="_blank" href="/article/platezhnye-sistemy-platron">Информация о платежной системе Platron</a>
				</div>
			</div>
		</div>
	</div>
</div>