<div class="row hidden-xs">
    <div class="col-md-12">
        
        <div class="stat-cont">
                <img src="/images/robokassa.jpg">
                <a rel="nofollow" href="https://www.platron.ru" ><img src="/images/platron.png"></a>
                <img height="30" src="/images/visa.png">
                <img height="30" src="/images/yandex_money.png">
                <img height="30" src="/images/mastercard.png">
                <a rel="nofollow" href="http://www.webmoney.ru"><img src="/images/88x31_wm_blue_on_transparent_ru.png"></a>

                <a href="http://www.liveinternet.ru/click;yarmarkabiz" target="_blank"  rel="nofollow"><img src="//counter.yadro.ru/hit;yarmarkabiz?t18.6;r;s1280*1024*24;uhttp%3A//yarmarka.biz/;0.884230263531208" alt="" title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня" border="0" width="88" height="31"></a><!--/LiveInternet--> 

                <!-- Yandex.Metrika informer -->
                <a href="https://metrika.yandex.ru/stat/?id=6996988&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/6996988/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try {
                                            Ya.Metrika.informer({i: this, id: 6996988, lang: 'ru'});
                                            return false
                                        } catch (e) {
                                        }"></a>
                <!-- /Yandex.Metrika informer -->
        </div>
        
        <div class="stat-cont">
            <a target="_blank" href="/article/platezhnye-sistemy-robokassa"  rel="nofollow">Информация о платежной системе Robokassa</a>, <a target="_blank" href="/article/platezhnye-sistemy-platron"  rel="nofollow">Информация о платежной системе Platron</a>
        </div>

    </div>
</div>
