{% extends "layouts/email" %}

{% block body %} 

<tr>
    <td colspan="2" style="padding:10px;">
        <h2 style="font-size: 1.2em; margin-bottom: 15px;">Объявления были сняты с публикации, т.к. телефон был заблокирован модератором</h2>
    </td>
</tr>
 <tr>
    <td colspan="2" style="padding:10px;">
        {% for object in objects %}
            <p class="p3"><a style="color: #d44234;" href="{{ email_link(domain, '/detail/' ~ object.id, ref_params, {'utm_content': 'object'}) }}">{{ object.title }}</a></p>
        {% endfor %}
    </td>
    <td colspan="2" style="padding:10px;">
        <a href="http://feedback.yarmarka.biz/">Связаться с тех. поддержкой</a>
    </td>
</tr>

{% endblock body %}