{% extends "layouts/email" %}
{% block body %} 


<tr>
    <td colspan="2" style="padding:10px;">
        <h2 style="font-size: 1.2em; margin-bottom: 15px;">Восстановление пароля</h2>
    </td>
</tr>
 <tr>
    <td colspan="2" style="padding:10px;">
        Вы запросили восстановление пароля. После перехода по этой ссылке, на странице профиля вы сможете сменить пароль. Данная ссылка работает только один раз.
        <p>
            <a style="color: #d44234;" href="{{ url }}">{{ url }}</a>
        </p>
        <p>
            Если приведенная выше ссылка не работает: <br>
            <ol>
                <li> Возможно вы запросили восстановление пароля более одного раза. Переходите по  ссылке в последнем из доставленных писем о восстановлении пароля</li>
                <li>Скопируйте URL и вставьте его в  адресную строку в новом окне браузера</li>
            </ol>
        </p>
        
    </td>
</tr>

{% endblock body %}