@media screen and (max-width: 767px) {

	/* todo - add styles */

	.menu-item.lk {font-size:0;}
	.menu-item.lk i {font-size:14px;line-height: 25px;}

	.top-line .counter{display: none;}
	.info404-wrp{float: none;}
	.popup-window .required-label{position: static; width: auto;}
	.popup-window .required-label .msg{position: static}
	.popup-window .required-label .msg:after{display: none;}
    .main_menu{/*border-bottom:1px solid #313131;*/ padding: 10px; margin-bottom: 20px;}
    .main_menu .menu-item{width: 100%; padding: 5px 0;}
    .main_menu .top_menu_icon+.menu-item{margin-top: 10px;}
    .main_menu .menu-item.top-razdel{width: 50%; display: block;}
    .main_menu .menu-item:not(.top-razdel){display: none;}
    .ue-tab-container{display: none;}
    .crimson-theme .menu-cont2.trn{background-color: transparent;}
    .menu-cont1 .cont1 .menu-item{margin-right: 0;}

	.popup-window{width: 90%;}
	.popup-window table td{ width: 50%;}
	.popup-window h3{margin: 20px 0;}

	.reg_forgot_block .menu-item{
		width: 50% !important; 
		padding: 0;
	}

	.crumbs-h1{
		font-size: 16px;
	}


	.form-cont .btn-next{
		width: 170px;
		line-height: 30px;
	}

	.last-views .title{
	    margin-bottom: 10px;
	}

	.last-views .items .item{
		width: 50%;
		border: none;
	}

	.last-views .items .item:nth-child(odd){
		border-right: 1px solid #ccc;
	}

	.last-views .items .item:nth-child(2),
	.last-views .items .item:nth-child(1){
		border-bottom: 1px solid #ccc;
	}

	.last-views .item:nth-child(4){
		border: none !important;
	} 

	.kupons_block .kupon_wrap:nth-child(even){
		padding-right: 0;
		padding-left: 5px;
	}

	.kupons_block .kupon_wrap:last-child,
	.options-wrap{
		display: none;
		float: none;
	}

	.options-wrap{
    	position: absolute;
    	top: 40px;
    	background: #fff;
    	box-shadow: 0px 0px 2px #ccc;
    	z-index: 10;
	}

	.save-confirm, .save-complete, div[data-role="error"]{
		top: 37px;
	}

	.control_buttons .menu-item{
		padding: 10px 20px;
	}

	.options-wrap .menu-item{
		display: block;
	    border-bottom: 1px solid #ccc !important;
	    border-left: 1px solid #ccc !important;
		border-right: 1px solid #ccc !important;
	    border-radius: 0 !important;
	}

	.left_block>.module{
		margin-bottom: 0;
	}

	.detail_last_views .last-views .item:nth-child(n+3){
	    display: block;
	}

	.detail_last_views .last-views .item:nth-child(n+5){
	    display: none;
	}

	.w100xs{
		width: 100% !important;
	}

	.dialog_window button{
	    padding: 10px 0;

	}

	.dialog_window .contact_form input {
	    width: 100%;
	    float: none;
	    margin-top: 10px;
	}

	
	.dialog_window .relative .close{
		font-size: 18px;
	}

	.one_cat_news{
	    height: auto;
	    border-bottom: 1px solid #ccc;
	    padding: 10px 0;
	}

	.image-block{
		float: left;
		margin: 0;
		margin-right: 5px;
		margin-bottom: 10px;
		width: 210px;
		height: auto;
	}

	.image-block img{
		width: 100%;
		height: 100%;
		margin: 0;

	}

	.other_cat_news .masonry:nth-last-child(2) .news_wrap{
		border-bottom: 1px solid #ccc;
	}


	.coupon-item-cont .description-cont {
	    font-size: 13px;
	}


	.ad_wrap{
	    width: 33.333%;
	}

	.ad_wrap:nth-child(3),
	.ad_wrap:nth-child(6){
		display: none;
	}

	.menu_content{
		width: 60%;
	}

	.city_col{
		float: none;
	}

	#reklama_container a{
		width: 50%;
		text-align: center;
	}

	#reklama_container a:last-child,
	#reklama_container a:nth-last-child(2){
		display: none;
	}

	article img.news-photo{
	    max-width: 80%;
	    margin: 10px auto;
	}
}

@media (max-width: 570px){

	.preview_menu_block .search-cont{
		display: none;
	}


}

@media (max-width: 500px){

	.coupons-cont .coupon-item-cont{width: auto;}
    .search-cont{margin-top: 10px;}
    .usearch_menu{margin-top: 0 !important;}
    .usearch_menu li{display: block;}
    .main_menu .menu-item.top-razdel{width: 70%;}

    .control-menu .control-item{width: 100%; border-right: none !important;}
	
	.photo_news_wrap{
	    width: 50%;
	}

	#complain ul{
		left: auto;
		right: 0;
	}

	.image-block{
		width: 30%;
	}

	.menu_content{
		width: 80%;
	}
}

@media (max-width: 480px){

	button[data-role="show_share"]{
		display: inline-block;
	}

	img.category-icon{
	    position: static;
	    float: left;
	}

	.coupon-item-cont .description-cont {
	    font-size: 16px;
	}

	.more-button{
		display: inline-block;
		margin-right: 10px;
	}

	.share-links{
		display: none;
		float: none;
		margin-bottom: 10px;
	}

	.share-links ul{
		width: 100%;
		display: block;
		text-align: center;
	}

	.buttons-block{
		text-align: center;
	}
}

@media (max-width: 400px){

	.kupons_block .kupon_wrap{
		width: 100%;
		padding: 0;
	}

	.kupons_block .kupon_wrap:nth-child(2){
		display: none;
	}

	.kupons_block .kupon_wrap .coupon-item-cont {
	    float: none;
	    display: block;
	    max-width: 100%;
	}

	.ad_wrap{
	    width: 50%;
	}

	.latest_ads .ad_wrap:nth-child(4),
	.latest_ads .ad_wrap:nth-child(7){
		display: none;
	}

	.kupons_block .kupon_wrap .coupon-item-cont img{
		width: 100%;
	}

	.dialog_window button:last-child{
	    width: 40%;
	}

	.main_cat_news img,
	article img.news-photo{
		width: 100%;
		float: none;
		margin: 10px auto;
	}

}

@media (min-width: 481px){

	.share-links{
		display: block !important;
	}

	.buttons-block{
		float: left;
	}

	button[data-role="show_share"]{
		display: none;
	}

}


@media (min-width: 768px){

	.js-newsmenu-dropdown, .js-kuponmenu-dropdown, .city-companies, .options-wrap{display: block !important;}
	.brb2 .js-mainmenu-dropdown{border-bottom-left-radius: 2px;}
	.br2 .js-mainmenu-dropdown{border-bottom-left-radius: 2px; border-top-left-radius: 2px;}

}
