@media screen and (max-width:1199px) {

	.popup-window .service-cont{overflow-y:auto; max-height: 60vh;}

	.last-views .item{
		width: 25%;
	}

	.last-views .item:nth-child(5){
		display: none;
	}

	.last-views .item:nth-child(4){
		border-right: 1px solid #ccc;
	}

	#reklama_container a{
	    max-height: 200px;
	}

	#reklama_container img{
	    float: none !important;
	    display: block;
    	margin: auto;
	}

	#reklama_container a span{
	    width: 100%;
	    float: none !important;
	    font-size: 13px;
	    margin-left: 0;
	}

	.category-block{
		width: 50%;
	}

	.photo_news_img{
		height: 63px;
	}

	.reklama-cont .banners{
		height: 56px;
	}


	.coupon-item-cont .description-cont{
		height: 60px;
	}

	.ad_wrap{
	    width: 33.333%;
	}

	.ad_wrap:nth-child(3),
	.ad_wrap:nth-child(6){
		display: none;
	}

}