@media screen and (max-width:991px) {

	/* todo - add styles */

	.menu-cont1 .cont2 .menu-item.tech {margin-left:0;}

	.control-menu{margin: 15px 0;}
	.table-result-info .tr{border-bottom: 1px solid #ccc; margin-bottom: 10px;}
	.table-result-info .banner_tr{border-bottom: none;}

	.popup-window{width: 75%;}

	.right-side{
		position: static !important;
	}

	.main_cat_news{
		margin-bottom: 20px;
	}

	.kupon_wrap:last-child{
		margin-bottom: 0;
	}

	.photo_news_wrap{
	   display: none;
	}

	.table-result-info.style1 .td-1{
		display: none;
	}

	.detail_last_views .last-views .item{
	    width: 50%;
	}

	.detail_last_views .last-views .item:nth-child(n+3){
	    display: none;
	}

	.last-views .item:nth-child(2){
		border-right: 1px solid #ccc;
	}
}