<div class="cookies-block">
	<div class="inner">
		Ярмарка использует Ваши метаданные (cookie, данные об IP-адресе и местоположении) для корректного функционирования сайта. Дальнейшим времяпровождением на сайте вы даете свое согласие на обработку данной информации.
		<div class="hidden-lg hidden-md mt10" onclick="jQuery('.cookies-block').remove();" style="text-align: center;">
			<button>ОК</button>
		</div>
		<i class="fa fa-times hidden-sm hidden-xs" onclick="jQuery('.cookies-block').remove();"></i>
	</div>
</div>