{% extends "layouts/simple" %}

{% set theme_class = 'crimson-theme' %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{{ requestblock('block_twig/links', {}) }}
		{% include 'block/header/navigationline/simple' %}
{% endblock header %} 

{% block content %}

		<div class="col-md-12">
			<div class="row mt10 mb10">
				<div class="col-md-3 col-xs-6 banner {zoneID: 55}"></div>
				<div class="col-md-3 col-xs-6 banner {zoneID: 56}"></div>
				<div class="col-md-3 col-xs-6 banner {zoneID: 57}"></div>
				<div class="col-md-3 col-xs-6 banner {zoneID: 58}"></div>				
			</div>
			<div class="row">
				<div class="col-md-12">
					<article class="bg-color-whitesmoke p20 br2">
						<h1 class="captionbold"><span class="fs22 ml10">Все компании города Сургута</span></h1>
						<div class="mt20">
							{% include 'index/2gis/surgut' %}
						</div>
					</article>					
				</div>
			</div>			
		</div>

{% endblock content %}

{% block page_name%}user{% endblock page_name %}
