{% extends "layouts/newsline" %}

{% set theme_class = 'green-dense-theme' %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{{ requestblock('block_twig/adslinkline',{'city_id': city.id, 'theme_class': theme_class}) }}
{% endblock header %} 

{% block title %}{{object.title}}{% endblock title %}

{% block meta_description %}{{object.user_text|slice(0,250)|striptags}}{% endblock meta_description %}

{% block crumbs %} {% include 'search/news/crumbs' %} {% endblock crumbs %}


{% macro map(object) %}
    {% include 'detail/kupon/map' %}
{% endmacro %}

{% block leftside %}
	{% include 'index/promo/left' %}
{% endblock leftside %}

{% block content %}
	<div class="row main_block">
		<div class="col-lg-12">
			<article>
				<div class="news_info clearfix">
					<div class="date light fs14 fl" itemprop="datePublished">{{object.date_expired|date('H:i')}} <span>- {{ object.date_expired|date('d.m.y') }}</span></div>
					<span class="cat">
						Категория: {{ object.compiled.attributes['news-category'].value }}
					</span>
				</div>
				<hr>
				<h1 class="captionbold" itemprop="name">{{object.title}}</h1>
				<div class="image-cont mt10" id="img1">
					<img class="news-photo" itemprop="image" src="{{ get_file(object.compiled.images.main_photo.original) }}">
				</div>
				<div class="text-cont mt10 module">
					{% set text = object.user_text %}

					{% for image in object.compiled.images.local_photo %}
						{% set v120 = '<img itemprop="image" src="/' ~ image["120x90"] ~ '">' %}
						{% set v272 = '<img itemprop="image" src="/' ~ image["272x203"] ~ '">' %}
						{% set v341 = '<img itemprop="image" src="/' ~ image["341x256"] ~ '">' %}
						{% set vorig = '<img itemprop="image" class="w100p" src="/' ~ image["original"] ~ '">' %}
						{% set text = text|replace({('{' ~ loop.index ~ 'image120}'):v120}) %}
						{% set text = text|replace({('{' ~ loop.index ~ 'image272}'):v272}) %}
						{% set text = text|replace({('{' ~ loop.index ~ 'image341}'):v341}) %}
						{% set text = text|replace({('{' ~ loop.index ~ 'image}'):vorig}) %}
					{% endfor %}

					{% set text = text|replace({'{cardmap}': '<div id="cardmap" class="cardmap mb10">' ~ _self.map(object) ~ '</div>'}) %}
					
					<div itemprop="text">
						{{ text }}
					</div>

					{% if object.compiled.images.youtube_video %}
						<div class="video-container">
							<iframe itemprop="video" src="http://www.youtube.com/embed/{{object.compiled.images.youtube_video}}" class="youtube_video" frameborder="0" width="100%" height="300"></iframe>
						</div>
					{% endif %}
				</div>
				{% include 'block/vk/comments_surgut' %}
				{{ requestblock('block_news/main_page', {'catTitle': object.compiled.attributes['news-category'].value, 'newsTitle' : object.title, 'itemsPerCategory' : 11}) }}
				{{ requestblock('block_news/main_page', {'catTitle': object.compiled.attributes['news-category'].value, 'reverse': reverse, 'itemsPerCategory' : 6, 'onPageFlag' : onPageFlag}) }}
			</article>
		</div>
	</div>
{% endblock content %}

{% block rightside %}
	<div class="right-side hidden-sm hidden-xs">
		{% if check_object_access(object, 'object.moderate') %}
			<div class="module">{% include 'detail/kupon/controls' %}</div>
		{% endif %}
		<div class="detail_news">
			{% include 'index/promo/news' %}
		</div>
		{% include 'index/informers' %}
	</div>
{% endblock rightside %}
