{% extends "layouts/newsline" %}

{% set theme_class = 'green-dense-theme' %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{{ requestblock('block_twig/adslinkline',{'city_id': city.id, 'theme_class': theme_class}) }}
		{% include 'block/header/navigationline/article' %}
{% endblock header %} 

{% block crumbs %} {% include 'search/kupony/crumbs' %} {% endblock crumbs %}

{% macro map(object) %}
    {% include 'detail/kupon/map' %}
{% endmacro %}

{% block leftside %}
	{% include 'index/promo/left' %}
{% endblock leftside %}

{% block content %}
	<div class="row main_block">
		<div class="col-lg-12">
			<article>
				<div class="news_info clearfix">
					<div class="date light fs14 fl"><i class="fa fa-clock-o"></i> {{ innerItem.date|date('m:h') }} <span>- {{ innerItem.date|date('d.m.y') }}</span></div>
					<span class="cat">
						Категория: {{ object.compiled.attributes['news-category'].value }}
					</span>
				</div>
				<hr>
				<h1 class="captionbold">{{object.title}}</h1>
				<div class="photo-cont mt10">
					<img class="news-photo" src="{{ get_file(object.compiled.images.main_photo.original) }}">
				</div>
				<div class="text-cont mt10 module">
					{% set text = object.user_text %}

					{% for image in object.compiled.images.local_photo %}
						{% set v120 = '<img src="/' ~ image["120x90"] ~ '">' %}
						{% set v272 = '<img src="/' ~ image["272x203"] ~ '">' %}
						{% set v341 = '<img src="/' ~ image["341x256"] ~ '">' %}
						{% set vorig = '<img class="w100p" src="/' ~ image["original"] ~ '">' %}
						{% set text = text|replace({('{' ~ loop.index ~ 'image120}'):v120}) %}
						{% set text = text|replace({('{' ~ loop.index ~ 'image272}'):v272}) %}
						{% set text = text|replace({('{' ~ loop.index ~ 'image341}'):v341}) %}
						{% set text = text|replace({('{' ~ loop.index ~ 'image}'):vorig}) %}
					{% endfor %}

					{% set text = text|replace({'{cardmap}': '<div id="cardmap" class="cardmap mb10">' ~ _self.map(object) ~ '</div>'}) %}
					
					{{ text }}
				</div>
				{% include 'block/vk/comments_surgut' %}
				{{ requestblock('block_news/main_page', {'catTitle': object.compiled.attributes['news-category'].value, 'newsTitle' : object.title, 'itemsPerCategory' : 11}) }}
				{{ requestblock('block_news/main_page', {'catTitle': object.compiled.attributes['news-category'].value, 'reverse': reverse, 'itemsPerCategory' : 6}) }}
			</article>
		</div>
	</div>
{% endblock content %}

{% block rightside %}
	<div class="right-side hidden-sm hidden-xs">
		<div class="detail_news">
			{% include 'index/promo/news' %}
		</div>
		{% if check_object_access(object, 'object.moderate') %}
			<div class="module">{% include 'detail/kupon/controls' %}</div>
		{% endif %}
		{% include 'index/informers' %}
	</div>
{% endblock rightside %}
