<tr class="tr">
	<td class="td td-1">
		<div class="img-cont">
			{% if object.compiled.images.main_photo %}
				<img class="img-frame" src="{{ get_file(object.compiled.images.main_photo['120x90']) }}" alt="{{ object.title|e }}" title="{{ object.title|e }}">
			{% else %}
				<img class="img-frame" src="{{staticfile('images/nophoto136x107.png')}}">
			{% endif %}
		</div>
	</td>
	<td class="td td-2">
		<p class="title">
			<a href="{{ object.compiled.url }}" title="{{ object.title|e }}"  class="object-caption bold">
				{{ object.title|e }}
			</a>
		</p>
		<p class="style1"><span>{{ object.date_created|date("d.m") }}</span> / <span>г. {{ object.compiled.address }}</span></p>
		{% if object.price > 0 %}
			<p class="amount">{{ object.price|number_format(0, ' ', ' ') }} руб.</p>
		{% endif %}
		{% if object.compiled.attributes|length > 0 %}
			<table class="table-details">									
				<tbody>
					{% for attr in object.compiled.attributes|slice(0, 2) if attr.value %}
					<tr>
						<td class="attr-title">{{ attr.title }}</td>
						<td class="value">{{ attr.value|e }}</td>
					</tr>
					{% endfor %}
			</tbody></table>
		{% endif %}
	</td>				
</tr>