<div class="ad-mini-wrap clearfix {% if object.is_premium %}premium{% endif %}">
	<div class="img-wrap fl hidden-xxs">
		{% if object.compiled.images.main_photo %}
		<img class="img-frame" src="{{ get_file(object.compiled.images.main_photo['120x90']) }}" alt="{{ object.title|e }}">
			{% if object.compiled.images.local_photo|length + object.compiled.images.remote_photo|length > 1 %}
				<span class="photos-count">{{object.compiled.images.local_photo|length + object.compiled.images.remote_photo|length}}</span>
			{% endif %}
		{% else %}
		<img class="img-frame" src="{{staticfile('images/nophoto136x107.png')}}">
		{% endif %}
	</div>


	<div class="main-ad-wrap fl">
		<a href="{{ object.compiled.url }}" title="{{ object.title|e }}" class="object-caption bold {% if object.is_published == 0 %} red strike {% endif %}">
			{{ object.title|e }}
		</a>
		
		{% if object.is_premium %}
			<div>{{object.full_text|slice(0,100)}}...</div>
		{% else %}
			<table class="table-details">									
				<tbody>
				{% if clean_query_params|keys|length > 0 %}
					{% for attr in object.compiled.attributes if attr.value and attr.seo_name in clean_query_params|keys %}
						{% if attr.title != 'Цена' %}
							<tr>
								<td class="">{{ attr.title }}</td>
								<td class="ml10">{{ attr.value|e }}</td>
							</tr>
						{% endif %}
					{% endfor %}
					{% else %}
					{% for attr in object.compiled.attributes|slice(0, 3) if attr.value %}
						{% if attr.title != 'Цена' %}
							<tr>
								<td class="">{{ attr.title }}</td>
								<td class="ml10">{{ attr.value|e }}</td>
							</tr>
						{% endif %}
					{% endfor %}
				{% endif %}
				</tbody>
			</table>
		{% endif %}

	</div>


	<div class="info-wrap fr">
		<div class="ta-r">
			{% set is_favourite = 'fa-heart-o' %}
			{% if object.id in favourites %}
			{% set is_favourite = 'fa-heart' %}
			{% endif %}
			<i class="fa {{is_favourite}} fa-lg mr5 js-favourite js-favourite-ico pointer red" data-id="{{object.id}}" title="В избранное"></i>
		</div>

		<div class="clearfix">
			{% if object.compiled.attributes.zarplata.value > 0 %}
				<span class="price">{{object.compiled.attributes.zarplata.value}} <i class="fa fa-rub" aria-hidden="true"></i></span>
			{% elseif object.price > 0 %}
				<span class="price">{{ object.price|number_format(0, ' ', ' ') }} <i class="fa fa-rub" aria-hidden="true"></i></span>
			{% else %}
			<span class="price">&nbsp;</span>
			{% endif %}
		</div>

		{% if object.is_premium %}
		<p class="date fs12 ta-r"><span>{{ object.compiled.city }}</span></p>
		{% else %}
		<p class="date fs12 ta-r"><span>{{ object.date_created|date("d.m") }} / {{ object.compiled.city }}</span> </p>
		{% endif %}
	</div>

	<!-- premium tape -->
	{% if object.is_premium %}
	<span class="premium-tape"><i class="fa fa-star" title="Премиум-объявление" aria-hidden="true"></i></span>
	{% endif %}

</div>

{% if loop.index in banner_zone_positions|keys %}
<div class="banner {zoneID: {{banner_zone_positions[loop.index]}} }"></div>
{% endif %}