{% if object.moder_state %}	
	{% if not object.is_bad %}
		{% set ad_state = 'Объявление прошло модерацию' %}
		{% set i_state = 'check' %}
		{% set i_color = 'green' %}
	{% elseif object.is_bad == 1 %}
		{% set ad_state = 'Заблокировано на исправление' %}
		{% set i_state = 'clock-o' %}
		{% set i_color = 'yellow' %}
	{% elseif object.is_bad == 2 %}
		{% set ad_state = 'Заблокировано окончательно' %}
	{% endif %}
	{% else  %}
		{% set ad_state = 'Пока не прошло модерацию' %}
		{% set i_state = 'question' %}
		{% set i_color = 'gray' %}
{% endif %}

<div class="ad-mini-wrap clearfix {% if object.is_premium %}premium{% endif %}" onclick="javascript:window.location.href = '{{ object.compiled.url }}'">
	<div class="img-wrap fl hidden-xxs">
		{% if object.compiled.images.main_photo %}
		<img class="img-frame" src="{{ get_file(object.compiled.images.main_photo['120x90']) }}" alt="{{ object.title|e }}">
			{% if object.compiled.images.local_photo|length + object.compiled.images.remote_photo|length > 1 %}
				<span class="photos-count hidden-xs">{{object.compiled.images.local_photo|length + object.compiled.images.remote_photo|length}}</span>
			{% endif %}
		{% else %}
		<img class="img-frame" src="{{staticfile('images/nophoto136x107.png')}}">
		{% endif %}
	</div>


	<div class="main-ad-wrap fl">
		<a href="{{ object.compiled.url }}" title="{{ object.title|e }}" class="object-caption bold {% if object.is_published == 0 %} red strike {% endif %}">
			{{ object.title|e }}
		</a> 
		
		{% if object.is_premium %}
		<span class="premium-tape" onclick="event.stopPropagation()"><a href="/commercial/premium" target="_blank" class="db"><i class="fa fa-star" title="Премиум-объявление" aria-hidden="true"></i></a></span>
		{% endif %}

		<i class="fa fa-{{i_state}} ml5 {{i_color}}" aria-hidden="true" title="{{ad_state}}"></i>
		<div class="clearfix hidden-lg small_visible">
			{% if object.compiled.attributes.zarplata.value > 0 %}
				<span class="price fl">{{object.compiled.attributes.zarplata.value}} <i class="fa fa-rub" aria-hidden="true"></i></span>
			{% elseif object.price > 0 %}
				<span class="price fl">{{ object.price|number_format(0, ' ', ' ') }} <i class="fa fa-rub" aria-hidden="true"></i></span>
			{% else %}
			<span class="price fl">&nbsp;</span>
			{% endif %}
		</div>



		{% if object.is_premium %}
		<p class="date fs12 hidden-lg small_visible"><span>{{ object.compiled.city }}</span></p>
		{% else %}
		<p class="date fs12 hidden-lg small_visible"><span>{{ object.date_created|date("d.m") }} / {{ object.compiled.city }}</span> </p>
		{% endif %}



		{% if object.is_premium %}
			<div class="hidden-xxs">{{object.full_text|slice(0,100)}}...</div>
		{% else %}
			<table class="table-details">									
				<tbody>
				{% if clean_query_params|keys|length > 0 %}
					{% for attr in object.compiled.attributes if attr.value and attr.seo_name in clean_query_params|keys %}
						{% if attr.title != 'Цена' %}
							<tr>
								<td class="">{{ attr.title }}</td>
								<td class="ml10">{{ attr.value|e }}</td>
							</tr>
						{% endif %}
					{% endfor %}
					{% else %}
					{% for attr in object.compiled.attributes|slice(0, 3) if attr.value %}
						{% if attr.title != 'Цена' %}
							<tr>
								<td class="">{{ attr.title }}</td>
								<td class="ml10">{{ attr.value|e }}</td>
							</tr>
						{% endif %}
					{% endfor %}
				{% endif %}
				</tbody>
			</table>
		{% endif %}

	</div>


	<div class="info-wrap fr">

		<div class="ta-r">
			{% set is_favourite = 'fa-heart-o' %}
			{% if object.id in favourites %}
			{% set is_favourite = 'fa-heart' %}
			{% endif %}
			<i class="fa {{is_favourite}} fa-lg mr5 js-favourite js-favourite-ico pointer red" data-id="{{object.id}}" title="В избранное"></i>
		</div>

		<div class="clearfix ta-r" style="position: absolute;top: 10px;right: 40px;">
			{% set services = get_service_icon_info(object.compiled.services, check_access("object.moderate")) %}
			{% for services in services %}
				<i class="fa {{ services.icon_class }} fa-lg gray ml5" title="{{services.title}}"></i>
			{% endfor %}
		</div>

		<div class="clearfix small_hidden">
			{% if object.compiled.attributes.zarplata.value > 0 %}
				<span class="price">{{object.compiled.attributes.zarplata.value}} <i class="fa fa-rub" aria-hidden="true"></i></span>
			{% elseif object.price > 0 %}
				<span class="price">{{ object.price|number_format(0, ' ', ' ') }} <i class="fa fa-rub" aria-hidden="true"></i></span>
			{% else %}
			<span class="price">&nbsp;</span>
			{% endif %}


			{% if object.compiled.attributes.price-per-square.value > 0 %}
			<span class="price square_price w100p">{{object.compiled.attributes.price-per-square.value|number_format(0, ' ', ' ')}} <i class="fa fa-rub" aria-hidden="true"></i>/кв<sup>2</sup></span>
			{% else %}
			<span class="price square_price w100p">&nbsp;</span>
			{% endif %}
		</div>

		{% if object.is_premium %}
		<p class="date fs12 ta-r small_hidden"><span>{{ object.compiled.city }}</span></p>
		{% else %}
		<p class="date fs12 ta-r small_hidden"><span>{{ object.date_created|date("d.m") }} / {{ object.compiled.city }}</span> </p>
		{% endif %}
	</div>

</div>

{% if loop.index == 2 %}
	<ins class="adsbygoogle"
		style="display:inline-block;width:100%;height:90px"
		data-ad-client="ca-pub-4714092941447146"
		data-ad-slot="1610833118"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
{% endif %}

{% if loop.index in banner_zone_positions|keys %}
<div class="banner {zoneID: {{banner_zone_positions[loop.index]}} }"></div>
{% endif %}