<tr class="tr" data-id="{{object.id}}">
	<td class="td td-1">
		<div class="img-cont">

			<div class="img-wrapper">
				{% if object.compiled.images.main_photo %}
					<img class="img-frame" src="{{ get_file(object.compiled.images.main_photo['120x90']) }}" alt="{{ object.title|e }}">
					<span class="photos-count">{{object.compiled.images.local_photo|length + object.compiled.images.remote_photo|length}}</span>
				{% else %}
					<img class="img-frame" src="{{ staticfile('images/nophoto_estate136x107.png') }}">
				{% endif %}
			</div>

			{% if object.is_premium %}
				<span class="premium-tape"></span>
			{% endif %}
		</div>
	</td>
	<td class="td td-2">
		<p class="title">
			{% set is_favourite = 'fa-heart-o' %}
			{% if object.id in favourites %}
				{% set is_favourite = 'fa-heart' %}
			{% endif %}
			<i class="fa {{is_favourite}} fa-lg mr5 js-favourite js-favourite-ico pointer red" data-id="{{object.id}}" title="Избранное"></i>
			<a href="{{ object.compiled.url }}" title="{{ object.title|e }}" class="bold js-object-title-{{object.id}} {% if object.is_published == 0 %} red strike {% endif %}">
				{{ object.title|e }}
			</a>
		</p>
		<p class="style1"><span>{{ object.date_created|date("d.m") }}</span> / <span>{{ object.compiled.city }}</span> </p>
		{% if object.price > 0 %}
			<p class="amount">{{ object.price|number_format(0, ' ', ' ') }} руб.</p>
		{% endif %}
		
	

		<div class="js-object-services-{{object.id}} {% if object.is_published == 0 %} hidden {% endif %}">
			<p class="pt10 pb10">Для увеличения отклика, предлагаем следующие услуги:</p>
			<span class="button w140 button-style1 bg-color-blue mr3 mb3 js-service-up" data-id="{{object.id}}"><i class="fa fa-angle-double-up fa-lg mr5"></i><span>Поднять</span></span>
			<span class="button w140 button-style1 bg-color-blue mr3 mb3 js-service-premium" data-id="{{object.id}}"><i class="ico vkontakte-ico16 mr5"></i>Премиум</span>
			<span class="button w140 button-style1 bg-color-blue mr3 mb3 js-service-lider" data-id="{{object.id}}"><i class="ico vkontakte-ico16 mr5"></i>Лидер</span>
			<span class="button w140 button-style1 bg-color-blue mr3 mb3"><i class="ico vkontakte-ico16 mr5"></i>В газету</span>
			<span class="button w140 button-style1 bg-color-blue mr3 mb3"><i class="ico vkontakte-ico16 mr5"></i>В другие города</span>
			<span class="button w140 button-style1 bg-color-blue mr3 mb3"><i class="ico vkontakte-ico16 mr5"></i>Купить</span>
		</div>
		{% if object.is_published == 0 %}
			<p class="pt10 pb10 js-object-state-{{object.id}} red">Объявление снято с публикации</p>
		{% elseif object.is_published == 1 %}
			<p class="pt10 pb10 js-object-state-{{object.id}}">Объявление опубликовано</p>
		{% endif %}
		
	</td>
	<td class="td w190 p10 va-t">
		<span class="button w100p button-style1 bg-color-lightgreen mb3 ta-l js-ocontrol-publish" data-id="{{object.id}}">
			{% if object.is_published %} 
				<i class="fa fa-trash pull-left fa-lg"></i><span>Снять с публикации</span>
			{% else %}
				<i class="fa fa-check pull-left fa-lg"></i><span>Опубликовать</span>
			{% endif %}			
		</span>		

		<span class="button w100p button-style1 bg-color-lightgreen mb3 ta-l js-ocontrol-edit" data-id="{{object.id}}"><i class="fa fa-edit pull-left fa-lg"></i>Редактировать</span>
	</td>
	<td class="td td-icons">
		{% set services = get_service_icon_info(object.compiled.services, true) %}
		{% for services in services %}
			<i class="fa {{ services.icon_class }} fa-lg" title="{{services.title}}" style="color:#D30000"></i>
		{% endfor %}
	</td>
	<td class="td-additional">
		<div class="relative">
			<div class="additional-cont p20">
				Код: {{object.id}} <br>
				Обновлено: {{ object.date_created|date('d.m.Y') }} <br>
				Просмотров: {{ object.visits }}

				{% set statInfo = get_stat_cached_info(object.id) %}
				{% if statInfo %}
					<p class="pt10 pb10">{{ statInfo }}</p>
				{% endif %}
			</div>
		</div>			
	</td>	
	
</tr>