<tr class="premium tr">
	<td class="td td-1">
		<div class="img-cont">
			{% if object.compiled.images.main_photo %}
				<img class="img-frame" src="{{ staticfile(object.compiled.images.main_photo['120x90']) }}" alt="{{ object.title|e }}" title="{{ object.title|e }}">
			{% endif %}
			<span class="premium-tape"></span>
		</div>											
	</td>
	<td class="td td-2">
		<p class="title">
			<i class="favorit-ico"></i>
			<a href="{{ object.compiled.url }}" title="{{ object.title|e }}">
				{{ object.title|e }}
			</a>
		</p>
		<p class="style1"><span>{{ object.date_created|date("d.m") }}</span> / <span>{{ object.compiled.city }}</span> </p>
		<p class="amount">{{ object.price|number_format(0, ' ', ' ') }}<span class="rub">Р</span></p>
		{% if object.compiled.attributes|length > 0 %}
			<table class="table-details">									
				<tbody>
					{% for attr in object.compiled.attributes|slice(0, 2) if attr.value %}
					<tr>
						<td class="attr-title">{{ attr.title }}</td>
						<td class="value">{{ attr.value|e }}</td>
					</tr>
					{% endfor %}
			</tbody></table>
		{% endif %}
	</td>				
</tr>