<tr class="tr" data-id="{{object.id}}">
	<td class="td td-1">
		<div class="img-cont">
			<div class="img-wrapper">
				{% if object.compiled.images.main_photo %}
					<img class="img-frame" src="{{ get_file(object.compiled.images.main_photo['120x90']) }}" alt="{{ object.title|e }}">
					<span class="photos-count">{{object.compiled.images.local_photo|length + object.compiled.images.remote_photo|length}}</span>
				{% else %}
					<img class="img-frame" src="{{staticfile('images/nophoto_estate136x107.png')}}">
				{% endif %}
			</div>
			{% if object.is_premium %}
				<span class="premium-tape"></span>
			{% endif %}
		</div>
	</td>
	<td class="td td-2">
		<p class="title">
			{% set is_favourite = 'fa-heart-o' %}
			{% if object.id in favourites %}
				{% set is_favourite = 'fa-heart' %}
			{% endif %}
			<i class="fa {{is_favourite}} fa-lg mr5 js-favourite js-favourite-ico pointer red" data-id="{{object.id}}" title="Избранное"></i>
			<a href="{{ object.compiled.url }}" title="{{ object.title|e }}">
				{{ object.title|e }}
			</a>
		</p>
		<p class="style1"><span>{{ object.date_created|date("d.m") }}</span> / <span>{{ object.compiled.city }}</span> </p>
		{% if object.price > 0 %}
			<p class="amount">{{ object.price|number_format(0, ' ', ' ') }} руб.</p>
		{% endif %}

		{% if object.compiled.attributes|length > 0 %}
			<table class="table-details">									
				<tbody>
					{% if clean_query_params|keys|length > 0 %}
						{% for attr in object.compiled.attributes if attr.value and attr.seo_name in clean_query_params|keys %}
							<tr>
								<td class="attr-title">{{ attr.title }}</td>
								<td class="value">{{ attr.value|e }}</td>
							</tr>
						{% endfor %}
					{% else %}
						{% for attr in object.compiled.attributes|slice(0, 3) if attr.value %}
							<tr>
								<td class="attr-title">{{ attr.title }}</td>
								<td class="value">{{ attr.value|e }}</td>
							</tr>
						{% endfor %}
					{% endif %}
			</tbody></table>


		{% endif %}
	</td>		
	<td class="td td-company-info">
		{% if object.compiled.author.org_type == 2 %}
			{% if object.compiled.author.logo %}
				<div class="img-cont">
					<img src="{{ get_file( object.compiled.author.logo['120x90']) }}" alt="">
				</div>
			{% endif %}
			<div class="title mt5">{{ object.compiled.author.org_name }}</div>
			<div class="state mt5 red" style="font-size:10px;">Компания не проверена<i class="fa fa-question-circle fa-lg ml3"></i></div>
		{% endif %}
	</td>
	<td class="td td-icons" style="text-align:center;">
	
		{% if object.compiled.services.up|length  > 0 %}
			{% set up = object.compiled.services.up[0] %}
			{% if date(up.date_created)|date_modify("+7 day") > date() %}
				<i class="fa fa-angle-double-up fa-lg" title="Поднято {{ up.date_created|date('H:i d.m.Y') }}" style="color:#D30000"></i>
			{% endif %}
		{% endif %}
		{% if object.compiled.services.premium|length  > 0 %}
			{% set premium = object.compiled.services.premium[0] %}
			{% if date(premium.date_expiration) > date() %}
				<i class="fa fa-info-circle fa-lg" title="Действует услуга 'Премиум' до {{ premium.date_expiration|date('H:i d.m.Y') }}" style="color:#D30000"></i>
			{% endif %}
		{% endif %}
		{% if object.compiled.services.lider|length  > 0 %}
			{% set lider = object.compiled.services.lider[0] %}
			{% if date(lider.date_expiration) > date() %}
				<i class="fa fa-info-circle fa-lg"  title="Действует услуга 'Лидер' до {{ lider.date_expiration|date('H:i d.m.Y') }}"  style="color:#D30000"></i>
			{% endif %}
		{% endif %}
	</td>
</tr>