.comments-add-cont .caption{font-size: 10px;}
.comments-add-cont .grid{margin-top: 10px;}
.comments-add-cont .textarea{height: 126px;}
.comments-add-cont .grid .col{padding: 5px;}
.comments-add-cont .grid .col *{width: 100%;}
.comments-add-cont .field-caption{font-size: 10px;color: #808080;}
.comments-add-cont .input{margin-bottom: 8px;}

.comments-list-cont .comment-cont {border-bottom: 1px solid #E6E6E6;}
.comments-list-cont .comment-cont .li-cont {padding: 5px 0px 5px 0px;}
.comments-list-cont .comment-cont .li-cont {background: none repeat scroll 0 0 #F5F6F6;padding: 9px 0 12px;}
.comments-list-cont .comment-cont .aside {min-height: 49px;padding: 2px 0 0 0;width: 126px;float: left;}
.comments-list-cont .comment-cont .created-on {color: #808080;font-size: 11px;margin-bottom: 15px;margin-left: 3px;}
.comments-list-cont .comment-cont .cont {padding-left: 125px;padding-right: 10px;}
.comments-list-cont .comment-cont .cont .user-name, 
.comments-list-cont .cont .answer-caption {color: #344C5E;font-weight: normal;}
.comments-list-cont .comment-cont .cont p {font-size: 12px;line-height: 13px;margin-top: 16px;color: #748089;}
.comments-list-cont .comment-cont .answer .cont {padding-left: 150px;padding-right: 10px;}
.comments-list-cont .comment-cont .li-cont.moderator0 {background: #f5f6f6;}
.comments-list-cont .comment-cont .moderator0 .user-name {color: #EF4E52;}
.comments-list-cont .comment-cont .moderator0 .text-comment {color: #F6A7AB;}
.comments-list-cont .comment-cont .moderator0 .created-on {color: #F6A7AB;}