@font-face {
    font-family: 'pt_sansregular';
    src: url('/static/develop/fonts/PTS55F-webfont.eot');
    src: url('/static/develop/fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/develop/fonts/PTS55F-webfont.woff') format('woff'),
         url('/static/develop/fonts/PTS55F-webfont.ttf') format('truetype'),
         url('/static/develop/fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold';
    src: url('/static/develop/fonts/PTS75F-webfont.eot');
    src: url('/static/develop/fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/develop/fonts/PTS75F-webfont.woff') format('woff'),
         url('/static/develop/fonts/PTS75F-webfont.ttf') format('truetype'),
         url('/static/develop/fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sans_captionbold';
    src: url('/static/develop/fonts/PTC75F-webfont.eot');
    src: url('/static/develop/fonts/PTC75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/develop/fonts/PTC75F-webfont.woff') format('woff'),
         url('/static/develop/fonts/PTC75F-webfont.ttf') format('truetype'),
         url('/static/develop/fonts/PTC75F-webfont.svg#pt_sans_captionbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sans_captionregular';
    src: url('/static/develop/fonts/PTC55F-webfont.eot');
    src: url('/static/develop/fonts/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/develop/fonts/PTC55F-webfont.woff') format('woff'),
         url('/static/develop/fonts/PTC55F-webfont.ttf') format('truetype'),
         url('/static/develop/fonts/PTC55F-webfont.svg#pt_sans_captionregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{font-family: 'pt_sansregular', Verdana, sans-serif;font-size:14px;color:#333;}
a:link, a:visited, a:active, .span-link{color: #2a76a1;}
.span-link{cursor: pointer;}
a{text-decoration: none;}
a:hover, .span-link:hover{ color: #D30000; -webkit-transition: color 0.3s;-moz-transition: color 0.3s;-o-transition: color 0.3s;transition: color 0.3s;}
body h1 {font-family: 'pt_sans_captionregular', Verdana, sans-serif; font-size: 18px;font-weight: normal;display: inline;}

h3, h2, strong, .bold {font-family: 'pt_sansbold', Verdana, sans-serif;}
.caption {font-family: 'pt_sans_captionregular', Verdana, sans-serif;}
.captionbold {font-family: 'pt_sans_captionbold', Verdana, sans-serif;}
.uppercase {text-transform: uppercase;}

/* css helpers */
.bg-color-crimson{background-color:#D90000}.border-color-crimson{border-color:#D90000}
.bg-color-blue{background-color: #2B587A;}.border-color-blue{border-color: #2B587A;}
.bg-color-gray{background-color:gray;}.border-color-gray{border-color:gray;}
.bg-color-lightgreen{background-color: #57A957}
.bg-color-lightorange{background-color: #FFC700;}
.bg-color-deepskyblue{background-color: deepskyblue}
.bg-color-whitesmoke{background-color: #f5f5f5}
.bg-color-yelgreen{background-color: #8EC745}.border-color-yelgreen{border-color: #8EC745;}
.bg-color-krayola{background-color: #12B0EC}.border-color-krayola{border-color: #12B0EC;}
.p5{padding:5px}.p10{padding:10px}.p15{padding:15px}
.white{color:white !important}.black{color:black !important}.red{color:red !important;}.green{color:green !important;}.gray{color:gray !important;}
.dib{display: inline-block}.db{display: block}
.br2{border-radius: 2px}.brt2{border-radius: 2px 2px 0 0}.brb2{border-radius: 0 0 2px 2px}.brl2{border-radius: 2px 0 0 2px}.brr2{border-radius: 0 2px 2px 0}
.br3{border-radius: 3px}.brt3{border-radius: 3px 3px 0 0}.brb3{border-radius: 0 0 3px 3px}.brl3{border-radius: 3px 0 0 3px}.brr3{border-radius: 0 3px 3px 0}
.ta-r{text-align: right;}.ta-l{text-align: left !important}.ta-c{text-align: center;}
.va-t{vertical-align: top}
.mh-style1{min-height: 590px;}
.relative{position: relative}
.clear{clear: both;}
.w100p{width: 100%;}
.w25p{width: 25%; -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
.fs12{font-size:12px;}.fs16{font-size: 18px}.fs20{font-size: 20px}
.p5{padding: 5px}.p10{padding:10px}.p15{padding:15px}.p20{padding:20px}
.whitespace{clear: left;}
.fixed{position: fixed;top: 0px;}
.pointer{cursor: pointer;}
.strike{text-decoration: line-through;}
.lh44{line-height: 44px;}
.fs14{font-size: 14px;}.fs16{font-size: 16px;}.fs18{font-size: 18px;}.fs22{font-size: 22px;}
.z1 {z-index: 1}.z2 {z-index: 2}.z100 {z-index: 100}.z101 {z-index: 101}.z200 {z-index: 200}.z201 {z-index: 201}.z300 {z-index: 300}.z301 {z-index: 301}.z400 {z-index: 400}.z401 {z-index: 401}.z500 {z-index: 500}.z501 {z-index: 501}z1000 {z-index: 1000}.z50 {z-index: 50}.z150 {z-index: 150}.z151 {z-index: 151}.z250 {z-index: 250}.z251 {z-index: 251}.z350 {z-index: 350}.z450 {z-index: 450}.z550 {z-index: 550}
.mw500{max-width: 500px;}
/*
    z200 = black layer
    z300 = menus
    z301 = menus caption
    z400 = windows
 */
.min-content-height {min-height:500px;}
/* css helpers end */

/* mini-elements */
.button {cursor:pointer; text-align:center; border:0;display:inline-block;}
.button.bg-color-crimson:hover{background-color: #F98C8C;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;-o-transition: background-color 0.2s;transition: background-color 0.2s;}
.button.bg-color-blue:hover{background-color: #4381AF;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;-o-transition: background-color 0.2s;transition: background-color 0.2s;}
.button.bg-color-lightgreen:hover{background-color: #74DC74;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;-o-transition: background-color 0.2s;transition: background-color 0.2s;}
.button.bg-color-lightorange:hover{background-color: #FDDA5D;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;-o-transition: background-color 0.2s;transition: background-color 0.2s;}
.button.button-style1{padding: 7px 10px; color:#fff;display:inline-block;}
.button.button-style2{font-size: 18px;font-weight: 700;height: 30px;}

.clearfix:after{display: block;clear: both;height: 0;content: '';}
.rub {}
.link {color: #2a76a1;text-decoration: none;font-size: 14px;}
.caret {display: inline-block;width: 0;height: 0;margin-left: 2px;vertical-align: middle;border-top: 4px solid;border-right: 4px solid transparent;border-left: 4px solid transparent;}

input{background-color: #FFFFFF; outline: 0;}
input[type="text"], input[type="password"]{background-color: #FFFFFF;border: 1px solid #C3C3C3;font-size: 14px;height: 30px;padding:0px 10px;outline: 0; border-radius:2px;}
textarea{background-color: #FFFFFF;border: 1px solid #C3C3C3;font-size: 14px;padding: 5px 10px;outline: 0; border-radius:2px;}
select{background-color: #FFFFFF;border: 1px solid #C3C3C3;padding:2px 10px;height: 30px;outline: 0; border-radius:2px;}

.for-ie-msg-cont{text-align:center;padding:34px;font-size:20px; color:#fff; background-color: red;}
.for-ie-msg-cont a{font-size:20px; color: #fff;}

.required-label {position: absolute;top: 0;width: 230px;right: -230px;height: 25px}
.required-label .msg {position: absolute;top: 0;left: 5px;padding: 0px 10px;color: #fff;font-size: 14px; line-height: 25px;}
.required-label .msg:after {content: '';position: absolute;width: 0;height: 0;bottom: 10px;left: -5px;border-right: 5px solid #2B587A;border-top: 5px solid transparent;border-bottom: 5px solid transparent;top: 8px;}
/*.required-label .msg.bg-color-blue:after{}*/

.input-group {position: relative;display: table;border-collapse: separate;}
.input-group .form-control {display: table-cell;position: relative;float: left;width: 100%;margin-bottom: 0;border-right:0;}
.input-group .input-group-addon {width: 1%;white-space: nowrap;vertical-align: middle;display: table-cell;position: relative;}
.input-group .input-group-addon{height: 25px; width: 25px; text-align: center;border: 1px solid #C3C3C3;}
.input-group .input-group-addon:first-child{border-right: 0;}
.input-group .input-group-addon:last-child{border-left: 0;}

.popup-menu-cont.left{left: 0px;}
.popup-menu-cont.right{right: 0px;}
.popup-menu-cont li a:hover{background-color: whitesmoke;text-decoration: none;color:white;}
/*.popup-menu-cont.border-color-blue li a:hover{background-color: #2a76a1;text-decoration: none; color:white;}
.popup-menu-cont.border-color-crimson li a:hover{background-color: #D30000;text-decoration: none; color:white;}
.popup-menu-cont.border-color-yelgreen li a:hover{background-color: #8EC745;text-decoration: none; color:white;}
.popup-menu-cont.border-color-krayola li a:hover{background-color: #12B0EC;text-decoration: none; color:white;}*/
.popup-menu-cont li.divider {min-height: 1px;margin: 9px 0;overflow: hidden;}

.ico{display: inline-block;vertical-align: sub;}
.ico15{width:15px;height:15px;}.ico16{width:16px;height:16px;}.ico17{width:17px;height:17px;}.ico19{width:19px;height:19px;}.ico22{width:22px;height:22px;}
.vkontakte-ico16{background: url(/static/develop/images/vkontakte16.png) no-repeat center center;width:16px;height:16px;}
.close-ico16{background: url("/static/develop/images/close16.png") no-repeat center center;width:16px;height:16px;}
.vkontakte-ico17{background: url('/static/develop/images/ico4.png') no-repeat;width:17px;height:17px;background-position: 0px -104px;}
.twitter-ico17{background: url('/static/develop/images/ico4.png') no-repeat;width:17px;height:17px;background-position: 0px -86px;}
.instagram-ico17{background: url('/static/develop/images/ico4.png') no-repeat;width:17px;height:17px;background-position: 0px -122px;}
.phone-ico17{background: url('/static/develop/images/ico4.png') no-repeat;width:17px;height:17px;background-position: 0px -17px;}
.site-ico17{background: url('/static/develop/images/ico4.png') no-repeat;width:17px;height:17px;background-position: 0px -69px;}
.email-ico17{background: url('/static/develop/images/ico4.png') no-repeat;width:17px;height:17px;background-position: 0px 2px;}
.favorit-ico{background: url(/static/develop/images/favorite_ico.svg) -23px 0 no-repeat;cursor: pointer;}
.favorit-ico.in{background-position: 0 0;}
.premium-ico22{background: url('/static/develop/images/clock22.png') no-repeat center center;width:22px;height:22px;}
.leader-ico22{background: url('/static/develop/images/to_publish22.png') no-repeat center center;width:22px;height:22px;}
.plus-ico17{background: url('/static/develop/images/plus17.png') no-repeat center center; width:17px;height:17px;}
.white-right-arrow-ico{background: url("/static/develop/images/white_right_arrow.svg") no-repeat center center;}

#popup-layer {background: #000;bottom: 0;display: none;left: 0;position: fixed;right: 0;top: 0;opacity: .3;}
#popup-layer.active {
    -webkit-transition: display 0.2s;
    -moz-transition: display 0.2s;
    -o-transition: display 0.2s;
    transition: display 0.2s;
}
.popup-wrp {left: 0;margin: auto;position: fixed;top: 70px;width: 100%;}
.popup-window {position: relative;background-color: #f9f9f9;margin: auto;padding: 5px;box-sizing: border-box;}
.popup-window .header {font-size: 17px;position: relative;min-height: 40px;padding: 5px 40px 5px 5px;box-sizing: border-box;line-height: 1.5;}
.popup-window .cont{padding: 5px;}
.popup-window .popup-window-close {height: 30px;width: 30px;background: #ccc;position: absolute;top: 5px;right: 5px;cursor: pointer;text-align: center;}
.popup-window .inp-cont {position: relative;margin-bottom: 5px;}
.popup-window .service-cont table{margin-bottom: 10px;}
.popup-window .service-cont table td,
.popup-window .service-cont table th{padding: 5px;}
.popup-window .service-cont table td.price{width: 100px;}
.popup-window .service-cont .description-cont{margin-bottom: 10px;}
.popup-window .service-cont .description-cont p{margin-bottom: 10px;}

.img-wrapper{position: relative;display: inline-block;}

.procent-cont {display: block;width: 70px;height: 50px;border-radius: 0px 0px 10px 10px;color: white;font-weight: bold;padding: 12px 9px;font-size: 20px;box-shadow: 0px 2px 8px 0px gray;}
.procent-cont span {font-size: 14px;font-weight: normal;color: white;}
.discount-price-cont {display: block;height: 40px;box-sizing: border-box;padding: 8px 14px;font-size: 20px;box-shadow: 0px 2px 8px 0px gray;min-width: 150px;}
.discount-price-cont .old{color:gray;text-decoration: line-through;}
.discount-price-cont .new{font-weight: bold;}
.discount-price-cont .rub{}
.no-photo-cont{padding: 40px 0;text-align: center;text-transform: uppercase;}

/* mini-elements end */

/* hacks */
.yashare-auto-init .b-share__link{box-sizing:content-box}
/* end hacks */

.menu-cont1{line-height: 25px; border-bottom: 1px solid #2D5169;}
.menu-cont1 .menu-item{}
.menu-cont1 .menu-item:hover{ }
.menu-cont1 .cont1 .menu-item{float: left; margin-right: 40px;}
.menu-cont1 .cont1 .menu-item img{vertical-align: sub;}
.menu-cont1 .cont2 .menu-item{float: right; margin-left: 20px;}
.menu-cont1 .cont2 .menu-item-wrp{float: right; position: relative;}
.menu-cont1 .proom-list, .city_change+.proom-list {position: absolute;top: 100%;background: #fff;border-width: 1px; border-style: solid;white-space: nowrap;display: none;}
.city_change+.proom-list{right:0;}
.menu-cont1 .proom-list{left: 0;}
.user-dropdown .proom-list{min-width: 180px; width: auto; right: 0 !important; left:auto; }
.top_menu_icon{background-color: #2a76a1; font-size: 20px; color: #fff;display: block;padding: 0px 15px;border-radius: 3px;float: right;height: 35px;line-height: 35px;}
.menu-cont1 .proom-list ul, .city_change+.proom-list ul{padding-top: 6px;}
.menu-cont1 .proom-list li, .city_change+.proom-list li{margin-bottom: 4px;}
.menu-cont1 .proom-list li a, .city_change+.proom-list ul li a{font-size: 14px;border: 0 none;padding: 0; display: block;padding: 0px 10px;}
.menu-cont1 .proom-list li .item-massload{color: red;}
.menu-cont1 .proom-list .img {float: left;width: 16px;height: 16px;margin-right: 7px;margin-top: 3px;}
.topline.banner{ height: 100px; }
.banner img{  max-width: 100%;height: auto; }

.top-line{background-color: #fff; box-sizing: border-box; height: 45px;}
.top-line .logo{margin-top: 5px;}
.top-line .logo img{max-width: 100%}
.top-line .add-advert{height: 45px;border-radius: 3px;line-height: 44px;}
.top-line .search-cont .view1 .col1 input.search{width: 100%;}
.top-line .banner{max-width: 100%;max-height: 45px;}
.top-line .search-cont{position: relative;}
.top-line .search-cont input.search{border: 1px solid #D90000;color: #D90000;border-radius: 2px 0px 0px 2px;font-size: 14px;width: 100%;box-sizing: border-box;height: 45px; padding: 0px 10px;text-transform: uppercase;}
.top-line .search-cont .input-group-addon{border-color: #D90000;height: 45px; width: 45px; border-radius: 0px 2px 2px 0px;}
.top-line .search-cont .input-group-addon .button{width: 100%; height: 43px;border:0;}
.top-line .counter{font-size: 18px; color: gray;display: block; margin-top: 18px;}
.top-line .search-cont .search-popup {display: none;box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15), 0 8px 25px -5px rgba(0, 0, 0, 0.25);border-width: 1px; border-style: solid;line-height: 25px;font-size: 14px;background: white;overflow: hidden;position: absolute;width: 130%;}
.top-line .search-cont .search-popup .finded-header {color: #5d6b76;font-size: 10px;font-style: italic;background-color: #EAECEC;  padding: 0px 5px;}
.top-line .search-cont .search-popup li.result-line {cursor: pointer;overflow: hidden;padding: 5px 10px;}
.top-line .search-cont .search-popup li.result-line.mark {background: #F98C8C;color:white;}
.top-line .search-cont .search-popup li .finded-title {float: left;margin-right: 10px;line-height: 15px;}

.top-line .search-cont .search-popup li a, .top-line .search-cont .seach-bl .search-popup li .city {float: right;line-height: 15px;}
.top-line .search-cont .input-group.focus {box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217,0,0,.6);}


/* catalog menu */
.menu-cont2 {line-height: 25px; box-sizing: border-box;}
.menu-cont2 .menu-item{color: white;text-decoration: none;line-height: 25px;position: relative} 
.menu-cont2 .menu-item>span{text-align: center;}
.menu-cont2 .menu-item.city_change{padding:0 10px; text-align: center;;}
.menu-cont2 .menu-item.city_change .fa{margin-right: 10px;}
.menu-cont2 .menu-item .menu-item-cont{display: block;cursor: pointer;width: 100%;padding: 0px 20px;}
.menu-cont2 .caption-item {color: white;padding: 0 20px;text-decoration: none;line-height: 25px;}
.menu-cont2 .menu-item.right {float: right;margin-left: 5px;}
.menu-cont2 .menu-item.left {float: left;/*margin-right: 5px;*/}
.menu-cont2 .caption-item.right {float: right;margin-left: 5px;}
.menu-cont2 .caption-item.left {float: left;margin-right: 5px;}
.menu-cont2 .menu-item.menu-item-categories {display: block; text-align: center;}
.menu-cont2 .menu-item-wrp{position: relative;}
.menu-cont2 .menu-item:hover{background-color: #F98C8C;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;-o-transition: background-color 0.2s;transition: background-color 0.2s;}

.menu-cont2 .menu-item.light-blue-theme{background-color: #12B0EC;}
.menu-cont2 .menu-item.light-blue-theme:hover{background-color: #68CCF2;}
.menu-cont2 .menu-item.light-blue-theme .popup-menu-cont li a:hover {background-color: #68CCF2;text-decoration: none;}
.menu-cont2 .menu-item.light-blue-theme .popup-menu-cont{border:1px solid #12B0EC}
.menu-cont2 .menu-item.light-blue-theme .popup-menu-cont2l .left .span-link {border-left: 4px solid #12B0EC;}
.menu-cont2 .menu-item.light-blue-theme .popup-menu-cont2l .span-link:hover{background-color: #68CCF2;}

.menu-cont2 .menu-item.blue-subtle-theme{background-color: #2D5169;}
.menu-cont2 .menu-item.blue-subtle-theme:hover {background-color: #78A0BB;}
.menu-cont2 .menu-item.blue-subtle-theme .popup-menu-cont li a:hover {background-color: #78A0BB;text-decoration: none;}
.menu-cont2 .menu-item.blue-subtle-theme .popup-menu-cont{border:1px solid #2D5169}
.menu-cont2 .menu-item.blue-subtle-theme .popup-menu-cont2l .left .span-link {border-left: 4px solid #2D5169;}
.menu-cont2 .menu-item.blue-subtle-theme .popup-menu-cont2l .span-link:hover{background-color: #78A0BB;}

.menu-cont2 .menu-item.green-dense-theme{background-color: #8EC745;}
.menu-cont2 .menu-item.green-dense-theme:hover{background-color: #ABD673;}
.menu-cont2 .menu-item.green-dense-theme .popup-menu-cont li a:hover {background-color: #ABD673;text-decoration: none;}
.menu-cont2 .menu-item.green-dense-theme .popup-menu-cont{border:1px solid #8EC745}
.menu-cont2 .menu-item.green-dense-theme .popup-menu-cont2l .left .span-link {border-left: 4px solid #8EC745;}
.menu-cont2 .menu-item.green-dense-theme .popup-menu-cont2l .span-link:hover{background-color: #ABD673;}

.menu-cont2 .menu-item.crimson-theme{background-color: #D90000;}
.menu-cont2 .menu-item.crimson-theme:hover{background-color: #F98C8C;}
.menu-cont2 .menu-item.crimson-theme .popup-menu-cont li a:hover {background-color: #F98C8C;text-decoration: none;}
.menu-cont2 .menu-item.crimson-theme .popup-menu-cont{border:1px solid #D90000}
.menu-cont2 .menu-item.crimson-theme .popup-menu-cont2l .left .span-link {border-left: 4px solid #D90000;}
.menu-cont2 .menu-item.crimson-theme .popup-menu-cont2l .span-link:hover{background-color: #F98C8C;}

.menu-cont2 .menu-item.purple-theme{background-color: #B451FF;}
.menu-cont2 .menu-item.purple-theme:hover{background-color: #CD9BF3;}
.menu-cont2 .menu-item.purple-theme .popup-menu-cont li a:hover {background-color: #CD9BF3;text-decoration: none;}
.menu-cont2 .menu-item.purple-theme .popup-menu-cont{border:1px solid #B451FF}
.menu-cont2 .menu-item.purple-theme .popup-menu-cont2l .left .span-link {border-left: 4px solid #B451FF;}
.menu-cont2 .menu-item.purple-theme .popup-menu-cont2l .span-link:hover{background-color: #CD9BF3;}


.menu-cont2 .menu-item.gray-theme{background-color: gray;}
.menu-cont2 .menu-item.gray-theme:hover{background-color: #b7b7b7;}
.menu-cont2 .menu-item.gray-theme .popup-menu-cont li a:hover {background-color: #b7b7b7;text-decoration: none;}
.menu-cont2 .menu-item.gray-theme .popup-menu-cont{border:1px solid gray}
.menu-cont2 .menu-item.gray-theme .popup-menu-cont2l .left .span-link {border-left: 4px solid gray;}
.menu-cont2 .menu-item.gray-theme .popup-menu-cont2l .span-link:hover{background-color: #b7b7b7;}

.menu-cont2  .popup-menu-cont2l{display: none; box-shadow: 3px 3px 5px #AAAAAA; position:absolute; top:100%; left:0px; border-width: 1px; border-style: solid; background: url(/static/develop/images/shadow.png) repeat-y 197px 0 #fff; }
.menu-cont2  .popup-menu-cont2l .left{padding:3px 0;width: 197px;float:left; box-sizing: border-box;}
.menu-cont2  .popup-menu-cont2l .left a{text-decoration:none;padding:0 13px;display:block;}
/*.menu-cont2  .popup-menu-cont2l .name2{line-height:14px;margin-bottom:-3px;font-weight:normal;}*/
/*.menu-cont2  .popup-menu-cont2l .bottom .name{font-weight:normal;}*/
.menu-cont2  .popup-menu-cont2l .left .span-link{line-height: 25px;padding-left: 10px;cursor: pointer;font-size: 14px;display: inline-block;width: 100%;margin-bottom: 4px;}
.menu-cont2  .popup-menu-cont2l .right .span-link{line-height: 25px;padding-left: 10px;cursor: pointer;font-size: 14px;display: inline-block;width: 100%;margin-bottom: 5px;}
/*.menu-cont2  .popup-menu-cont2l .left li a.active{background-color:#eaf6fa;}*/
/*.menu-cont2  .popup-menu-cont2l .left .bottom li{margin-top:3px;}*/
/*.menu-cont2  .popup-menu-cont2l .left .bottom li:first-child{margin-top:0;}*/
.menu-cont2  .popup-menu-cont2l .left .top{display:block;}
/*.menu-cont2  .popup-menu-cont2l .left .bottom{background: url(/static/develop/images/bg2.png) no-repeat;padding-top:13px;margin-top: 9px;margin-bottom: -4px;}*/
.menu-cont2  .popup-menu-cont2l .right{padding-left: 197px;padding-top: 10px;}
.menu-cont2  .popup-menu-cont2l .right a{text-decoration:none;display:block;padding-left:12px;margin-left: 3px;}
/*.menu-cont2  .popup-menu-cont2l .right .span-link{display:block;padding-left:12px;margin-left: 3px;cursor:pointer;}*/
/*.menu-cont2  .popup-menu-cont2l .right li{min-height: 25px;}*/
/*.menu-cont2  .popup-menu-cont2l .right li.li-title{margin-bottom:11px;padding-left:15px;}*/
.menu-cont2  .popup-menu-cont2l .right li a span{display:block;line-height: 14px;min-height:10px;}
.menu-cont2  .popup-menu-cont2l .right li a:hover{background:#eaf6fa;}
/*.menu-cont2  .popup-menu-cont2l .right li .span-link span{display:block;line-height: 14px;min-height:10px;}*/
.menu-cont2  .popup-menu-cont2l .right .li-title .header3{font-size:14px;color:#000;line-height:1;text-transform:none; padding-left: 10px;}
.menu-cont2  .popup-menu-cont2l .right .img{position:absolute;right: -40px;    bottom: -20px;}
.menu-cont2  .popup-menu-cont2l .right .section{display:none;}
.menu-cont2  .popup-menu-cont2l .right .section{max-width:100%;}
.menu-cont2  .popup-menu-cont2l .right .section.active{display:block;}
.menu-cont2  .popup-menu-cont2l .right .section ul{max-width:100%;}
.menu-cont2  .popup-menu-cont2l .right .section ul h3{max-width:85%;}	
/*.m_menu .cont .heading {color: #808080;font-size: 10px;line-height: 14px;margin-bottom: 3px;min-height: 10px;}*/
.menu-cont2 .main-page-style.iLight-disable .cont {display: block!important;}	

.menu-cont2 .popup-menu-cont1l {position: absolute;top: 100%;;background: #fff;border-width: 1px;border-style: solid;white-space: nowrap;display: none;overflow: hidden;}
.menu-cont2 .popup-menu-cont1l ul {padding:6px 0px;  vertical-align: top;  display: inline-block;}
.menu-cont2 .popup-menu-cont1l li {margin-bottom: 4px;}
.menu-cont2 .popup-menu-cont1l li a {font-size: 14px;border: 0 none;padding: 0; font-weight: normal; display: block;padding: 0px 10px;}
/* .menu-cont2 end */


.menu-cat-cont{position: relative;}
.menu-cat-cont  .cont .left{ box-sizing: border-box;overflow: hidden;}
.menu-cat-cont  .cont .left a{text-decoration:none;padding:0 13px;display:block;}
.menu-cat-cont  .cont .name2{line-height:14px;margin-bottom:-3px;font-weight:normal;}
.menu-cat-cont  .cont .bottom .name{font-weight:normal;}
.menu-cat-cont  .cont .left li{border-left: 4px solid #D90000;line-height: 25px;padding-left: 10px;cursor: pointer;font-size: 14px;margin-top: 5px; }
.menu-cat-cont  .cont .left li a.active{background-color:#eaf6fa;}
.menu-cat-cont  .cont .left .bottom li{margin-top:3px;}
.menu-cat-cont  .cont .left .bottom li:first-child{margin-top:0;}
.menu-cat-cont  .cont .left .top{display:block;}
.menu-cat-cont  .cont .left .bottom{background: url(/static/develop/images/bg2.png) no-repeat;padding-top:10px;margin-top: 9px;}
.menu-cat-cont  .cont .right{position: absolute;box-sizing: border-box;top:0px; padding: 10px 0px;  background-color: #fff;}
.menu-cat-cont  .cont .right a{text-decoration:none;display:block;padding-left:12px;margin-left: 3px;}
.menu-cat-cont  .cont .right .span-link{display:block;padding-left:12px;margin-left: 3px;cursor:pointer;}
.menu-cat-cont  .cont .right li{min-height: 25px;}
.menu-cat-cont  .cont .right li.li-title{margin-bottom:11px;padding-left:15px;}
.menu-cat-cont  .cont .right li a span{display:block;line-height: 14px;min-height:10px;}
.menu-cat-cont  .cont .right li a:hover{background:#eaf6fa;}
.menu-cat-cont  .cont .right li .span-link span{display:block;line-height: 14px;min-height:10px;}
.menu-cat-cont  .cont .right .li-title .header3{font-size:14px;color:#000;line-height:1;text-transform:none;font-family: verdana; }
.menu-cat-cont  .cont .right .img{position:absolute;right: -40px; bottom: -20px;}
.menu-cat-cont  .cont .right .section{display:none;}
.menu-cat-cont  .cont .right .section{max-width:100%;}
.menu-cat-cont  .cont .right .section.active{display:block;}
.menu-cat-cont  .cont .right .section ul{max-width:100%;}
.menu-cat-cont  .cont .right .section ul h3{max-width:85%;}	
.m_menu .cont .heading {color: #808080;font-size: 10px;line-height: 14px;margin-bottom: 3px;min-height: 10px;}
.menu-cat-cont .main-page-style.iLight-disable .cont {display: block!important;}
.menu-cat-cont  .cont.opened .left{background: url(/static/develop/images/shadow.png) repeat-y 100% 0 #fff; border-width: 1px; border-style: solid; border-right-width: 0px;}
.menu-cat-cont  .cont.opened .right{border-width: 1px; border-style: solid; border-left-width: 0px;}
/* catalog menu end */

/* reklama-cont */
.reklama-cont {position: relative;padding: 5px 9px;}
.reklama-cont .banners {height: 50px !important;}
.reklama-cont .banners .item {border-radius: 2px;display: inline-block;text-align: center; margin-right: 9px;position:relative;}
.reklama-cont .banners .item img {width: 100px;height: 50px;border-radius: 2px;}
.reklama-cont .banners .item span {position: absolute;left:0px;top:10px;display:inline-block; width:100%;text-align: center;color:white;}
.reklama-cont .banners .item.noactive img {opacity:0.4;-moz-opacity:0.4;filter: alpha(opacity=40) black;-khtml-opacity: 0.4;}
.reklama-cont .text-banners {text-align: center;}
.reklama-cont .text-banners a {margin: 2px 5px 0px 5px;}
.reklama-cont .reklama {left: 10px;position: absolute;bottom: 3px;}
.reklama-cont .notice-bg {font-size: 10px;color: #AAAAAA;}
.reklama-cont .how-to-buy {right: 10px;position: absolute;bottom: 3px; cursor: pointer;}
.reklama-cont .banners .unit.text-t3 {position: relative;}
.reklama-cont .banners .unit.text-t3 .wrapper {position: absolute;top: 0px;left: 0px;width: 100px;height: 50px;display: table;}
.reklama-cont .banners .unit.text-t3 .banner-title {display: table-cell;text-align: center;vertical-align: middle;/* padding: 5px; */line-height: 1.3;overflow: hidden;max-width: 90px;font-size: 14px;}
/* reklama-cont end */

/* breadcrumbs */
.breadcrumbs-cont{font-size: 16px;}
.breadcrumbs-cont a{font-size: 16px; }
/* breadcrumbs end */

/* subcategories-cont */
.subcategories-cont ul li{line-height: 25px;}
.subcategories-cont ul li a{font-size: 16px; }
.subcategories-cont ul li span{color:gray;}
/* subcategories-cont end */

/* view-container */
.view-container {padding:20px;}
.view-container .buttons-cont{margin-top: 10px;box-sizing: border-box;float: right;}
.view-container .buttons-cont ul{padding: 0px 20px;}
.view-container .buttons-cont ul li{border: 1px solid white;border-radius: 3px;width: 200px;text-align: center;padding: 5px;margin-bottom: 5px;}
.view-container .buttons-cont ul li:hover{background: white; color: gray;cursor: pointer;}
.view-container .buttons-cont ul li:hover a{color:gray}
.view-container .buttons-cont ul li a{color:white;text-decoration: none;font-size: 18px;}
/* view-container end */

/* view-container1 */
.view-container1{padding:20px; min-height: 250px;}
.view-container1 .breadcrumbs-cont{color: #fff; margin-bottom: 18px;}
.view-container1 .breadcrumbs-cont a{color: #fff;}
/* view-container1 end */

.footer-container{padding: 10px;min-height: 200px;}
.footer-container ul li{line-height: 25px;}

/* skin-theme1 */
.realty-theme{color:white}
.realty-theme .subcategories-cont ul li a{color: #fff;}
.realty-theme .menu-cont2{background-color: #5988F4;}
.realty-theme .view-container1{background: url(http://rasfokus.ru/images/photos/medium/3ec96aceb3a0049ec227d723f87b1286.jpg) no-repeat;}
.realty-theme .subcategories-cont ul li span {color: gray;}
.realty-theme a{color:white}
/* skin-theme1 end */

/* skin-theme2 */
.job-theme{color:white}
.job-theme .subcategories-cont ul li a{color: #fff;}
.job-theme .menu-cont2{background-color: #6A0002;}
.job-theme .view-container1{background: url(http://i.hh.ru/css/globals/blocks/index-dashboard/images/anonymous-background-anniversary.jpg) no-repeat;}
.job-theme .subcategories-cont ul li span {color: gray;}
.job-theme a{color:white}
/* skin-theme2 end */

/* light-blue-theme */
.light-blue-theme {color:black;}
.light-blue-theme .menu-cont2{background-color: #12B0EC;}
.light-blue-theme .menu-item:hover{background-color: #68CCF2;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;-o-transition: background-color 0.2s;transition: background-color 0.2s;}
.light-blue-theme .popup-menu-cont li a:hover {background-color: #68CCF2;text-decoration: none;}
.light-blue-theme .popup-menu-cont{border: 1px solid #12B0EC}
.light-blue-theme .menu-cont2 .popup-menu-cont2l .left .span-link{border-left: 4px solid #12B0EC;}
.light-blue-theme .menu-cont2 .popup-menu-cont2l .span-link:hover{background-color: #68CCF2; transition: background-color 0.2s, color 0.3s; color:black; }
.light-blue-theme .view-container{color: black; background: url(/static/develop/images/themes/light-blue-theme/subtle-light-blue-polygon-v271153.png);}
.light-blue-theme .view-container a, 
.light-blue-theme .reklama-line a{color: #134A69}
.light-blue-theme .coupon-item-cont a{color: #2a76a1;}
.light-blue-theme .coupon-item-cont {color: black;}
.light-blue-theme .view-container a:hover, 
.light-blue-theme .reklama-line a:hover{ color: #D30000; -webkit-transition: color 0.3s;-moz-transition: color 0.3s;-o-transition: color 0.3s;transition: color 0.3s;}
.light-blue-theme.reklama-cont { background: url(/static/develop/images/themes/light-blue-theme/subtle-light-blue-polygon-v271153.png);}
.light-blue-theme.detail-cont { background: url(/static/develop/images/themes/light-blue-theme/subtle-light-blue-polygon-v271153.png);}
.light-blue-theme.detail-cont .detail-cont-in { padding:10px; background: url(/static/develop/images/themes/light-blue-theme/white-subtle-wall-of-lines-21315.png);}
/* light-blue-theme end */

/* skin-theme4 */
.blue-subtle-theme{color:white}
.blue-subtle-theme .view-container a{color: white;}
.blue-subtle-theme .view-container a:hover{ color: #E96F4F; -webkit-transition: color 0.3s;-moz-transition: color 0.3s;-o-transition: color 0.3s;transition: color 0.3s;}
.blue-subtle-theme .view-container a.active{ color:#E96F4F;}
.blue-subtle-theme .menu-cont2{background-color: #2D5169;}
.blue-subtle-theme .view-container{background: url(/static/develop/images/themes/blue-subtle-theme/blue-subtle-wall-of-lines-21315.png);}
.blue-subtle-theme .subcategories-cont ul li span {color: black;}
.blue-subtle-theme .menu-item:hover{background-color: #78A0BB;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;-o-transition: background-color 0.2s;transition: background-color 0.2s;}
.blue-subtle-theme .popup-menu-cont li a:hover {background-color: #78A0BB;text-decoration: none;}
.blue-subtle-theme .popup-menu-cont{border: 1px solid #2D5169}
.blue-subtle-theme .menu-cont2 .popup-menu-cont2l .left .span-link{border-left: 4px solid #2D5169;}
.blue-subtle-theme .menu-cont2 .popup-menu-cont2l .span-link:hover{background-color: #78A0BB; transition: background-color 0.2s, color 0.3s; color:white; }
/* skin-theme4 end */

/* skin-theme6 */
.green-dense-theme{color: black}
.green-dense-theme .subcategories-cont ul li a{}
.green-dense-theme .subcategories-cont ul li a.active{ color:#E96F4F;}
.green-dense-theme .menu-cont2{background-color: #B9B9B9;}
.green-dense-theme .view-container{background: url(/static/develop/images/themes/green-dense-theme/white-subtle-wall-of-lines-21315.png);}
.green-dense-theme .subcategories-cont ul li span {color: gray;}
.green-dense-theme .view-container a{  }
.green-dense-theme.reklama-cont {  background: url(/static/develop/images/themes/green-dense-theme/white-subtle-wall-of-lines-21315.png);}
.green-dense-theme .menu-item:hover{background-color: #ABD673;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;-o-transition: background-color 0.2s;transition: background-color 0.2s;}
.green-dense-theme .popup-menu-cont li a:hover {background-color: #ABD673;text-decoration: none;}
.green-dense-theme .popup-menu-cont{border: 1px solid #B9B9B9}
.green-dense-theme .menu-cont2 .popup-menu-cont2l .left .span-link{border-left: 4px solid #B9B9B9;}
.green-dense-theme .menu-cont2 .popup-menu-cont2l .span-link:hover{background-color: #ABD673; transition: background-color 0.2s, color 0.3s; color:white; }
/* skin-theme6 end */

/*crimson-theme*/
.crimson-theme .menu-cont2{background-color: #313131; }
.crimson-theme .subcategories-cont ul li span {color: #313131;}
.crimson-theme .menu-item:hover{background-color: #F98C8C;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;-o-transition: background-color 0.2s;transition: background-color 0.2s;}
.crimson-theme .popup-menu-cont li a:hover {background-color: #F98C8C;text-decoration: none;}
.crimson-theme .popup-menu-cont{border: 1px solid #313131}
.crimson-theme .menu-cont2 .popup-menu-cont2l .left .span-link{border-left: 4px solid #313131;}
.crimson-theme .menu-cont2 .popup-menu-cont2l .span-link:hover{background-color: #F98C8C; transition: background-color 0.2s, color 0.3s; color:white; }
.crimson-theme .view-container{color: black}
.crimson-theme .view-container{background: url(/static/develop/images/themes/crimson-theme/Soft-Dot-Mix-ver-10.png);}
.crimson-theme .view-container a, 
.crimson-theme .reklama-line a{ }
.crimson-theme .view-container a:hover, 
.crimson-theme .reklama-line a:hover{ color: #E96F4F; -webkit-transition: color 0.3s;-moz-transition: color 0.3s;-o-transition: color 0.3s;transition: color 0.3s;}
.crimson-theme .view-container a.active, 
.crimson-theme .reklama-line a.active{ color:#E96F4F;}
.crimson-theme.reklama-cont {  background: url(/static/develop/images/themes/crimson-theme/Soft-Dot-Mix-ver-10.png);}
/*crimson-theme end*/

/*gray-theme*/
.gray-theme .menu-cont2{background-color: gray; text-align: center;}
.gray-theme .menu-item:hover{background-color: #b7b7b7;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;-o-transition: background-color 0.2s;transition: background-color 0.2s;}
.gray-theme .popup-menu-cont li a:hover {background-color: #b7b7b7;text-decoration: none;}
.gray-theme .popup-menu-cont{border: 1px solid gray}
.gray-theme .footer-container{background-color: whitesmoke;}
.gray-theme .menu-cont2 .popup-menu-cont2l .left .span-link{border-left: 4px solid gray;}
.gray-theme .menu-cont2 .popup-menu-cont2l .span-link:hover{background-color: #b7b7b7; transition: background-color 0.2s, color 0.3s; color:white; }
/*gray-theme end*/

/* skin-theme6 */
.main-theme .view-container{color: white}
.main-theme .view-container{background: url(http://www.free-patterns.info/wp-content/uploads/2015/08/subtle-red-scratched-wall-221614.png);}
.main-theme .view-container a, .main-theme .reklama-line a{color: white}
.main-theme .view-container a:hover, .main-theme .reklama-line a:hover{ color: #E96F4F; -webkit-transition: color 0.3s;-moz-transition: color 0.3s;-o-transition: color 0.3s;transition: color 0.3s;}
.main-theme .view-container a.active, .main-theme .reklama-line a.active{ color:#E96F4F;}
.main-theme .subcategories-cont ul li span {color: gray;}

.main-theme .menu-cont2{background-color: #D30000;}
.main-theme.reklama-cont {  background: url(http://www.free-patterns.info/wp-content/uploads/2015/08/subtle-red-scratched-wall-221614.png);}
.main-theme .banners a{color:white;}
/* skin-theme6 end */



/* table-result-info */
.table-result-info{width: 100%; font-size: 14px;}
.table-result-info .tr.premium_tr{background-color: #f5f5f5;}
.table-result-info .tr{line-height: 1.3  ;border-bottom: 8px solid white;}
.table-result-info .tr.hover{background-color: #F0f0f0;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;-o-transition: background-color 0.2s;transition: background-color 0.2s;}
.table-result-info .tr.hover .additional-cont{background-color: #DCDCDC;display: block;}
.table-result-info .td{box-sizing: border-box;}
.table-result-info .td-1{vertical-align:top;padding: 10px 10px 10px 23px;width: 170px;}
.table-result-info .td-1 .img-cont{width: 136px;height: 107px;position: relative;text-align: left;cursor: pointer;}
.table-result-info .img-frame{max-width: 136px;max-height: 107px;}
.table-result-info .img-cont .premium-tape {background: url('/static/develop/images/premium.png') no-repeat;width: 93px;height: 34px;position: absolute;top: -3px;left: -5px;}
.photos-count{position: absolute;bottom: 10px;left: 10px; width: 20px; color: white;border: 1px solid #fff;line-height: 1;padding: 1px; text-align: center;background-color: rgba(157, 157, 157, 0.4);}
.table-result-info .td-2{vertical-align: top; padding: 10px;word-wrap: break-word;}
.table-result-info .td-2 .title{/*line-height: 25px;*/ font-size: 14px;}
.table-result-info .td-2 .title a{font-size: 18px;}
.table-result-info .td-2 .style1{line-height: 25px;}
.table-result-info .td-2 .style2{font-size: 14px; font-weight: bold;}
.table-result-info .td-2 .amount{color: #D90000; line-height: 30px; font-size: 22px;}
.table-result-info .td-2 .amount .rub{}
.table-result-info .td-2 .table-details{margin: 5px 0px;}
.table-result-info .td-2 .table-details .attr-title{padding-right: 10px;}
.table-result-info .td-3{vertical-align: top;padding: 10px;width: 150px;}
.table-result-info .td-3 img{max-width: 100px;}
.table-result-info .td-3 .title{margin-top: 10px;}
.table-result-info .td-icons{vertical-align:top;padding:10px 5px;width: 30px;}
.table-result-info .td-additional{width: 1px;vertical-align: top}
.table-result-info .additional-cont{display:none;width: 190px; background-color: #F5F5F5; position: absolute;top:0px; right: -190px; min-height: 120px;border-bottom: 1px solid #A7A8A7; }

.table-result-info .td-company-info{vertical-align: top;padding: 10px;width: 150px;}
.table-result-info .td-company-info div {text-align: right;}
.table-result-info .td-company-info img{max-width:50px;max-height: 70px;}
.table-result-info .hover .td-company-info img{max-width:80px;max-height: 70px;
    -webkit-transition: max-width 0.5s ease-out 1s;
     -moz-transition: max-width 0.5s ease-out 1s;
     -o-transition: max-width 0.5s ease-out 1s;
     transition: max-width 0.5s ease-out 1s;
}

.table-result-info .td-company-info .state{display:none;}
.table-result-info .hover .td-company-info .state{display:block;}

.table-result-info.style1{margin-bottom: 5px;}
.table-result-info.style1 .img-frame{max-width: 100px;max-height: 75px;}
.table-result-info.style1 .td-2 .title a{font-size: 14px;}
.table-result-info.style1 .td-1 {padding: 10px;width: 120px;}
.table-result-info.style1 .td-1 .img-cont {width: 100px;height: 75px;}

.table-result-info .details-cont{margin: 5px 0px;}
.table-result-info .attr-cont{display: inline-block;margin-right: 10px;font-size: 14px;}
.table-result-info .attr-cont .caption{padding-right: 3px;}
/* table-result-info end */

.paginator-cont{padding: 10px 0px; box-sizing: border-box;}
.paginator-cont a{font-size: 18px;padding: 0px 10px;}
.paginator-cont .active{font-weight: bold;}
.paginator-cont .common{margin-bottom: 10px;}
.paginator-cont .right{text-align: right;}

.thumbnails-cont .img-cont{display: inline-block;position: relative;text-decoration: none;}
.thumbnails-cont .img-cont .center-img{max-width: 120px;}
.thumbnails-cont .img-cont img{height: auto;max-width: 100%;max-height: 90px;}

.params-cont tr td:first-child{}
.params-cont table tr td{line-height: 16px;padding-bottom: 3px;padding-right: 41px;}
.params-cont table tr td:last-child{padding-right: 0;}
.params-cont .amount{font-size: 22px;color: #D90000;font-weight: normal;line-height: 1.2;}
.params-cont .rub{}

.service-block-cont{background-color: #F5F5F5}
.service-block-cont .line{padding: 5px 5px;margin-bottom: 5px;width: 100%;text-align: center;}

.info-block-cont .body{padding: 10px;}
.info-block-cont .block-title span{font-size: 14px; line-height: 18px; padding: 2px 15px;color:#fff;}
.info-block-cont.theme1{background-color: #F5F5F5; border-bottom: 1px dotted #2B587A;}
.info-block-cont.theme1 .block-title{border-bottom: 1px solid #2B587A; background: #2B587A; padding: 2px 15px; }
.info-block-cont.theme1 .block-title span{padding: 0; }
.info-block-cont.theme2{background-color: #F5F5F5; border-bottom: 1px dotted #2B587A;}
.info-block-cont.theme2 .block-title{border-bottom: 1px solid #D90000;}
.info-block-cont.theme2 .block-title span{background-color: #D90000;}
.info-block-cont.theme3 .block-title{border-bottom: 1px solid #D90000;}
.info-block-cont.theme3 .block-title span{background-color: #D90000;}
.info-block-cont.theme4 .block-title{border-bottom: 1px solid #2B587A;}
.info-block-cont.theme4 .block-title span{background-color: #2B587A; }
.serv_button{font-size: 14px;width: 48%;margin-right: 3px;}
.serv_button:nth-child(even){margin-right: 0;}
.services-cont .list .item{display: block; font-size: 18px; cursor: pointer;line-height: 30px;}
.services-cont .list .item:hover{ }
.services-cont .list .span-link{}
.services-cont .list .ico{margin-right: 5px;}

.messages-cont .ico.warning{background: url("/static/develop/images/alert.png") no-repeat;display: block;float: left;height: 14px;width: 14px;}
.messages-cont.warning .body p{color: #D30000;padding-left: 20px;line-height: 1.2;}

.contacts-cont .body{padding: 20px;}
.contacts-cont .author-name {font-size: 18px;line-height: 25px;}
.contacts-cont p{word-break: break-all;line-height: 25px;font-size: 18px;margin-bottom: 5px;}
.contacts-cont .ico{margin-right: 5px;}

.images-cont .image-cont{text-align: center;}
.images-cont .image-cont img{height: auto;max-width: 100%;}
.image-cont.coupon-image-cont .procent-cont {position: absolute;top: 0px;left: 15px;}
.image-cont.coupon-image-cont .discount-price-cont{position: absolute;top: 0px;left: 85px;}

.other-objects-cont .header {background-color: #fff;color: #f48052;font-size: 24px;padding: 10px 16px;}
.other-objects-cont .items-cont {background-color: #e6e6e6;border-top: 1px solid #bac1c4;overflow: hidden;padding-top: 12px;}
.other-objects-cont .items-cont .item {background-color: #fff;cursor: pointer;float: left;height: 180px;margin: 0 10px 12px;padding: 5px;width: 134px;}
.other-objects-cont .items-cont .item .photo {float: left;height: 92px;margin-top: 6px;text-align: center;width: 100%;}
.other-objects-cont .items-cont .item .photo img {max-width: 120px;}
.other-objects-cont .items-cont .item .nophoto {background-color: #dfdfdf;color: #fff;display: block;font-size: 18px;margin-top: 36px;padding: 5px 0;text-align: center;width: 100%;}
.other-objects-cont .items-cont .item .text {float: left;font-size: 14px;height: 32px;margin: 5px 0;overflow: hidden;width: 100%;}
.other-objects-cont .items-cont .item .price {background: url("/static/develop/images/price-bg.png") no-repeat;color: #fff;float: left;width: 100%;}
.other-objects-cont .items-cont .item .price .cont {color: #fff;display: block;font-size: 18px;padding: 5px;text-align: center;}
.other-objects-cont .items-cont .item .price .cont .rub {}

.items-list-cont ul{display: inline-block;padding: 0 20px;vertical-align: top;}
.items-list-cont ul li {line-height: 25px;}
.items-list-cont ul li a {font-size: 18px;}
.items-list-cont ul li span {color: gray;}
.items-list-cont .items-cont{margin: 10px 0px;}

.items-list-cont1 .item-cont{padding: 5px; margin: 5px; background: #F5F5F5;border-radius: 3px;cursor: pointer;border-left: 4px solid #2B587A;}
.items-list-cont1 .item-cont img {float: left;max-height: 55px;max-width: 100px;margin-right: 10px;}
.items-list-cont1 .item-cont p {line-height: 20px;font-size: 14px;}

.items-list-cont2 .items-cont{padding-top: 10px;}
.items-list-cont2 .items-cont ul li{margin-bottom: 10px; line-height: 25px;}
.items-list-cont2 .items-cont ul li a {font-size: 14px;}
.items-list-cont2 .items-cont ul li span{color: gray}

.items-list-lider{border-bottom: none;}
.items-list-lider .item {line-height: 20px;padding: 5px 38px;background: #F0F0F0;border-radius: 3px;margin:0 10px 10px 0;}
.items-list-lider .item .line1{font-size: 10px;}
.items-list-lider .item a{font-size: 14px;}
.items-list-lider .item .line2 {color: #333; font-size: 14px;}
.items-list-lider .item .photo-cont {}
.items-list-lider .item img {max-width: 100%; height: auto; cursor: pointer;}
.items-list-lider .item.half {width:238px; height:240px;float:left;overflow: hidden;}
.items-list-lider .item.half img {max-height: 130px;}

.banner.style1{text-align: center;}
.banner.style2{padding: 5px 5px 5px 42px; background-color: #F0F0F0;}

.items-list-cont4 .group-cont{margin-bottom: 19px;}
.items-list-cont4 .group-cont .group{text-decoration: none;display: block;margin-bottom: 10px;}
.items-list-cont4 .group-cont .img{display: table-cell;vertical-align: middle;padding-right: 5px;}
.items-list-cont4 .group-cont .text-cont{display: table-cell;vertical-align: middle;}
.items-list-cont4 .group-cont .text {font-size: 18px;color: #000;text-transform: uppercase;line-height: 17px;}
.items-list-cont4 .group-cont .info {color: #666;font-size: 10px;}
.items-list-cont4 .group-cont .href-bl {font-size: 11px;color: #4b759e;overflow: hidden;padding-left: 45px;}
.items-list-cont4 .group-cont .href-bl .el {font-size: 14px;display: block;}
.items-list-cont4 .group-cont .href-bl a {font-size: 14px;}

.info404-cont {border-right: 1px solid #b8b8b8;margin-top: 6px;padding-right: 15px;}
.info404-cont .mess404 {font-size: 153px;color: #b8b8b8;padding-bottom: 0;line-height: 1;}
.info404-cont p {color: #616161;line-height: 14px;padding-bottom: 13px;}
.info404-cont h2{color: #333;font-size: 18px;line-height: 19px;}
.info404-wrp{float: right;}

.coupon-info-cont .price-cont{height: 90px;padding: 24px 15px;position: relative;}
.coupon-info-cont .price-cont .price{color: white;font-size: 34px;}
.coupon-info-cont .price-cont .rub {}
.coupon-info-cont .discount-cont{padding: 7px 0 13px;}
.coupon-info-cont .discount-cont table {width: 100%;}
.coupon-info-cont .discount-cont td {padding: 0 10px; border-right: 1px solid gray;}
.coupon-info-cont .discount-cont td:last-child{border:none;}
.coupon-info-cont .discount-cont .top {padding-bottom: 10px;color: #9e9e9e;font-size: 14px;}
.coupon-info-cont .discount-cont td span {color: #2f3842;font-size: 20px;}
.coupon-info-cont .discount-cont .rub{}

.buy-items-table{width: 100%;}
.buy-items-table td{padding: 5px; text-align: center}
.buy-items-table thead td{}
.buy-items-table .rub{}

.infographics-cont .cont{padding: 0 10px 10px 10px;}
/*.infographics-cont .infografika-item {width: 310px;margin-top: 10px;display: inline-block;vertical-align: top;}*/
.infographics-cont .photo-cont {float: left;padding: 5px;}
.infographics-cont .text {padding: 5px;}
.infographics-cont .title {padding-bottom: 5px;}
.infographics-cont .more-info {padding-top: 5px;text-align: right;}

.form-cont .labelcont{text-align: left; margin-bottom: 10px;}
.form-cont .labelcont label{font-size: 14px;text-transform: uppercase;}
.form-cont .inp-cont{min-height: 40px;position: relative;}
.form-cont .textarea{background:white;}
.form-cont .inp-cont.error input[type="text"],
.form-cont .inp-cont.error input[type="password"]{border:1px solid #EF8680;}
.form-cont .inp-cont.error select{border:1px solid #EF8680;}
.form-cont .inp-cont.error textarea{border:1px solid #EF8680;}
.form-cont .inp-cont.error .inform {padding: 5px;background: #FFE5E6; color: #da0c0c;}
.form-cont .inp-cont .required-star{color: #FF0000;position: absolute;right: -10px;top: -5px;font-size: 14px;}
.form-cont .notice-cont{font-size: 10px;border: 1px solid #cfd0d5;background: linear-gradient(to bottom, #fdfdfd, #bfc3c6);padding: 5px;}
.form-cont .inform {color: #7F7F7F;font-size: 11px;display: block;}
.form-cont .btn-next{border-radius: 3px; line-height: 25px;position: relative;width: 130px; padding-left: 20px; -webkit-transition: all 0.2s ease-in !important;-o-transition: all 0.2s ease-in !important;transition: all 0.2s ease-in !important;}
.form-cont .btn-next .fa{color: transparent; -webkit-transition: all 0.2s ease-in !important;-o-transition: all 0.2s ease-in !important;transition: all 0.2s ease-in !important;}
.form-cont .btn-next:hover{box-shadow: none;color: #fff;padding-left: 0px;}
.form-cont .btn-next:hover .fa{color: #fff;}

.form-cont input[type="text"]:focus,
.form-cont input[type="password"]:focus{border-color: #66afe9;box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.form-cont select:focus {border-color: #66afe9;box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.form-cont textarea:focus {border-color: #66afe9;box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}

.menu-cont3 {border-bottom: 3px solid #323b45;overflow: hidden;text-transform: uppercase;border-top-left-radius: 4px;border-top-right-radius: 4px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;background-color: #e0e0e0;min-height: 28px;}
.menu-cont3 .catalog-title {float: left;background: #424a53;color: #ffffff;padding: 8px 0 5px 0;width: 170px;text-align: center;border-top-left-radius: 4px;border-top-right-radius: 0;border-bottom-right-radius: 0;border-bottom-left-radius: 0;position: relative;height: 28px;}
.menu-cont3 .catalog-title .separator {width: 8px;height: 28px;position: absolute;top: 0;right: -1px;bottom: auto;left: auto;background: url(/static/develop/images/right-gray-angle.png) no-repeat;}
.menu-cont3 .subs-links-cont {float: left;padding-left: 10px;font-size: 11px;}
.menu-cont3 .subs-links-cont a {display: block;float: left;padding: 8px 0 0px 0;height: 28px;}
.menu-cont3 .subs-links-cont .separator {width: 20px;height: 28px;float: left;background: url(/static/develop/images/right-gray-slash.png) no-repeat;}
.menu-cont3 .other-link {display: block;padding: 7px 20px 0px 0;font-size: 10px;text-align: right;}
.menu-cont3 .other-link span{font-size: 14px;}

.coupon-item-cont {float:left;display: block;position: relative;font-size: 14px;background: #fff;margin: 1%;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);text-decoration: none;cursor: pointer;max-width: 341px;}
.coupons-cont .coupon-item-cont{width: 31%;}
.coupon-item-cont:hover .slide-cont {bottom: 0;}
.coupon-item-cont:hover {box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);color: #333;text-decoration: none;}
.coupon-item-cont .img-cont {width: 100%;overflow: hidden;position: relative;text-align: center;max-height: 255px;}
.coupon-item-cont .img-cont img{max-width: 100%}
.coupon-item-cont .discount-label {width: 50px;height: 35px;text-align: center;color: white;font-size: 18px;position: absolute;top: 0px;left: 10px;padding-top: 5px;line-height: 25px;text-decoration: none;background-color: #f6753e;border-radius: 0px 0px 10px 10px;}
.coupon-item-cont .slide-cont {width: 100%;height: 214px;position: absolute;bottom: -214px;left: 0;transition: all 0.5s ease-out;}
.coupon-item-cont .geo-cont {color: #ffffff;position: absolute;bottom: 28px;background-color: #333;background: rgba(0, 0, 0, 0.4);width: 100%}
.coupon-item-cont .geo-cont .geo-items {margin: 4px 0;overflow: hidden;}
.coupon-item-cont .geo-cont .geo-items li {font-size: 14px;float: left;padding-left: 7px;margin: 0 3px 0 5px;line-height: 12px;position: relative;}
.coupon-item-cont .addr-item {width: 5px;height: 5px;border-radius: 10px;position: absolute;top: 3px;left: 0;}
.coupon-item-cont .data-cont {color: #ffffff;height: 28px;position: absolute;bottom: 0px;background-color: #333;background: rgba(0, 0, 0, 0.6);width: 100%;}
.coupon-item-cont .data-cont span {font-size: 14px;}
.coupon-item-cont .time-cont {float: left;padding: 6px 5px 4px 7px;}
.coupon-item-cont .number-cont {float: right;padding: 6px 10px 4px 27px;}
.coupon-item-cont .info-cont {position: absolute;bottom: 0;width: 100%;padding: 12px;overflow: hidden;background-color: #333;background: rgba(0, 0, 0, 0.8);}
.coupon-item-cont .likes-cont {width: 33px;height: 31px;float: right;color: white;line-height: 32px;}
.coupon-item-cont .price-cont {border-top: 1px solid #eaebec;overflow: hidden;height: 28px;}
.coupon-item-cont .price {float: left;padding: 5px;font-size: 14px;padding: 7px 0 4px 20px;text-decoration: line-through;}
.coupon-item-cont .separator {width: 9px;height: 27px;position: absolute;top: 0;left: 0;}
.coupon-item-cont .discounted {float: right;font-size: 20px;color: #fff;background: #f6753e;padding: 2px 10px 0px 20px;text-align: right;height: 28px;width: 49%;position: relative;}
.coupon-item-cont .discount-label span {font-size: 12px;position: relative;top: -3px;}
.coupon-item-cont .description-cont {padding: 3px 8px 0;overflow: hidden;line-height: 17px;display: block;height: 40px; }

.graytheme *{color: #3B3B3B; font-size: 14px; line-height: 1.5;}
.graytheme p{padding-bottom: 10px;}
.graytheme h2{font-size: 24px;  padding-bottom: 10px;}
.graytheme h3{font-size: 20px;  padding-bottom: 10px;}
.graytheme h4{font-size: 16px;  padding-bottom: 10px;}
.graytheme ul li{border-top: 1px solid #e5e5e5; padding:10px;list-style:none;}


/* layout */
.module{margin-bottom: 10px;}
/* end layout */

/* pages */

/* end pages */

.cropper-actions{margin-top: 5px;}
.cropper-actions .btn{margin: 3px 3px 3px 0px;}

@media (max-width: 1200px){
    .topline.banner{ height: auto; }
}
@media (max-width: 992px){
    .menu-cont2 .menu-item.right{float: left;}
	.top-line{height: auto;}
	.top-line .banner{margin-top: 10px;}
	.table-result-info .td-3, .table-result-info .td-4{display: none;}	
}

@media (max-width: 768px){
	.top-line .counter{display: none;}
	.info404-wrp{float: none;}
	.popup-window .required-label{position: static; width: auto;}
	.popup-window .required-label .msg{position: static}
	.popup-window .required-label .msg:after{display: none;}
	.coupons-cont .coupon-item-cont{width: 48%;}
    .main_menu{/*border-bottom:1px solid #313131;*/ padding: 10px; margin-bottom: 20px;}
    .main_menu .menu-item{width: 100%; padding: 5px 0;}
    .main_menu .menu-item.js-newsmenu-dropdown{margin-top: 10px;}
    .main_menu .menu-item.js-mainmenu-dropdown{width: 50%; display: block;}
    .js-newsmenu-dropdown, .js-kuponmenu-dropdown, .city-companies{display: none;}
    .ue-tab-container{display: none;}
    .crimson-theme .menu-cont2{background-color: transparent;}
    .menu-cont1 .cont1 .menu-item{margin-right: 0;}

}

@media (max-width: 500px){
	.coupons-cont .coupon-item-cont{width: auto;}
    .search-cont{margin-top: 10px;}
    .usearch_menu{margin-top: 0 !important;}
    .usearch_menu li{display: block;}
    .main_menu .menu-item.js-mainmenu-dropdown{width: 70%;}
}

@media screen and (min-width: 993px) {
	html {margin-left: calc(100vw - 100%);margin-right: 0;}
}

/* enhanced columns */
.enc-columns-col {
    display:inline-block;
    vertical-align: top;
}
.enc-columns-row {

}
.enc-columns-link {
    padding:0 5px;
    box-sizing:border-box;
}
/* enhanced columns done */
.subcategories-cont.module.subcat-search a {
    display:inline-block;
    padding:0 5px;
    box-sizing:border-box;
}
.subcategories-cont.module.subcat-search ul li {
    height:25px;
}
.subcategories-cont.module.subcat-search ul li div {
    display:inline;
}

/* auto collapse module */
.auto-collapse {
    overflow:hidden;
    position:relative;
    padding-bottom:20px;
    box-sizing:content-box;
}
.auto-collapse-expand-wrapper {
    position: absolute;
    display:block;
    bottom:0;
    left:0;
    width:100%;
    height:20px;
    background: rgba(255,255,255,1);
}
a.auto-collapse-expand {
    text-align: right;
    width:100%;
    height:100%;
    line-height: 20px;
    display:block;
    font-size: 20px;
    color: red;
}
.common-error {
    color:red;
    font-size:14px;
    margin:20px 0;
}

.hidden{
    display: none !important;
}

.city_change span{
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .js-newsmenu-dropdown, .js-kuponmenu-dropdown, .city-companies{display: block !important;}
}

#wcomments_posts_wrap{
    border-bottom: 1px solid #DAE1E8;
}

#vk_comments{
    margin-bottom: 20px;
}