.tab-filter{background-color:#F7F8F8;border-top: 1px solid #ccc;padding: 10px 0;}
/*.tab-filter .params-cont{padding-right: 100px;padding-left: 18px; position: relative;z-index:1;}*/
.tab-filter .column-list{min-width:-webkit-min-content;}
.tab-filter .multiselect .checkbox label:not(.label-span){display: block; float: left; margin-left: 0; margin-right: 15px;}
.tab-filter .filters-items, .tab-filter .filters-subitems{max-width:100%;overflow:hidden;}
.tab-filter .filters-boolean{width:400px;overflow:hidden;}
.tab-filter .filters-boolean .column-list{float:left;width:150px;}
.tab-filter .filters-boolean .column-list span{white-space: normal;}
.tab-filter .filters-default{width:auto;overflow:hidden;}
.tab-filter .filters-items .column-list{width:180px;float:left;}
.tab-filter .filters-items .column-list div{  
	width: 100%;
    float: left;
    margin-bottom: 5px;
    padding: 5px 5px 0;
}

.tab-filter .filters-subitems .column-list{width:150px;float:left;}
.tab-filter .filters-subitems .column-list div{width:100%;float:left;min-height:22px; border-top: 1px solid #eee;}
.tab-filter  input.submit,
.tab-filter  input.button{background:#F0F0F0;border:1px solid #E2E2E2;border-radius:2px;padding:auto;padding:3px;cursor:pointer;}
.tab-filter  input.btn-clear{position: absolute;top: 5px; right: 15px;}
.tab-filter  input[type="text"]{background-color: #FFFFFF;background-image: linear-gradient(#FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);border: 1px solid #AAAAAA;border-radius: 3px;box-shadow: 0 0 3px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.1);color: #000000;font: 14px Verdana;height: 25px;padding: 0 6px;position: relative;width: 79px;}
.tab-filter  input.submit.main-submit{background-color:#53A9CB;height:39px;width:132px;color:#fff;margin: 0 5px 10px;float:left;} 
.tab-filter  input.submit.main-submit:hover{background-color:#74B8D3}
.tab-filter .checkbox  input{vertical-align: middle;}
.tab-filter .multiselect .checkbox{padding:5px;cursor:auto}
.tab-filter .group{color: #5D666E;font-size: 14px;border-bottom: 1px solid #F1F1F1;padding-bottom:5px;}
.tab-filter .multiselect .cont{height:39px;background:url("/static/develop/images/multisel.png") no-repeat scroll left -39px;}
.tab-filter .param{border-radius: 4px;width: 33.33333%; position: relative;padding: 0 5px; margin-bottom: 10px;}
.tab-filter .multiselect.active{background-position:right -156px;box-shadow: 0 0 5px #4FAAE3;}
.tab-filter .multiselect.active .cont {background-position: 0 -195px;}
.tab-filter .multiselect.active:hover{background-position:right -234px;box-shadow: 0 0 5px #4FAAE3;}
.tab-filter .multiselect.active:hover .cont {background-position: 0 -273px;}
/*.tab-filter .multiselect.active:hover .cont{background-position: 0px -195px !important;}*/
.tab-filter .multiselect:hover{background-position: right -78px; box-shadow:0 0 5px #4faae3;}
.tab-filter .multiselect:hover .cont{background-position: 0px -117px;}
.tab-filter .multiselect span{line-height: 19px;}
.tab-filter .multiselect .checkbox .column-list .label-span{white-space: normal !important;width: 70%; display: inline-block; cursor: pointer;}
.tab-filter .close{background:url('/static/develop/images/link_arrow.png') no-repeat right center;padding-right:15px;}
.tab-filter .open{background:url('/static/develop/images/link_arrow_open.png') no-repeat right center;padding-right:15px;}
.tab-filter .operations-cont{margin: 10px 5px 10px 0px; text-align: right;clear: both;}

.operations-cont button{
	border: none;
	outline: none;
	border-radius: 2px;
	padding: 2px 8px;
	color: #fff;
}

.multiselect{background: url(/static/develop/images/multisel.png) no-repeat right top;border-radius: 4px;cursor:pointer;position:relative;}
.multiselect:hover{background-position: right -52px; box-shadow:0 0 5px #4faae3;}
.multiselect.active{background-position: right -104px; box-shadow:0 0 5px #4faae3;}
.multiselect .cont{background: url(/static/develop/images/multisel.png) no-repeat left -26px;height: 26px;padding-right: 33px;padding-left:7px;}
.multiselect:hover .cont{background-position: 0 -78px;}
.multiselect.active .cont{background-position: 0 -130px;}
.multiselect span{line-height: 24px}
.multiselect .name{font-size:14px;color:#5D666E;margin-right:6px;}.multiselect .info{font-size:12px;color:#808080;}
.multiselect .info.a{background: url(/static/develop/images/plus_03.jpg) right  no-repeat;padding-right:19px;}
.multiselect .checkbox{min-width: 100%; position:absolute;top:105%;left:0;background:#fff;padding:3px 0px;border:1px solid #989898;box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);border-radius:4px;display:none;white-space: nowrap;}
.multiselect .checkbox input{margin-top:1px; width: 100%;}

.multiselect .checkbox input[type=checkbox]{
	width: auto;
	float: left;
	margin-right: 5px;
}

.multiselect .checkbox .col{ display: inline-block;margin: 0 4px;vertical-align: top;}
.multiselect .checkbox span{line-height:14px!important;padding:0; white-space: inherit!important;}

.checkbox span{padding-left:28px;display: inline-block;line-height: 16px;}
.checkbox input{display: block; margin-bottom: 5px;}

.filter-item{
	width: 33.3333%;
	float: left;
	padding: 7px;
}

.main-filters-cont{
	border-bottom: 1px solid #ccc;
	margin-bottom: 7px;
}



input.cmn-toggle-round{
    margin-left: -999999px;
    position: absolute;
    visibility: hidden;
}

input.cmn-toggle-round + label {
	margin-left: 15px;
    padding: 2px;
    width: 33px;
    display: block;
    float: right;
    position: relative;
    cursor: pointer;
    outline: none;
    height: 18px;
    background-color: #dddddd;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 16px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 15px;
}

.submit-cont{
	position: absolute;
  bottom: 0;
  left: 50%;
}

.submit-cont button{
	height: 35px;
    width: 100px;
    color: #fff;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 2px;
    margin-top: 10px;
}