body {font-family: Verdana, Geneva, sans-serif;font-size: 12px;color: #333;}

.kupon-print-cont {width: 600px;margin: 0 auto;position:relative;}
.fw-b {font-weight: bold;}
.ta-c {text-align: center;}
.tt-u {text-transform: uppercase;}
.color-gray {color: gray;}
.fs16 {font-size: 16px;}
.fs20 {font-size: 20px;}
.fs26 {font-size: 26px;}
.row {overflow: hidden;}
.w49p {width: 49%;}
.fl {float: left;}
.fr {float: right;}
.text-cont {font-size: 10px;}
#ean {position:absolute;top:0;right:0;}

/* http://yarmarka.myjetbrains.com/youtrack/issue/yarmarka-422 */
.kupon-print-cont * {
	font-size:10px;
	color:black;
}
.kupon-print-cont .title {
	font-size:20px;
}
.kupon-print-cont .link {
	color:rgb(0, 0, 238);
}
.kupon-print-cont .text {
	float: none;
	width:100%;
}
.kupon-print-cont .map {
	float:right;
	padding-left:10px;
	padding-bottom: 10px;
	background: white;
}
.kupon-print-cont h3 {
	font-size:15px;
	font-weight: bold;
	padding:5px 0;
}
.kupon-print-cont li {
	list-style: none;
}
.kupon-print-cont ul li:after {
	content:'';
	display:block;
	border:1px inset;
	margin:10px 0;
}