{% set theme_class = 'crimson-theme' %}
<div class="{{theme_class}} module br2" >
	<div class="menu-cont2 brt2">
		<div class="row">
			<div class="col-md-12 clearfix">
				<span class="menu-item right"><span class="menu-item-cont"><i class="fa fa-question-circle mr3"></i>Что нового?</span></span>
			</div>
		</div>			
	</div>
	<div class="view-container brb2">
		<div class="breadcrumbs-cont module">						
			<h1 class="captionbold">Ярмарка - Бесплатные объявления</h1>
		</div>
		<div class="subcategories-cont module">
			<div class="row">
				<div class="col-md-12 items-cont">
				<ul>
					{% for key, _city in  {'nizhnevartovsk':'Нижневартовске','surgut':'Сургуте','tyumen':'Тюмени','nefteyugansk':'Нефтеюганске'} if key != city.seo_name %}
						{% set count = link_counters[domain(key, '', '')] %}
						<li>				
							<a href="{{ domain(key, FALSE) }}" title="Газета бесплатных объявлений Ярмарка в {{ _city }}">в {{ _city }}</a>
							<span class="count">{{ count }}</span>
						</li>
					{% endfor %}
				</ul>
				<br>
				<ul>
					<li>
						Горячая линия приема бесплатных объявлений: 8-800-200-77-49<br>
						По вопросам рекламы: 8-800-200-77-49
					</li>
				</ul>
			</div>
		</div>
		{#<div class="col-md-4 height:150px; overflow:hidden;">
			<div class="js-promo-thumbnails" style="margin-top:-30px;">
				{% for thumbnail in promo_thumbnails %}
					<img src="{{ '/' ~ thumbnail['272x203'] }}" alt="" style="display:none;">
				{% endfor %}
			</div>
		</div> #}
		</div>
	</div>
</div>