{% set theme_class = 'light-blue-theme' %}
<div class="{{theme_class}} module br2" >
	<div class="menu-cont2 brt2">
		<div class="row">
			<div class="col-md-12 clearfix">
				<div class="menu-item left js-kuponmenu-dropdown">
					Категории<i class="fa fa-caret-down ml3"></i>
				</div>
				<span class="menu-item right"><i class="fa fa-question-circle mr3"></i>Условия</span>
				<span class="menu-item right"><i class="fa fa-question-circle mr3"></i>Что такое купон?</span>
			</div>
		</div>			
	</div>
	<div class="view-container brb2">
		<div class="breadcrumbs-cont">						
			<p class="white captionbold">Ярмарка - Купоны</p>
		</div>
		<div class="row">
			<div class="col-md-6 items-cont">
				<ul>
					{% for object in premium_kupons %}
						<li>
							<div  style="width:250px;height:200px;float:left;padding:10px;overflow:hidden;position:relative;">
								<img src="{{ get_file(object.compiled.images.main_photo['272x203']) }}" alt="" width="100%">
								<p style="position:relative;top:-30px;background:white;padding:10px;">{{object.compiled.city}}<a href="{{object.compiled.url}}">{{object.title}}</a></p>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-6 items-cont">
				<ul>
					{% for object in kupons %}
						<li>
							<p class="mt10">{{object.compiled.city}} <a href="{{object.compiled.url}}">{{object.title}}</a></p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>