{# set theme_class = 'light-blue-theme' #}
{% if kupons|length > 0 or premium_kupons|length > 0 %}
{% if premium_kupons|length > 0 %}
<div class="col-md-12 items-cont kupons_block clearfix">
	<ul>
		{% for object in premium_kupons %}
		<li class="clearfix kupon_wrap">
			{% include 'detail/mini/kupon' %}
		</li>
		{% endfor %}
	</ul>
</div>
{% else %}
<div class="col-md-12 kupons_block clearfix">
	<ul>
		{% for object in kupons %}
		<li class="clearfix kupon_wrap">
			{% include 'detail/mini/kupon' %}
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
{% endif %}