<div class="row {% if (onPageFlag == 'search') or (onPageFlag == 'detail') %} hidden-sm {% endif %} hidden-xs">
	<div class="col-md-12 col-sm-7 col-xs-12 ">
		<div class="crimson-theme br2 left_block" >
			<div class="menu-cont2 brt2">
				<div class="row">
					<div class="col-md-12 clearfix">
						<div class="title_block left hidden-xs">{% if menuName == 'mainmenu' %}Объявления{% else %}Разделы новостей{% endif %}</div>
					</div>
				</div>			
			</div>
			<div style="border:1px solid #ccc;position:relative;">
				{% if staticMainMenu %}
					{% if menuName == 'mainmenu' %}
						{{ requestblock('block_twig/mainmenu', {'city_id': city.id, 'staticMainMenu': staticMainMenu}) }}
					{% else %}
						{{ requestblock('block_twig/newsmenu', {'city_id': city.id, 'staticMainMenu': staticMainMenu}) }}
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="hidden-lg hidden-md col-sm-5 hidden-xs">
		{% include 'index/promo/news' %}
	</div>
</div>
<div class="row hidden-sm hidden-xs">
	<div class="banner module ta-c {zoneID: 59}"></div>
	<div class="banner module ta-c {zoneID: 60}"></div>
</div>

<script>
$('.left_block').find('.section').each(function(){
	var id = $(this).attr('id');
	$(this).attr('id', id+'-l');
});

$('.left_block').find('ul.top li').each(function(){
	var id = $(this).attr('data-submenu-id');
	$(this).attr('data-submenu-id', id+'-l');
});
</script>
