<div class="row">
	<div class="col-md-12 col-sm-7 col-xs-12 left_block">
		{% set theme_class = 'crimson-theme' %}
		<div class="{{theme_class}} module br2 view-container" >
			<div class="menu-cont2 brt2">
				<div class="row">
					<div class="col-md-12 clearfix">
						<span class="menu-item left hidden-xs"><span class="menu-item-cont nobg">Объявления</span></span>
						<!-- Другой текст для мобильных -->
						<span class="menu-item left hidden-sm hidden-lg hidden-md"><span class="menu-item-cont nobg"><a href="/kupony" style="color:inherit;">Купоны</a></span></span>
					</div>
				</div>			
			</div>
			{% if staticMainMenu %}
				{{ requestblock('block_twig/mainmenu', {'city_id': city.id, 'staticMainMenu': staticMainMenu}) }}
			{% endif %}
		</div>
	</div>
	{% include 'index/promo/kupon' %}
</div>

<script>
	$().ready(function(){
		if ($(window).innerWidth() <= 992 && $(window).innerWidth() > 768) {
			var height = $('.kupons_block').height();
			height+=2;
			$('.left_block>.view-container').css({
				'min-height':height+'px',
				'background': 'url(/static/develop/images/themes/crimson-theme/Soft-Dot-Mix-ver-10.png)',
				'padding': '0px'
			});
		}else{
			$('.left_block>.view-container').css({
				'background': 'url(/static/develop/images/themes/crimson-theme/Soft-Dot-Mix-ver-10.png)',
				'padding': '0px'
			});
		}
	});
</script>