<div class="green-dense-theme module br2" >
	{% include 'block/header/navigationline/empty' %}
	<div class="view-container">
		<div class="breadcrumbs-cont">						
			<p>Ярмарка - Новости</p>
		</div>
		<div class="row">
			<div class="col-md-12 items-cont">
				<ul>
					{% for news in lastnews %}
						<li>
							<div  style="width:200px;float:left;margin:10px;">
								{% set image = get_image_paths(news.photo) %}
								<img src="/uploads/272x203/cd/4a/35/cd4a35aba15be95db7f29e38188f0aa3.jpg" alt="" width="200">
								<p><a href="news/{{ news.id ~ '-' ~ news.seo_name}}">{{news.title}}</a></p>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>