{% set theme_class = 'green-dense-theme' %}
<div class="{{theme_class}} module br2" >
	<div class="menu-cont2 brt2">
		<div class="row">
			<div class="col-md-12 clearfix">
				<div class="menu-item left js-newsmenu-dropdown">
					<span class="menu-item-cont">Категории<i class="fa fa-caret-down ml3"></i></span>
				</div>
				<span class="menu-item right"><span class="menu-item-cont"><i class="fa fa-globe mr3"></i>Предложить новость</span></span>
			</div>
		</div>			
	</div>
	<div class="view-container brb2">
		<div class="breadcrumbs-cont">						
			<p class="captionbold">Ярмарка - Новости {% if last_city %}({{ cities[last_city.seo_name] }}){% endif %}</p>
		</div>
		<div class="row">
			<div class="col-md-12 items-cont">
				<ul class="dib w100p mb10">
					{% for news in premiumnews %}
						<li class="pl10 pt10">
							<div class="photo m10 w150 dib">
								<span class="bg-color-lightorange mr3"><i class="fa fa-home mr3"></i>{{news.date_created|date('H:m:s, d/m')}}</span>
								<p class="mt7"> <img src="{{get_file(news.compiled.images.main_photo['120x90'])}}" alt="" height="100"></p>
							</div>
							<div class="pt20 pl10 ml20 w400 dib">
								<p class="mb10"><a href="/newsline/{{news.date_created|date('Y-m-d')}}#{{news.id}}" >{{news.title}}</a></p>
								<p>{{news.user_text|striptags|slice(0,200)}}...</p>
							</div>
						</li>
					{% endfor %}
				</ul>
				<ul class="dib w100p">
					{% set current_date = NULL %}
					{% for news in lastnews %}
						{% if not current_date or current_date != news.date_created|date('d/m') %}
							{% set current_date = news.date_created|date('d/m') %}
							<li class="pl10 mb5">
								<span class="bold">{{ news.date_created|date('d') ~ ' ' ~ months[news.date_created|date('m')] }}</span>
							</li>
						{% endif %}
						<li class="pl10 mb5">
							<span class="fs12">{{news.date_created|date('H:i')}}</span><a href="/newsline/{{news.start_date|date('Y-m-d')}}#{{news.id}}" class="ml10">{{news.title|slice(0,70)}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>