<div class="row">
	<div class="col-md-12 clearfix">
		<div class="title_service">
			В 20 раз больше просмотров вашего объявления!
		</div>

		<div class="clearfix mt20 mb20">
			<div class="clearfix service-descr">
				<div class="fl">
					<img src="static/develop/images/add/balloon.png" style="width: 36px;" alt="">
				</div>
				Объявление будет 7 дней показываться в специальном блоке справа на страницах результатов поиска.
			</div>
			<div class="service-img">
				<img src="static/develop/images/add/lider.jpg" alt="">
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="service-price">
			Подайте объявление с услугой "Лидер" по цене
		</div>
	</div>
	<div class="col-md-4 clearfix">
		<div class="service-price bold fr">
			Цена: <span><%=params.lider %> <i class="fa fa-rub"></i></span>
		</div>
	</div>
</div>