<div class="row mb10" id="div_<%=id%>">
	<div class="col-md-3 labelcont">
		<label><%=title%><%=(unit)?", "+unit+":":":"%></label>
	</div>
	<div class="col-md-9">
		<div class="inp-cont ">
			<% if (is_required) { %>
				<span class="required-star">*</span>
			<% } %>

			<input class="w100p" id="<%=id%>" type="text" name="<%=id%>" value="<%=value%>"/>

			<span class="inform">
				<span>Например: ул. Мельникайте, д. 44, корп. 2</span>
			</span>					
		</div>
	</div>
</div>