<div class="row mb10">
	<div class="col-md-3 col-xs-4 labelcont">
		<label>!</label>
	</div>
	<div class="col-md-9 col-xs-8">
		<div class="inp-cont user-text mb15">
			<%=text%>					
		</div>
	</div>
</div>