<div class="smallcont" id="div_text">
		<div class="labelcont">
			<label><span>!</span></label>
		</div>		
		<div class="fieldscont user-text mb15">
			<div class="inp-cont">
				<div class="inp-cont">
					<%=text%>
				</div>
			</div>
		</div>
	</div>  