<div class="fn-parameters">
	<div class="smallcont">
		<div class="labelcont">
			<label><span>Параметры:</span></label>
		</div>
		<div class="fieldscont group">
			<div class="fn-list-parameters"></div>
								
		</div>									
	</div><!--smallcont-->
	<div class="fn-rows-parameters"></div>
</div>