<div class="fn-parameters">
	<div class="row mb10">
		<div class="col-md-3 labelcont">
			<label>Параметры:</label>
		</div>
		<div class="col-md-9">
			<div class="row bg-color-whitesmoke pt15 mb20">					
				<div class="fn-list-parameters"></div>					
			</div>				
		</div>
	</div>
	<div class="fn-rows-parameters"></div>
</div>