<div class="img <%=((active)?'active':'')%>">
	<img src="<%=filepath%>"/>
</div> 
<div class="href-bl">
	<span href="" class="remove span-link fn-remove">Удалить</span>
	<span class="span-link fn-crop">Редактировать</span>
</div>
<input type="hidden" name="userfile[]" value="<%=filename%>"/>