<div class="img <%=((active)?'active':'')%>"><img src="<%=filepath%>"/></div> 
		<div class="href-bl"><span href="" class="remove fn-remove">Удалить</span></div>
		<input type="hidden" name="userfile[]" value="<%=filename%>"/>