<div class="smallcont" id="div_subject">
		<div class="labelcont">
				<label><span>Заголовок:</span></label>
		</div>
		<div class="fieldscont">
			<div class="inp-cont-long">
				<div class="inp-cont <% if (error) {%> error <%}%>">
					<span class="required-label">*</span>																		
					<input type="text" maxlength="75"  id="title_adv" name="title_adv" value="<%=value%>"/>	

					<% if (error) { %>
					<span class="inform">
						<span></span>
					</span>
					<% } %>
				</div>							
			</div>
		</div><!--fieldscont-->
	</div><!--smallcont-->		  