<div class="row mb10" id="div_subject">
	<div class="col-md-3 col-xs-4 labelcont">
		<label>Заголовок объявления:</label>
	</div>
	<div class="col-md-9 col-xs-8">
		<div class="inp-cont <% if (error) {%> error <%}%>">
			<span class="required-star">*</span>																		
			<input class="w100p" type="text" maxlength="<%=maxlength%>"  id="title_adv" name="title_adv" value="<%=value%>"/>	

			<% if (error) { %>
			<span class="inform">
				<span></span>
			</span>
			<% } %>				
		</div>
	</div>
</div>	  