<div class="row mb10" id="div_<%=id%>">
	<div class="col-md-3 labelcont">
		<label><%=title%><%=(unit)?", "+unit+":":":"%></label>
	</div>
	<div class="col-md-9">
		<div class="inp-cont " data-condition="">
			<% if (is_required) { %>
				<span class="required-star">*</span>
			<% } %>
			<input class="w100p" id="<%=id%>" type="text" name="<%=id%>" value="<%=value%>"/>					
		</div>
	</div>
</div>