{% extends "layouts/index" %}

{% set theme_class = 'crimson-theme' %}
{% block title %}Газета бесплатных объявлений Ярмарка{% endblock title%}
{% block meta_description %}Газета бесплатных объявлений. Разделы сайта: работа, квартиры, дома, недвижимость, авто, ремонт и строительство, мебель, домашние животные. {% endblock meta_description%}

{% block wrapperclass %}page-index{% endblock wrapperclass %}

{% block header %} 
	{{ parent() }}
	
{% endblock header %} 

{% block content %}
	
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<form method="GET">
					<div class="form-group">
						<label for="afisha_city">Выберите город:</label>
						<select class="form-control" id="afisha_city" name="city">
							{% for city in cities.List %}
								<option value="{{ city.CityID }}" {% if city.CityID == selectedCityId %}selected="selected"{% endif %}>{{ city.Name }}</option>
							{% endfor %}
						</select>
					</div>

					{% if places %}
						<div class="form-group">
							<label for="afisha_place">Выберите место:</label>
							<select class="form-control" id="afisha_place" name="place">
								{% for place in places.List %}
									<option value="{{ place.ObjectID }}" {% if place.ObjectID == selectedPlaceId %}selected="selected"{% endif %}>{{ place.Name }}</option>
								{% endfor %}
							</select>
						</div>
					{% endif %}

					<div class="form-group">
						<button class="btn btn-primary">Применить</button>
					</div>
				</form>
			</div>

			<div class="col-md-8">
			</div>
		</div>
	</div>

	<!--Start Ticket widget-->
	<!--<rb:list key="5a9c0cc7-1849-4b92-86e2-cc7a1f58e80a" {{ widgetAttributes }} xmlns:rb="http://kassa.rambler.ru"></rb:list>-->
	<!--End Ticket widget-->
	<!--<script type="text/javascript" src="http://s2.kassa.rl0.ru/widget/js/ticketmanager.js"></script>-->
	<!--Start Ticket widget-->
	<rb:schedule key="54f4520f-498c-4a8e-bb07-ffd07770ea56" classType="place" objectID="311" cityID="2" filter="" locale="" xmlns:rb="http://kassa.rambler.ru"></rb:schedule>
	<!--End Ticket widget-->
	<script type="text/javascript" src="http://s2.kassa.rl0.ru/widget/js/ticketmanager.js"></script>

{% endblock content %}

{% block footertext %}{% endblock %}