{% extends "layouts/index" %}

{% block title %}Газета бесплатных объявлений Ярмарка{% endblock title%}
{% block meta_description %}Газета бесплатных объявлений. Разделы сайта: работа, квартиры, дома, недвижимость, авто, ремонт и строительство, мебель, домашние животные. {% endblock meta_description%}

{% block wrapperclass %}page-index{% endblock wrapperclass %}


{% block leftside %}
	<div class="col-md-2 col-sm-3">
		<div class="menu-cat-cont menu-item-wrp">
			{% include 'index/menu' %}
		</div>
	</div>
{% endblock leftside %}

{% block rightside %}
	<div class="col-md-10 col-sm-9">
		{% include 'index/promo_city' %}
		{{ requestblock('block_twig/adslinkline',{'city_id': city.id}) }}
		{% include 'index/categories' %}
	</div>
{% endblock rightside %}



{% block footertext %} 
		
{% endblock %}