{% extends "layouts/index" %}

{% block title %}Газета бесплатных объявлений Ярмарка{% endblock title%}
{% block meta_description %}Газета бесплатных объявлений. Разделы сайта: работа, квартиры, дома, недвижимость, авто, ремонт и строительство, мебель, домашние животные. {% endblock meta_description%}

{% block wrapperclass %}page-index{% endblock wrapperclass %}

{% block header %} 
	{{ parent() }}

{% endblock header %} 

{% block content %}
	<div class="col-md-6">
		{% include 'index/promo/city' %}
		{% include 'index/categories' %}
	</div>
	<div class="col-md-6">
		{% include 'index/promo/kupon' %}
		{% include 'index/promo/news' %}
	</div>
{% endblock content %}

{% block footertext %}{% endblock %}