<div class="hidden-sm hidden-xs">
	<div class="banner module ta-c {zoneID: 45}"></div>
	<div class="banner module ta-c {zoneID: 46}"></div>
	<div class="banner module ta-c {zoneID: 45}"></div>
	<div class="js-ga-right-index-banners"></div>
</div>