<div class="main-theme" style="height:420px;">
	<div class="breadcrumbs-cont">						
		<h1>Газета бесплатных объявлений Ярмарка</h1>
	</div>	
	<div class="row">
		<div class="col-md-6 items-cont">
			<ul>
				{% for key, _city in  {'nizhnevartovsk':'Нижневартовске','surgut':'Сургуте','tyumen':'Тюмени','nefteyugansk':'Нефтеюганске'} if key != city.seo_name %}
					<li>				
						<a href="{{ domain(key, '') }}" title="Газета бесплатных объявлений Ярмарка в {{ _city }}">в {{ _city }}</a>
					</li>
				{% endfor %}
				<li>				
					<a href="{{ domain('', '') }}" title="Газета бесплатных объявлений Ярмарка"> в других городах</a>
				</li>
			</ul>
			<br>
			<ul>
				<li>
					<a href="http://vk.com/yarmarka_official" title="Газета бесплатных объявлений Ярмарка в Контакте">Мы в Контакте</a>
				</li>
			</ul>
			<br>
			<ul>
				<li>
					{% if city.seo_name == 'nizhnevartovsk' %}
						Горячая линия приема бесплатных объявлений: (3466) 406-101<br>
						По вопросам рекламы: (3466)406-102
					{% elseif city.seo_name == 'tyumen' %}
						Горячая линия приема бесплатных объявлений: (3452) 492-100<br>
						По вопросам рекламы: (3452)492-100
					{% elseif city.seo_name == 'surgut' %}
						Горячая линия приема бесплатных объявлений: (3462) 222-244<br>
						По вопросам рекламы: (3462)222-277
					{% else %}
						Горячая линия приема бесплатных объявлений: 8-800-200-77-49<br>
						По вопросам рекламы: 8-800-200-77-49
					{% endif %}
				</li>
			</ul>
		</div>
		<div class="col-md-6">
			<img src="http://yarmarka.biz/uploads/banners/menu/vtnhpw54a0l91cyvw7fc.png" alt="" width="613" style="margin-top:40px;margin-left:-100px;">
		</div>
	</div>
</div>