{% extends "layouts/detail" %}

{% set theme_class = 'light-blue-theme' %}

{% block css %} 
	{{ parent() }}
{% endblock css%}

{% block title %} {{object.title|e}} {% endblock title%}
{% block meta_description %} {{ object.user_text|e }} {% endblock meta_description%}

{% block wrapperclass %}page-detail{% endblock wrapperclass %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{% include 'search/kupony/promo' %}
		{{ requestblock('block_twig/adslinkline',{'city_id': city.id, 'category_id': category.id, 'theme_class': theme_class}) }}
{% endblock header %} 

{% block crumbs %} 
	{% include 'detail/crumbs' %}
{% endblock crumbs %}

{% block leftside %}
	<div class="col-md-8">
		<article>
			{% if (object.compiled.images.main_photo|length != 0) %}
				{% include 'detail/kupon/main_photo' %}
			{% endif %}
			<div class="text-cont module">
				{{ object.user_text }}
			</div>
			{% include 'detail/kupon/photo' %}
		</article>
	</div>
{% endblock %}	

{% block rightside %}
	<div class="col-md-4">
		<aside>
			{% if check_object_access(object, 'object.moderate') %}
				<div class="module">{% include 'detail/kupon/controls' %}</div>
			{% endif %}
			
			<div class="module">{% include 'detail/kupon/coupon_info' %}</div>

			{% if object.compiled.attributes.site.value %}
				<div class="button bg-color-crimson white pt15 pb15 fs20 mb10 w100p" onclick="window.location.href='{{ object.compiled.attributes.site.value }}'">Наш сайт</div>
			{% endif %}
			
			{% if object.is_published != 0 %}
				<div class="button bg-color-lightgreen white pt15 pb15 fs20 mb10 w100p js-backcall-button"  data-id="{{ object.id }}">Заказать обратный звонок</div>
				<div class="button bg-color-lightgreen white pt15 pb15 fs20 mb10 w100p js-service-kupon" data-id="{{ object.id }}">Купить</div>
				{% include 'detail/kupon/our_contacts' %}
			{% else %}
				<div class="p20">Акция завершена</div>
			{% endif %}
			
			{% include 'detail/map' %}
		</aside>
	</div>
{% endblock rightside %}

{% block templates %}
	{{ parent() }}
{% endblock templates %}



