{% extends "layouts/detail/kupon" %}

{% set theme_class = 'light-blue-theme' %}

{% block css %} 
	{{ parent() }}
{% endblock css%}

{% block title %} {{object.title|e}} {% endblock title%}
{% block meta_description %} {{ object.user_text|e }} {% endblock meta_description%}

{% block wrapperclass %}page-detail{% endblock wrapperclass %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{% include 'search/kupony/promo' %}
		{{ requestblock('block_twig/adslinkline',{'city_id': city.id, 'category_id': category.id, 'theme_class': theme_class}) }}
{% endblock header %} 

{% block crumbs %} 
	{% include 'detail/crumbs' %}
{% endblock crumbs %}

{% macro map(object) %}
    {% include 'detail/kupon/map' %}
{% endmacro %}

{% block leftside %}
	<div class="col-md-8">
		<article>
			{% if (object.compiled.images.main_photo|length != 0) %}
				{% include 'detail/kupon/main_photo' %}
			{% endif %}
			<div class="text-cont module clearfix">
				<div class="text fl w100p" itemprop="description">
				{% set text = NULL %}

				{% if object.compiled.attributes['tekst-obyavleniya'] %}
					{% set text = object.compiled.attributes['tekst-obyavleniya'].value %}
				{% else %}
					{% set text = object.user_text %}
				{% endif %}

				{% for image in object.compiled.images.local_photo %}
					{% set vorig = '<img class="w100p" src="/' ~ image["original"] ~ '">' %}
					{% set text = text|replace({'{image}':vorig}) %}
				{% endfor %}

				{% set text = text|replace({'{cardmap}': '<div id="cardmap" class="cardmap mb10">' ~ _self.map(object) ~ '</div>'}) %}
				
				{{ text }}
				</div>
			</div>
			{% include 'block/vk/comments_surgut' %}
		</article>
	</div>
{% endblock %}	

{% block rightside %}
	{% set actionIsActive = TRUE %}
	{% if object.compiled.attributes['kupon_state'] and object.compiled.attributes['kupon_state'].value %}
		{% set actionIsActive = FALSE %}
	{% endif %}
	<div class="col-md-4">
		<aside>
			{% if check_object_access(object, 'object.moderate') %}
				<div class="module">{% include 'detail/kupon/controls' %}</div>
			{% endif %}
			{% if testKuponLink %}
				<a href="{{ testKuponLink }}">Тестовая версия для печати</a>
			{% endif %}
			<div class="module">{% include 'detail/kupon/coupon_info' %}</div>
			
			{% if object.is_published and actionIsActive %}
				
				{% if kupons_buy_access %}
					<div class="button bg-color-crimson white p10 fs20 mb10 w100p js-service-kupon" data-id="{{ object.id }}">Купить</div>
				{% endif %}

				{% include 'detail/kupon/our_contacts' %}
				<div class="button bg-color-lightgreen white p10 fs20 mb10 w100p js-backcall-button"  data-id="{{ object.id }}">Заказать обратный звонок</div>

			{% else %}
				<p class="mt10 mb10 p10  fs16">
					<span class="red">Акция завершена, все купоны проданы.</span>
				</p>
				<p class="mt10 mb10 p10  fs16">
					Подпишитесь на нас Вконтакте, чтобы первыми узнать о появлении новых купонов!
				</p>
			{% endif %}

			{% if kupons_buy_access and check_object_access(object, 'object.moderate') %}
					<div class="button bg-color-crimson white p10 fs20 mb10 w100p js-service-kupon" data-id="{{ object.id }}">Купить (Адм)</div>
			{% endif %}

			{% include 'block/vk/group_surgut' %}
		</aside>
	</div>
{% endblock rightside %}

{% block templates %}
	{{ parent() }}
{% endblock templates %}



