<div class="module">
	<p class="fs18">Ваши вопросы вы можете задать по телефону:</p>
	{% for contact in object.compiled.contacts %}
		{% if contact.type == 1 or contact.type == 2 %}
			<a href="tel:{{ contact.value }}" class="fs22 mt10 kupon-contact">{{ contact.value|formatphone|phoneico }}</a>
		{% else %}
			<a href="mailto:{{ contact.value }}" class="fs22 mt10 kupon-contact">{{ contact.value|emailico }}</a>
		{% endif %}
	{% endfor %}

</div>