<div class="menu-cont3">
	<div class="row">
		<div class="col-md-10">
			<a href="/" class="catalog-title">
				<div class="ico"></div>Категории<div class="separator"></div>
			</a>
			<div class="subs-links-cont">
				{% set categories = requestmethod('Controller_Block_Twig','kupon_categories', {'s_host': s_host, 'category_url': category_url}) %}
				{% for element in categories %}
					<a href="{{ url(element.category_url ~ '/' ~ element.seo_name) }}" title="{{element.title}}">{{element.title}}
						{% if element.count > 0 %}
							<span class="">{{element.count}}</span>
						{% endif %}
					</a>
					<div class="separator"></div>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-2">
			<span class="span-link other-link" onclick="document.location='{{ url(category_url) }}'">Все купоны и акции</span>
		</div>
	</div>
</div>