{% extends "layouts/landing" %}

{% block title %} Автотранспорт {% endblock %}

{% block css %} 
	{{ parent() }}
	{{ css("filters.css") }}
{% endblock css%}

{% block header %} 
	{{ parent() }}
	{% include 'landing/topline/avtotransport' %}
	{% include 'landing/promo/avtotransport' %}
	{{ requestblock('block_twig/adslinkline',{'city_id': city.id, 'category_id': category.id}) }}
{% endblock header %} 

{% block crumbs %}{% endblock crumbs %}


{% block wrapperclass %}page-landing{% endblock wrapperclass %}



{% block subcategories %}{% endblock subcategories %}


{% block filters %} 

{% endblock filters %}

{% block content %} 
	{% include 'search/control' %}
	{% include 'search/result' %}
	{% include 'search/paginator' %}
{% endblock content%}

{% block rightside %} 
	{% include 'search/vip' %}
	{% include 'search/banner_right' %}
{% endblock rightside %}


{% block footertext %} 
		{{ seo_attributes.footer }}
{% endblock footertext %}

{% block footer %} 
		Время генерации php {{ php_time }}
{% endblock footer %}