{% extends "layouts/search" %}


{% block css %} {{ parent() }} {% endblock css%}
{% block js %} {% endblock js%}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{% include 'search/user/company/promo' %}
{% endblock header %} 

{% block title %} {{ seo_attributes.title }} {% endblock title%}
{% block meta_description %}{% endblock meta_description%}
{% block crumbs %} {% endblock crumbs %}
{% block wrapperclass %}page-search{% endblock wrapperclass %}
{% block subcategories %}{% endblock subcategories %}
{% block filters %}{% endblock filters %}

{% block content %}
	{% if (main_search_result|length) %}
		{% include 'search/user/control' %}
		{% include 'search/user/company/result' %}
		{% include 'search/paginator' %}
	{% else %}
		{{empty_text}}
	{% endif %}
{% endblock content%}

{% block rightside %}{% endblock rightside %}


{% block footertext %} {% endblock footertext %}

{% block footer %} 
	{{ parent() }}
{% endblock footer %}

{% block templates %}{{ parent() }}{% endblock templates %}

{%block page_name%}usersearch{% endblock page_name %}