<div class="title_block">Объявления компании '{{user.org_name}}'</div>
{% for object in main_search_result %}
		{% include 'detail/mini/default_tablerow' %}
{% else %}
	{% include 'search/user/noresult' %}
{% endfor %}