<form class="js-form">
	<div class="row">
		<div class="col-md-12 p10">
			<%=getTitle()%>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 p10">
			<table class="table table-bordered">
				<thead>
					<th class="service-title bold">Выберите города размещения</th>
					<th class="price bold">Стоимость</th>
				</thead>
				<tbody>
				<% var cities = getCities(); %>
				<% _.each(cities, function(city){ %>
					<% if (existsCurrentCity(city['id'])) { %>
						<tr>
							<td class="service-title">
									<span style="display:block;">
										<span  class="ml5"><%=city['title']%></span>
									</span>
							</td>
							<td class="price">
								<span class="js-price js-price_<%=city['id']%>">размещено</span>
							</td>
						</tr>
					<% } else { %>
						<tr>
							<td class="service-title">
								<label for="type_n_<%=city['id']%>">
									<span style="display:block; cursor:pointer;">
										<% if (is_edit) { %>
											<input type="checkbox" name="city" value="<%=city['id']%>" id="type_n_<%=city['id']%>" class="js-city" <% if ( checkedCity( city['id'] ) ){%>checked<%}%>>
										<% } else { %>
											<input type="checkbox" name="city" value="<%=city['id']%>" id="type_n_<%=city['id']%>" class="js-city">
										<% } %>
										
										<span  class="ml5"><%=city['title']%></span>
									</span>
								</label>
							</td>
							<td class="price">
								<span class="js-price js-price_<%=city['id']%>">
										<%=getPrice()%>
								</span>
							</td>
						</tr>
					<% } %>
					
				<% }); %>
				
				</tbody>
			</table>
		</div>
	</div>
</form>
