<div class="description-cont">
	<p><b>Услуга “Лидер”</b> - это размещение фотообъявления, которое отображается в специальном блоке на сайте. Этот блок располагается вверху главных страниц рубрик и разделов сайта.</p>
	<p>Фотообъявление содержит цену на товар/услугу и краткое описание. При клике на такое объявление, посетитель попадает в карточку Вашего объявления с подробным описанием товара/услуги.</p>
	<!-- <p><b>Преимущества услуги “Лидер”:</b></p>
	<ul>
		<li>1. Ваше объявление всегда наверху</li>
		<li>2. Отсутствие ротации - объявление будет видно посетителям в течение всего срока размещения и не будет чередоваться с объявлениями других рекламодателей</li>
		<li>3. Правильно подобранное фото привлечет гораздо больше внимания среди посетителей и обеспечит Вам большее количество просмотров объявления</li>
	</ul> -->
	<p class="mt10">Если вы приобретаете <strong>сразу несколько лидеров</strong> для одного объявления, услуга активируется автоматически купленное количество раз каждые 7 дней (или выбранный вами период), выводя объявление вверх списка лидеров</p>
	<p><strong>Услуга E-mail маркетинга</strong>.
		Ваше объявление будет включено в рассылку писем (при подъеме, редактировании, подаче нового объявления и при любых других действиях) на указанное количество дней. В день мы отправляем несколько тысяч таких писем, включение данной функции позволит Вам получить больше просмотров!
	</p>
</div>
<h3 class="hidden-lg hidden-sm hidden-md">Услуга 'Лидер' <%=model().getTitle()%></h3>
<table class="table table-bordered">
	<thead>
		<th class="hidden-xs service-title">Услуга</th>
		<th class="quantity">Количество</th>
		<th class="price">Цена</th>
	</thead>
	<tbody>
	<tr>
		<td class="hidden-xs service-title">Услуга 'Лидер' <%=model().getTitle()%></td>
		<td class="quantity">
			<input class="js-quantity" type="number" value="<%=model().getQuantity('lider')%>" min="1" max="99">
		</td>
		<td class="price">
			<span class="js-price">
				<%=model().getAmount('lider')%>
			</span>
		</td>
	</tr>
	<% if (!is_edit) { %>
	<tr>
	    <td  class="service-title hidden-xs">
	    	E-mail маркетинг  <%=model().getTitle()%>
	  	</td>
	    <td  class="quantity">
	    	<input class="js-em-quantity" type="number" value="<%=model().getQuantity('email')%>" min="0" max="99">&nbsp;дней
	    </td>
	    <td  class="price w150">
	    	<span class="js-em-price">
	    		<%=model().getAmount('email')%>
	    	</span>
	    </td>
	</tr>
	<% } %>
	</tbody>
</table>

<% if (info.code > 200 && info.code < 400) { %>
	<%=info.text%>
<% } %>

<% if (info.code >= 400) { %>
<div style="font-size:1.2em;">
	<p>Вы не можете воспользоваться этой услугой, потому что объявление заполнено не полностью.</p>
	<p class="bold" style="color:red;"><%=info.text%></p>
</div>
<% } %>
