<div class="description-cont">
	<p><b>Услуга “Лидер”</b> - это размещение фотообъявления, которое отображается в специальном блоке на сайте. Этот блок располагается вверху главных страниц рубрик и разделов сайта, под бегущей строкой:</p>
	<p>Фотообъявление содержит цену на товар/услугу и краткое описание. При клике на такое объявление, посетитель попадает в карточку Вашего объявления с подробным описанием товара/услуги.</p>
	<p>На каждой странице рубрики в фото-блоке размещается не более 6 объявлений. В случае, если в данной рубрике закончатся свободные места, Вы можете оставить заявку на размещение. Как только появится место для подачи фотообъявления, Вам на почту придет уведомление.</p>
	<p><b>Преимущества услуги “Лидер”:</b></p>
	<ul>
		<li>1. Ваше объявление всегда наверху</li>
		<li>2. Отсутствие ротации - объявление будет видно посетителям в течение всего срока размещения и не будет чередоваться с объявлениями других рекламодателей</li>
		<li>3. Правильно подобранное фото привлечет гораздо больше внимания среди посетителей и обеспечит Вам большее количество просмотров объявления</li>
	</ul>
</div>

<table class="table table-bordered">
	<thead>
		<th class="service-title">Услуга</th>
		<th class="price">Цена</th>
	</thead>
	<tbody>
	<tr>
		<td class="service-title">"<%=info.service.title%>" для объявления "<%=info.object.title%>"</td>
		<td class="price">
			<span><%=info.service.price%> руб.</span>
		</td>
	</tr>
	</tbody>
</table>

<% if (info.code > 200 && info.code < 400) { %>
	<%=info.text%>
<% } %>

<% if (info.code >= 400) { %>
	<p>Вы не можете воспользоваться этой услугой, потомучто объявление заполнено не полностью.</p>
	<p><%=info.text%></p>
<% } %>
