<div class="description-cont hidden-xs">
    <p><strong>Графическая промо-ссылка</strong>- это размещение ярких графических ссылок на любых страницах, соответствующих тематике вашего объявления, которые позволяют посетителю быстро обнаружить его на сайте. При нажатии на такую ссылку посетитель переходит на созданное вами объявление.
    </p>

        <p>
            Графические ссылки располагаются на всех страницах поиска в рамках выбранного пакета, а также в карточках объявлений.
        </p>

        <p><strong>Блок рубрик 1</strong> - Недвижимость</p>
        <p><strong>Блок рубрик 2</strong> - Работа, Для бизнеса, Автотранспорт</p>
        <p><strong>Блок рубрик 3</strong> - Продовольственные товары, Бытовая электроника, Товары для детей, Одежда и аксессуары, Медицина и здоровье, <br>Домашние животные, Знакомства и общение, Спорт/отдых/хобби</p>
        <p><strong>Блок рубрик 4</strong> - Строительство и ремонт, Услуги, Для дома и дачи</p>

</div>
<style>
    .tg-block {
        width:100px;
        min-height: 25px;
        position: relative;
        float:left;
        margin-right: 10px;
    }

    .tg-block-example {
        position: absolute;
        
        margin: auto;
        text-align: center;
        width: 100%;

        top: 0; left: 0;
    }

    .tg-block-input {
        position: absolute;
        left:0;
        top:0;
        width: 100px;
        height: 50px;
        opacity: 0;
    }

    .tg-block-img {
        display: block;
        width:100%;
        height:100%;
        border: 3px dashed transparent;
  
    }

    .tg-block-input:checked ~ .tg-block-img {
        border: 3px dashed #87D077;
    }
    

    .tg-block-category {
        cursor:pointer;
        width: 100%;
        text-align: center;
    }

    .tg-block-category-input:checked ~ .tg-block-category {
        border: 3px dashed #87D077;
    }


</style>
<!-- <h3 class="hidden-lg hidden-sm hidden-md hidden-xs">Услуги <%=model().getTitle()%></h3> -->
<form class="tg-form">
    <table class="table table-bordered">
        <!-- <thead>
            <th class="service-title hidden-xs">Услуга</th>
            <th class="quantity">Количество</th>
            <th class="price w150">Цена</th>
        </thead> -->
        <tbody>
            <tr>
                <td colspan="3">
                    <div class="clearfix mt10 mb10">
                   
                        <% _.each(['blue','brown','purple','green','orange'], function(item, index){ %>
                            <div class="tg-block">
                                <input class="tg-block-input" type="radio" name="image" id="back_<%=index%>" value="<%=item%>" <%=(item === image)?'checked':''%>>
                                <img class="tg-block-img" src="/static/develop/images/tglink/<%=item%>.jpg" alt="">
                                <label for="back_<%=index%>" class="tg-block-example js-example bold white">Пример</label>
                            </div>

                        <% }); %>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="clearfix  mt10 mb10">
                    <% _.each([
                            {name:'tg1', title:'Блок 1'},
                            {name:'tg2', title:'Блок 2'},
                            {name:'tg3', title:'Блок 3'},
                            {name:'tg4', title:'Блок 4'},
                            {name:'tgmain', title:'На главной'},
                        ], function(item, index){ %>
                        <div class="tg-block">
                            <input class="tg-block-category-input js-tg-block" type="radio" name="category" id="block_<%=index%>" value="<%=item.name%>" <%=((category === item.name) ?'checked':'') %>>
                            <label for="block_<%=index%>" class="tg-block-category"><%=item.title%></label>
                        </div>

                    <% }); %>
                    </div>
                </td>
            </tr>
            <tr>
                <td  class="service-title">
                    <input type="text" placeholder="Введите текст ссылки (не более 20 знаков)" name="textOnImage" style="width:100%" class="js-tg-text" maxlength="20" value="<%=text%>">
                </td>
                <td  class="quantity">
                    <input class="js-quantity" type="number" name="quantity" value="<%=model().getQuantity()%>" min="1" max="99">&nbsp;недель
                </td>
                <td  class="price w150">
                    <span class="js-price">
                        <%=model().getAmount()%>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<% if (info.code > 200 && info.code < 400) { %>
    <%=info.text%>
<% } %>