<div class="description-cont">
	<p>Если вы приобретаете <strong>сразу несколько подъемов</strong> для одного объявления, услуга активируется автоматически купленное количество раз каждый  день, выводя объявление вверх списка. Услуга платная</p>
</div>
<p>Бесплатный подъем - 1 раз в десять дней <%=getNextFreeUp()%></p>
<h3 class="hidden-lg hidden-sm hidden-md"><%=getTitle()%></h3>
<table class="table table-bordered">
	<thead>
		<th class="hidden-xs service-title">Услуга</th>
		<th class="quantity">Количество</th>
		<th class="price">Цена</th>
	</thead>
	<tbody>
	<tr>
		<td class="hidden-xs service-title"><%=getTitle()%></td>
		<td class="quantity">
			<% var quantity  = 1; %>
			<% if (is_edit) { 
				quantity = edit_params.service.quantity;
			} %>
			<input class="js-quantity" type="number" value="<%=quantity%>" min="1" max="99">
		</td>
		<td class="price">
			<span class="js-price">
				<%=getPrice()%>
			</span>
		</td>
	</tr>
	</tbody>
</table>

<% if (info.code > 200 && info.code < 400) { %>
	<%=info.text%>
<% } %>

<% if (info.code >= 400) { %>
	<p>Вы не можете воспользоваться этой услугой, потому что объявление заполнено не полностью.</p>
	<p><%=info.text%></p>
<% } %>
