{% extends "layouts/main_with_header" %}

{% block js %} 
	{{ parent() }}
	{% include 'block/social' %}
{% endblock js%}

{% block body %}
	
	{% block header %} 
		{{ parent() }}
		{{ requestblock('block_twig/adslinkline', {'city_id': city.id, 'category_id': category.id, 'theme_class': theme_class}) }}
	{% endblock header %}

	<div class="detail-cont brt2">
		<div class="row">
			<div class="col-md-9 detail-cont-in">
				<div class="row min-content-height" style="border-right: 1px solid #ccc;">
					{% block content %}
					
					{% endblock content %}
				</div>
			</div>
			<div class="col-md-3">
				{% block rightside %} 
					Правый
				{% endblock rightside %}
			</div>
		</div>
	</div>


{% endblock body %} 

{% block footer %} 
	{{ parent() }}
{% endblock footer %}


{%block page_name%}detail{% endblock page_name %}