{% extends "layouts/auth" %}


{% block content %}

{% if user %}
<div class="row mb10">
	<div class="col-md-3 col-xs-4 labelcont">
		<label></label>
	</div>
	<div class="col-md-9 col-xs-8">
		<div class="row">
			<div class="col-md-6">
				Вы авторизованы и можете поменять пароль в <a href="/user/password">личном кабинете</a>
			</div>
		</div>				
	</div>
</div>	
{% elseif status == "success" %}
<div class="row mb10">
	<div class="col-md-3 col-xs-4 labelcont">
		<label></label>
	</div>
	<div class="col-md-9 col-xs-8">
		<div class="row">
			<div class="col-md-6">
				Вам на почту отправлена ссылка для восстановления пароля. Если письма нет, попробуйте <a href="/user/forgot_password">еще раз</a>, возможно вы неверно указали ваш email.
			</div>
		</div>				
	</div>
</div>	
{% elseif status == "failure" %}
<div class="row mb10">
	<div class="col-md-3 col-xs-4 labelcont">
		<label></label>
	</div>
	<div class="col-md-9 col-xs-8">
		<div class="row">
			<div class="col-md-6">
				Ссылка на восстановление пароля устарела, либо пользователь заблокирован или не найден. Попробуйте восстановить пароль <a href="/user/forgot_password">еще раз</a>.
			</div>
		</div>				
	</div>
</div>	
{% else %}
<div class="form-cont">
	<form method="POST"  action="" id="element_list">			

		<div class="row mb10">
			<div class="col-md-3 col-xs-4 labelcont">
				<label>Email</label>
			</div>
			<div class="col-md-9 col-xs-8">
				<div class="row">
					<div class="col-md-6">
						<div class="inp-cont {% if error %}error{% endif%}">
							<span class="required-star">*</span>

							<input class="w100p" type="text" name="email" value="{% if params.email %} {{params.email}} {% endif%}"/>

							{% if error %} 
							<span class="inform fn-error">
								<span>{{error}}</span>
							</span>
							{% endif %}

							<span class="inform">
								<span>Введите адрес email с которым регистрировались на сайте</span>
							</span>				
						</div>
					</div>
				</div>				
			</div>
		</div>				


		<div class="row mb20">
			<div class="col-md-3 labelcont">
				<label></label>
			</div>
			<div class="col-md-9">	
				<div class="row">
					<div class="col-md-6 ta-r">
						<span onclick="$('#element_list').submit()" class="button button-style1 bg-color-blue btn-next"><i class="ico ico15 white-right-arrow-ico mr3"></i>Далее</span>
					</div>				
				</div>
			</div>
		</div>
	</form>
</div>
{% endif %}
{% endblock %}