<!--noindex-->
<div class="{{ theme_class }} reklama-cont module brb2">
{% if imagelinks|length > 0 or textlinks|length > 0%}
 	{% if imagelinks|length > 0 %}
		<div id="reklama_container" class="reklama-line banners js-adslink-graphic"></div>
		<div class="js-ads-storage" style="display:none">
			{% set length = (imagelinks|length > 11) ?  imagelinks|length : 11 %}
			{% for i in 0..(length - 1) %}
				{% set link = imagelinks|slice(i,1) %}
				{% if link|length > 0 %}
					{% set link = link|first %}
					<img src="{{ '/./uploads/banners/' ~ link.image }}" data-link="{{ link.link }}" {% if link.type == '3' %} data-title="{{ link.title }}" {% endif %}/>
				{% else %}
					<img src="{{ staticfile('images/1.png') }}" data-link="{{ info_link }}" data-empty="true"/>
				{% endif %} 
				
			{% endfor  %}
		</div>
	{% endif %} 
	{% if textlinks|length > 0 %}
		<div class="reklama-line text-banners pt5">
			{% for link in textlinks %}
					<a rel="nofollow" target="_blank"  onclick="" href="{{ link.link }}" class="bold {{ link.class }}" >{{ link.title }}</a>
			{% endfor  %}
		</div>
	{% endif %}

	<span class="notice-bg reklama">реклама</span>
	<span class="notice-bg how-to-buy hidden">как купить</span>
	{% endif %}
</div><!--reklama-cont-->
<!--/noindex-->
