<div class="top-line module menu-cont2 hidden-sm hidden-xs" style="background: transparent; padding: 0;">
	<div class="row">
		<div class="col-md-2">
			{% if onPageFlag == 'main' %}
				<div class="menu-item-wrp iLight hidden-sm hidden-xs top-razdel" onclick="animated('.left_block', 'shake')" >
				{% else %}
				<div class="menu-item-wrp iLight hidden-sm hidden-xs top-razdel js-mainmenu-dropdown" >
				{% endif %}
					<span class="menu-item-cont">Объявления{% if onPageFlag != 'main' %}<i class="fa fa-caret-down ml3"></i>{% endif %}</span>
				</div>
		</div>
		<div class="col-md-8">
			<!--/noindex-->
			<div class="search-cont">
				<div class="seach-bl">
					<form action="/" method="get" name="search-form" id="search-form" class="js-search-form">
						<div class="input-group w100p">
							<div class="row">
								<div class="col-lg-8 col-md-8">
									<input class="search placeholder form-control js-search-input" name="search" id="search-input" value="{{ search_text }}" type="text" placeholder="{% if get_session_value('site_disable') %}Сайт в режиме разработки.{% else %}Поиск объявлений{% endif %}" autocomplete="off" data-city="{{city.id}}">
								</div>
								<div class="col-lg-3 col-md-3">
									<!-- <div class="category-search">
										Все категории <i class="fa fa-caret-down ml5"></i>
									</div> -->

									<select data-role="categories" style="color:black;">
										{% for category in get_categories() %}
											<option value="{{ category.id }}">{{ repeat('&nbsp;&nbsp;', category.level - 1) }}{{ category.title }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-lg-1 col-md-1">
									<div class="input-group-addon clearfix">
										<button class="button bg-color-crimson button-style1" type="submit"><i class="fa fa-search fa-lg"></i></button>
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="search-popup border-color-crimson js-search-popup-cont z400">
					</div>
				</div>
			</div>
			<!--/noindex-->
		</div>
		
		<div class="col-md-2">
			<span class="button w100p dib bg-color-crimson add-advert white ta-c pointer" onclick="window.location='/add'">Подать объявление</span>
		</div>
	</div>
</div>
