<div class="main_menu menu-cont2" style="background:none;">
	<div class="clearfix">
		<div class="main_menu_item iLight hidden-sm hidden-xs {% if onPageFlag != 'main' %}js-mainmenu-dropdown{% endif %} top-razdel">
			<span class="menu-item-cont">Объявления{% if onPageFlag != 'main' %}<i class="fa fa-caret-down ml3"></i>{% endif %}</span>
		</div>

		<div class="main_menu_item js-newsmenu-dropdown ">
			<a class="menu-item-cont hidden-sm hidden-xs" href="/novosti">Новости<i class="fa fa-caret-down ml3"></i></a>
		</div>

		<div class="main_menu_item js-kuponmenu-dropdown">
			<a class="menu-item-cont hidden-sm hidden-xs" href="/kupony">Купоны<i class="fa fa-caret-down ml3"></i></a>
		</div>

		<div class="main_menu_item city-companies">
			<a class="menu-item-cont" href="/search_company">Компании города</a>
		</div>
	</div>
</div>