{% include 'block/header/mobile_menu/index' %}
<div class="banner topline hidden-xs {zoneID: 42}"></div>
<div class="menu-cont menu-cont1 module hidden-sm hidden-xs">
	<div class="row">
		<div class="w60p fl clearfix">
			<div class="logo">
				<a rel="nofollow" href="/">
					<img src="{{ staticfile('images/logo.png') }}" alt="Газета бесплатных объявлений Ярмарка-Тюменская область" title="Газета бесплатных объявлений Ярмарка-Тюменская область">
				<a>
			</div>
			{% include 'block/header/navigationline' %}
		</div>
		<div class="cont2 w40p fl clearfix">
			<div class="menu-item-wrp menu-block {% if user %}js-usermenu-dropdown{% endif %} user-dropdown">
				{% if user %}
					<span class="menu-item span-link hidden-xxs lk"><i class="fa {% if user.org_type == 2 %}fa-group{% else %}fa-user{% endif %} mr3"></i>Личный кабинет<i class="fa fa-caret-down ml5 hidden-sm hidden-xs"></i></span>
					<span class="menu-item span-link visible-xxs hidden-xs hidden-sm hidden-md hidden-lg lk"><i class="fa {% if user.org_type == 2 %}fa-group{% else %}fa-user{% endif %} mr3"></i>Мой кабинет<i class="fa fa-caret-down ml5 hidden-sm hidden-xs"></i></span>
				{% else %}
					<a class="menu-item show_on_large hidden-xxs lk" href="/user/login?return={{ strim(get_request_uri(), '/') }}"><i class="fa fa-user mr3"></i>Вход в личный кабинет</a>
					<a class="menu-item visible-xxs hidden-xs hidden-sm hidden-md hidden-lg show_on_small lk" href="/user/login?return={{ strim(get_request_uri(), '/') }}"><i class="fa fa-user mr3"></i>Вход</a>
				{% endif %}
			</div>
			{% if user %}
				<!--<span class="menu-item span-link hidden-sm hidden-xs" onclick="window.location='/user'">Мои объявления <span>~{{get_myobjects_info()}}</span></span>-->
			{% endif %}
			<a class="menu-item hidden-sm hidden-xs" href="https://vk.com/yarmarkasurgut" target="_blank"><i class="fa fa-vk"></i> Мы Вконтакте</a>
		</div>
	</div>
</div>
