<div class="graytheme">
<ul>
	<li><img alt="" src="http://nizhnevartovsk.yarmarka.biz/uploads/orig/cb/e8/96/cbe896a6f40fc2d1426dcf918b421f46.png" style="height:410px; width:546px" /></li>
</ul>

<ul>
	<li><strong>Купон на 5 занятий в студии танца &laquo;Импровиз&raquo; </strong><br />
	Номинал 2250 руб. Ваша цена <strong>1800 руб.</strong> (Экономия <strong>450 руб.</strong>, скидка 20%)<br />
	<strong>Купон на 10 занятий в студии танца &laquo;Импровиз&raquo; </strong><br />
	Номинал 3800 руб. Ваша цена <strong>2850 руб.</strong> (Экономия <strong>950 руб.</strong>, скидка 25%)<br />
	<strong>Купон на 20 занятий в студии танца &laquo;Импровиз&raquo; </strong><br />
	Номинал 6900 руб. Ваша цена <strong>4830 руб.</strong> (Экономия <strong>2070 руб.</strong>, скидка 30%)</li>
	<li>
	<p>По вопросам приобретения звоните по тел. <strong>+7(3466)29-28-77.</strong> Звонки принимаются по будням, с 9 до 18 час. Пятница - с 9 до 17 час.</p>
	</li>
	<li>
	<h3>Условия акции</h3>
	&mdash; Срок проведения до 15.04.2016<br />
	&mdash; Количество купонов ограничено<br />
	&mdash; Обязательно предъявляйте распечатанный сертификат или СМС-Сообщение</li>
	<li>
	<h3>Описание компании</h3>
	<strong>Центр танца &laquo;Импровиз&raquo;.</strong><br />
	<br />
	Наша миссия: Внести в жизни людей танец, как свободу проявления себя. Толкование миссии нашего центра заключается в том, что мы работаем с людьми не только совершенствуя их физически, но и психологически. Люди становятся более открыты к общению. Невербальное общение, происходящее в любом танце, не может быть лживым, в отличие от повседневной жизни. &laquo;Танец учит мужчину быть мужчиной, а женщину &ndash;женщиной. Ведь на самом деле это непростая задача.&raquo; Качество оказываемых услуг:<br />
	&bull;Мы работаем для людей, следовательно предоставляем только лучшие условия для проведения занятий.<br />
	&bull;Преподавателями нашего центра являются только профессиональные танцоры или тренера.<br />
	&bull;В г. Нижневартовск нет подобных аналогов нашего центра, поэтому мы предлагаем абсолютно новые и интересные услуги.<br />
	&bull;Мы понимаем, что заниматься к нам приходят, зачастую, семейные пары. Не исключено, что ходить вместе на занятия бывает не всегда удобно совмещать с работой. Поэтому, у нас действует гибкая система оплаты.<br />
	&bull;Оттачиваем все нюансы танцевальной техники в индивидуальном порядке с каждой парой.<br />
	&bull;Мы не учим танец, мы учим танцевать</li>
	<li>
	<h3>Контактная информация</h3>
	<br />
	Мы находимся <strong>по адресу:</strong> г.Нжневартовск, Омская, 56 &laquo;ТК Славянский двор&raquo;, цокольный этаж<br />
	<br />
	<strong>Телефоны:</strong> 8 (982) 574 - 62 - 14, 8 (982) 523 - 71 - 29<br />
	<br />
	<a href="https://vk.com/centerimproviz" target="blank">Мы Вконтакте</a></li>
</ul>

<ul>
	<li>{cardmap}</li>
</ul>

<ul>
	<li>
	<h3>Информация для покупателя</h3>
	<strong>В чем выгода приобретения купона или сертификата у нас?</strong><br />
	&nbsp;
	<p>1. Вы покупаете его с большой скидкой, например сертификат номиналом 1000 рублей мы продаем со скидкой 40%, соответственно, вы платите 600 рублей, а получаете 1000 рублей на услугу или товар.</p>

	<p>2. Даже если в магазине товар продается уже со скидкой, вы можете его приобретать по сертификату так же, как вы бы оплатили его наличными, ограничений нет, а выгода ваша возрастет еще больше.</p>

	<p>3. Вы можете приобрести купон или сертификат онлайн на нашем сайте.</p>

	<h3>Гарантия безопасности</h3>

	<p><strong>Нашей главной заботой является Ваша безопасность и радость от покупки товаров и услуг по купонам &quot;Ярмарка-Скидки&quot;, поэтому:</strong></p>

	<p>1. Ярмарка гарантирует 100% подлинность купона от поставщика услуг.</p>

	<p>2. Ярмарка гарантирует 100% возврат оплаты, если Вы передумаете воспользоваться нашим купоном в течении 5 дней с момента оплаты и в случае некачественного обслуживания поставщиком услуги в течении 14 дней с момента оплаты, но не позднее срока оказания услуги (если этот срок отдельно указан в купоне)</p>

	<p>3. Звоните нам по всем вопросам в службу поддержки покупателей &laquo;Ярмарка-Скидки&raquo; с 9:00 до 18:00 в рабочие дни по тел. +7(3466)29-28-77</p>
	</li>
</ul>
</div>
