{% extends "layouts/article" %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{% include 'article/index/promo' %}
		{% set theme = 'green-dense-theme' %}
		{{ requestblock('block_twig/adslinkline',{'city_id': city.id, 'theme': theme}) }}
{% endblock header %} 

{% block crumbs %}{% endblock crumbs %}

{% block content %}
	<div class="green-dense-theme obj-control-head clearfix brt2">
		<div class="col-md-6 left clearfix">
			<span class="caption"><i class="fa fa-globe mr3"></i>{{newsone.start_date|date('H:i, d.m.Y')}}</span>
		</div>
		{% if check_access("news.edit") %}
		<div class="col-md-6 right clearfix">
			<a class="item" href="/khbackend/articles/edit/{{newsone.id}}">Редактировать</a>
		</div>
		{% endif %}
	</div>
	<article class="bg-color-whitesmoke p20">
		<h1 class="big">{{newsone.title}}</h1>
		<div class="photo-cont mt10">

			<img class="news-photo" src="{{ get_file(get_image_paths(newsone.photo)['original']) }}" width="500">
			<p>{{newsone.photo_comment}}</p>
		</div>
		<div class="text-cont mt10">{{newsone.text}}</div>
			{% if newsone.is_category == 0 %}
				<div id="hypercomments_widget"></div>
				<script type="text/javascript">
					_hcwp = window._hcwp || [];
					_hcwp.push({widget:"Stream", widget_id:16227, callback: function(app, init){$('#hypercomments_widget .hc_count_user_online').remove();} });
					(function() {
						if("HC_LOAD_INIT" in window)return;
						HC_LOAD_INIT = true;
						var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
						var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
						hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/16227/"+lang+"/widget.js";
						var s = document.getElementsByTagName("script")[0];
						s.parentNode.insertBefore(hcc, s.nextSibling);
					})();
				</script>
				<a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by HyperComments</a>							
			{% endif %}
	</article>
{% endblock content %}

{% block leftside %} 
	<div class="info-block-cont theme3 module">
		<div class="block-title">
			<span>Последние новости</span>
		</div>						
		<div class="bg-color-whitesmoke p20">
			
		</div>
	</div>
{% endblock leftside %}
