{% extends "layouts/article" %}

{% set theme_class = 'crimson-theme' %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
{% endblock header %} 

{% block crumbs %}{% endblock crumbs %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<article class="bg-color-whitesmoke p20 br2">
				<p class="gray fs14">{{article.updated|date('d.m.Y')}}</p>
				<h1 class="captionbold fs22">{{article.title}}</h1>

				{% if article.is_category %}
					<ul class="pt20">
						{% for subarticle in articles if not subarticle.is_category and subarticle.parent_id == article.id %}
							
							<li class="pl20 mb5">
								<a href="/article/{{subarticle.seo_name}}" class="ml10 fs18">{{subarticle.title}}</a>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<div class="text-cont pl20 pt10">{{article.text}}</div>
				{% endif %}
			</article>
		</div>
	</div>
{% endblock content %}

{% block leftside %} 
	<ul class="pt20">
		{% for maincategory in articles if maincategory.is_category and maincategory.parent_id == 0 %}
			<li class="pl10 mb5">
				<a class="fs18 bold" href="/article/{{maincategory.seo_name}}" class="ml10">{{maincategory.title}}</a>
			</li>
			{% for category in articles if category.parent_id == maincategory.id %}
				<li class="pl20 mb5">
					{% if category.is_category %}
						<a class="fs18" href="#" onclick="$('.links{{category.id}}').toggle();return false;"><i class="fa fa-plus fa-fw mr3"></i>{{category.title}}</a>
					{% else %}
						<a class="fs18" href="/article/{{category.seo_name}}">{{category.title}}</a>
					{% endif %}
				</li>
				{% for article in articles if article.parent_id == category.id %}
					<li class="pl30 mb5 links{{category.id}}" style="display:none;">
						<a href="/article/{{article.seo_name}}" class="ml10">{{article.title}}</a>
					</li>

				{% endfor %}
			{% endfor %}
		{% endfor %}
	</ul>
{% endblock leftside %}
