{% extends "layouts/newsline" %}

{% set theme_class = 'green-dense-theme' %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{% include 'block/header/navigationline/article' %}
		{{ requestblock('block_twig/adslinkline',{'city_id': city.id, 'theme_class': theme_class}) }}
{% endblock header %} 

{% block crumbs %}{% endblock crumbs %}

{% block content %}
	<div class="row">
		<div class="col-md-9">
			<article class="bg-color-whitesmoke p20">
				<h1 class="captionbold fs22">Все новости за {{ date|date('d.m.Y') }}</h1>
			{% for object in articles %}
				<div class="mt20">
					<p class="fs18"><span>{{ object.date_created|date('H:i') }}</span> <a class="bold" href="{{object.compiled.url}}" name="{{object.id}}">{{object.title}}</a></p>
					<div class="photo-cont mt10">
						<img class="news-photo" src="{{get_file(object.compiled.images.main_photo.original)}}" width="500">
						<p>{{object.compiled.attributes['news-category'].value}}</p>
					</div>
					<div class="text-cont mt10">{{object.user_text}}</div>
				</div>
			{% endfor%}
			</article>
		</div>
		<div class="col-md-3">
			{% include 'index/informers' %}
		</div>
	</div>
{% endblock content %}

{% block leftside %} 
	<ul class="mt40">
		{% set current_date = NULL %}
		{% for news in lastnews %}
			{% if not current_date or current_date != news.date_created|date('d/m') %}
				{% set current_date = news.date_created|date('d/m') %}
				<li class="pl10 mb5">
					<span class="bold">{{ news.date_created|date('d') ~ ' ' ~ months[news.date_created|date('m')] }}</span>
				</li>
			{% endif %}
			<li class="pl10 mb5">
				<span class="fs12">{{news.date_created|date('H:m')}}</span><a href="/news/{{news.id}}-{{news.seo_name}}" class="ml10">{{news.title|slice(0,70)}}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock leftside %}

