<div class="latest_ads clearfix module">
	<div class="title_block brt2">Интересные предложения
	{% for item in data %}
	<div class="ad_wrap">
		<a href="{{item.url}}">
			<div class="img_block">
				<img src="{{ item.image }}" alt="{{ item.title }}">
			</div>
		</a>
		{% if item.price > 0 %}
			<div class="cost bold">{{ item.price|number_format(0, ' ', ' ') }} <i class="fa fa-rub"></i></div>
		{% else %}
			<div style="height:24px;"></div>
		{% endif %}
		{% if item.title|length > 40 %}
		<div class="title"><a href="{{item.url}}">{{ item.title|slice(0,40) }}...</a></div>
		{% else %}
		<div class="title"><a href="{{item.url}}">{{ item.title}}</a></div>
		{% endif %}
	</div>
	{% endfor %}
</div>
