<p class="bold">Наши контакты:</p>
<table style="width:100%;">
<tbody>
<tr>
<td>Тюмень <br /><br /> <span class="s4 s3">8-3452-20-12-29 (Надия) </span> <br /> n.yahina@yarmarka.biz</td>
<td>Сургут <br /><br /> <span class="s4 s3">8-922-254-09-44 (Юлия) </span> <br /> y.drot@yarmarka.biz</td>
<td>Нижневартовск <br /><br /> <span class="s4 s3">8-922-255-99-62 (Андрей)</span> <br /> a.glinov@yarmarka.biz</td>
</tr>
</tbody>
</table>