{% extends "layouts/simple" %}


{% block header %}
	{{ parent() }}
	{{ css("commercial.css") }}
	{% include 'cart/crumbs' %}
{% endblock header %}


{% block content %}

<div class="col-lg-12 w100p_img">
	
	<div class="ad_title">
		<span>Конвейер</span>
		Массовая загрузка объявлений на сайт <a href="http://yarmarka.biz">www.yarmarka.biz</a>
	</div>
	
	<p>Массовая загрузка - это дополнительный сервис управления базой Ваших объявлений в полуавтоматическом и полностью автоматическом режимах. Это позволяет управлять большим количеством объявлений, вносить в них изменения и во много раз экономит Ваше время. Для использования массовой загрузки воспользуйтесь подходящим тарифным планом. </p>

	<div class="ta-c">
		<img src="http://c.yarmarka.biz/uploads/files/8bcb93e06bc310694bd09c7123b078a8.png" alt="">
	</div>

	<p>Существует 2 способа использования сервиса массовой загрузки на сайте “Ярмарка-онлайн”:</p>
	<ol>
		<li>Загрузка в виде xml-файла (может быть использован файл массовой загрузки Avito) Выгрузка таких файлов осуществляется в автоматическом режиме, 1 раз в сутки, в ночное время. Ссылку на файл Вы передаете нашему менеджеру, после выбора и оплаты тарифного плана. Загрузка 2 раза в сутки осуществляется за дополнительную плату (+50% к стоимости пакета).</li>
		<li>Загрузка базы объявлений в XLS-формате. (Создается в редакторе таблиц Excel MS Office) Этот формат широко используется для экспорта-импорта данных. Технические требования к XLS-файлу: - размер файла не более 10 Мб - первая строка должна содержать заголовки полей - разделитель - “;” (запятая). Ознакомиться с условиями, а также скачать файлы-шаблоны для загрузки объявлений Вы можете по <a href="http://c.yarmarka.biz/user/objectload">ссылке</a></li>
	</ol>

	<p>Загрузка объявлений из XLS-файла осуществляется после проверки модератором, но также не более 1 раза в сутки, в утреннее или вечернее время. Загрузка 2 раза в сутки осуществляется за дополнительную плату (+50% к стоимости пакета).</p>

	<p>Для того, чтобы воспользоваться массовой загрузкой, свяжитесь с нашими менеджерами по указанным ниже телефонам, или отправьте заявку на электронную почту</p>


</div>

{% endblock content %}

{% block footer %} 
	{{ parent() }}
{% endblock footer %}