{% extends "layouts/simple" %}


{% block header %}
	{{ parent() }}
	{{ css("commercial.css") }}
	{% include 'cart/crumbs' %}
{% endblock header %}


{% block content %}

<div class="col-lg-12 w100p_img">
	
	<div class="ad_title">
		<span>По полной</span>
		Загрузка прайс-листа на персональную страницу
	</div>
	
	<p>Прайс-лист на сайте “Ярмарка-онлайн” - это загрузка перечня Ваших товаров, услуг и цен на них на <a href="personal" target="_blank">Вашу персональную страницу</a>.</p>
	<p>При загрузке на персональную страницу, Ваш прайс будет выглядеть следующим образом:</p>
	<img src="../static/develop/images/commercial/full1.png" alt="">
	<p>Все строки, которые содержит прайс, будут индексированы в поиске, таким образом, если при конкретном поисковом запросе какие-то слова будут найдены в Вашем прайс-листе, то он также будет отображен в результатах поиска:</p>
	<img src="../static/develop/images/commercial/full2.png" alt="">
	<p>Все совпадения, найденные в прайсах, будут выводиться в нижней части экрана, после объявлений:</p>
	<img src="../static/develop/images/commercial/full3.png" alt="">
	<p>Использование прайс-листов позволяет значительно увеличить количество просмотров объявления, а также помогает посетителям легче найти конкретные товары и услуги, которые их интересуют.
	<br><br>
	Прикрепить прайс, содержащий до 50 позиций Вы можете абсолютно бесплатно! Прайс-листы, включающие более 50 позиций оплачиваются дополнительно, согласно действующим тарифам:</p>
	<img src="../static/develop/images/commercial/full4.jpg" class="short"  alt="">
	<p>*1 страница — 50 позиций</p>
	<img src="../static/develop/images/commercial/full5.jpg"  class="short" alt="">
	<p>Примеры прайс-листов и требования к файлам:</p>
	<ul>
		<li>Пример обычного файла (прайс-листа): <a href="https://docs.google.com/spreadsheets/d/10o5SY0_QECeORGOgTyonkHhFOPHa8cj1XbYwwdbu51M/edit">Услуги электрика</a></li>
		<li>Пример плоского файла (прайс-листа): <a href="https://docs.google.com/spreadsheets/d/1QzfIo_gZVRsisJV3-TOt149ZGAHSCwKFryyqfffR5jc/edit#gid=0">Услуги сантехника</a>, <a href="https://docs.google.com/spreadsheets/d/1NDB-Oguk73JdQNyaRmORjuXzlWsjcOCq0fXXLUefPdk/edit#gid=0">Услуги свадебного салона</a>, <a href="https://docs.google.com/spreadsheets/d/1KE7S66v-edxiWwdAcEN08rPMyD0vERTwc45nYLXEb3M/edit?pli=1#gid=0">Запчасти на грузовые автомобили HOWO</a></li>
		<li>Формат загружаемых файлов: *.xls, *.xlsx</li>
		<li>Бесплатно вы можете загружать не более 1 прайс-листа до 50 позиций <a href="http://c.yarmarka.biz/article/kak-dobavit-price-k-razmesheniu">(подробнее…)</a></li>
	</ul>

	<p>Для того, чтобы прикрепить прайс-лист к Вашей персональной странице, Вам достаточно позвонить нам по указанным ниже телефонам, или отправить заявку на электронную почту. </p>


</div>

{% endblock content %}

{% block footer %} 
	{{ parent() }}
{% endblock footer %}