{% extends "layouts/simple" %}

{% block title %}
	{% for crumb in crumbs %}
		{% if not crumb.url %}
			{{crumb.title}}
		{% endif %}
	{% endfor %}
{% endblock title%}

{% block header %}
	{{ parent() }}
	{{ css("commercial.css") }}
	{% include 'cart/crumbs' %}
{% endblock header %}


{% block content %}

<div class="col-lg-12">
	
	<div class="services-wrap mt50">
		<div class="row">
			<div class="col-md-12 clearfix ta-c">
				<div class="service-item-wrap">
					<div class="title">Реклама <br>на сайте</div>
					<a href="commercial/site" class="link">подробнее</a>
				</div>
				<div class="service-item-wrap">
					<div class="title">Индор <br>реклама</div>
					<a href="commercial/indoor" class="link">подробнее</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<a class="order-call" href="http://feedback.yarmarka.biz/">Заказать консультацию специалиста</a>
			</div>
		</div>
	</div>

</div>

{% endblock content %}

{% block footer %} 
	{{ parent() }}
{% endblock footer %}