{% extends "layouts/simple" %}

{% block title %}
	{% for crumb in crumbs %}
		{% if not crumb.url %}
			{{crumb.title}}
		{% endif %}
	{% endfor %}
{% endblock title%}

{% block header %}
{{ parent() }}
{{ css("commercial.css") }}
{% include 'cart/crumbs' %}
{% endblock header %}


{% block content %}

<div class="col-lg-12 w100p_img mb50">
	
	<div class="ad_title mb20">
		<span>Услуга "Три слона"</span>
	</div>
	
	<div class="leader-wrap">
		<div class="title-leader">
			Новая услуга «Лидер»*<br>
			5 рублей за один день
		</div>
		<ol class="bold">
			<li>Самое эффективное размещение на главной странице и в рубрике.</li>
			<li>Вы сами выбираете период размещения</li>
			<li>Чем больше период, тем больше скидка</li>
		</ol>

		<div class="prices">
			7 дней - 10%, 14 дней - 15%, 28 дней - 20%
		</div>
		<p>* Цена указана для размещения в рубрике «В хорошие руки»</p>
	</div>

	<div class="ta-c w100p_img" style="padding: 0px 15px;">

		<div class="fs35 bold ta-c">
			Как это выглядит на главной странице!
		</div>
		<img src="../static/develop/images/commercial/service_leader2.png" alt="" class="mb20 mt20">

		<div class="fs35 bold ta-c">
			Как это выглядит в рубрике!
		</div>
		<img src="../static/develop/images/commercial/service_leader.png" alt="" class="mb20 mt20">
	</div>

	<p>Фотообъявление содержит цену на товар/услугу и краткое описание. При клике на такое объявление, посетитель попадает в карточку Вашего объявления с подробным описанием товара/услуги.</p>
	<p>На каждой странице рубрики в фото-блоке размещается не более 6 объявлений.</p>
	<p class="bold">Преимущества услуги «Лидер»:</p>
	<ul>
		<li>Ваше объявление всегда наверху</li>
		<li>Отсутствие ротации - объявление будет видно посетителям в течение всего срока размещения и не будет чередоваться с объявлениями других рекламодателей</li>
		<li>Правильно подобранное фото привлечет гораздо больше внимания среди посетителей и обеспечит Вам большее количество просмотров объявления</li>
	</ul>
	<p class="bold">Как приобрести услугу «Лидер»:</p>
	<p>В карточке объявления щёлкните по ссылке «Лидер» (в правой части страницы):</p>
	<img src="../static/develop/images/commercial/leader-btn.png" alt="">
	


</div>

{% endblock content %}

{% block footer %} 
{{ parent() }}
{% endblock footer %}