{% extends "layouts/simple" %}

{% block title %}
	{% for crumb in crumbs %}
		{% if not crumb.url %}
			{{crumb.title}}
		{% endif %}
	{% endfor %}
{% endblock title%}

{% block header %}
	{{ parent() }}
	{{ css("commercial.css") }}
	{% include 'cart/crumbs' %}
{% endblock header %}


{% block content %}

<div class="col-lg-12 w100p_img mb50">
	
	<div class="ad_title mb20">
		<span>Услуга "Не сдвинусь с места"</span>
	</div>

	<img src="http://yarmarka.biz/uploads/files/e1ca028a6416965ad4a4ddd896f8b0d3.png" style="width: 1200px;" alt="" /> 

	<p class="bold">Наши контакты:</p>
	<table style="width:100%;">
	<tbody>
	<tr>
	<td>Тюмень <br /><br /> <span class="s4 s3">(3452) 49-21-21 (доб. 1152)</span> <br /> reklama@yarmarka.biz</td>
	<td>Сургут <br /><br /> <span class="s4 s3">(3462) 22-22-77 </span> <br /> reklama@yarmarka.biz</td>
	<td>Нижневартовск <br /><br /> <span class="s4 s3">(3466) 40-61-02</span> <br /> reklama@yarmarka.biz</td>
	</tr>
	</tbody>
	</table>
</div>

{% endblock content %}

{% block footer %} 
	{{ parent() }}
{% endblock footer %}