{% extends "layouts/simple" %}

{% block title %}
	{% for crumb in crumbs %}
		{% if not crumb.url %}
			{{crumb.title}}
		{% endif %}
	{% endfor %}
{% endblock title%}

{% block header %}
	{{ parent() }}
	{{ css("commercial.css") }}
	{% include 'cart/crumbs' %}
{% endblock header %}


{% block content %}

<div class="col-lg-12 w100p_img mb50">
	
	<div class="ad_title mb20">
		<span>Услуга "Не сдвинусь с места"</span>
	</div>

	<img src="http://yarmarka.biz/uploads/files/e1ca028a6416965ad4a4ddd896f8b0d3.png" style="width: 1200px;" alt="" /> 

	{% include 'commercial/contacts' %}
</div>

{% endblock content %}

{% block footer %} 
	{{ parent() }}
{% endblock footer %}