{% extends "layouts/simple" %}

{% block title %}
	{% for crumb in crumbs %}
		{% if not crumb.url %}
			{{crumb.title}}
		{% endif %}
	{% endfor %}
{% endblock title%}

{% block header %}
	{{ parent() }}
	{{ css("commercial.css") }}
	{% include 'cart/crumbs' %}
{% endblock header %}


{% block content %}

<div class="col-lg-12 w100p_img">
	
	<div class="ad_title">
		<span>Визитная карточка</span>
		<div class="fs16 ta-c">Создание персональной страницы</div>
	</div>

	<div class="fs16 w100p_img">
		<p>Персональная страница компании на сайте “Ярмарка-онлайн” - это рекламный продукт, который мы предоставляем абсолютно бесплатно, если Вы приобретаете одну из следующих услуг: <a href="target" target="_blank">контекстную</a> или <a href="view" target="_blank">баннерную рекламу</a>, либо прайс-лист.</p>

		<p>Персональная страница содержит в себе подробную информацию с рекламным предложением компании и может использоваться совместно с любым видом рекламы на нашем сайте. Разработка персональной страницы является особенно удобным предложением для тех пользователей, которые не имеют своего сайта в интернете.</p>

		<p>Что содержит персональная страница на сайте “Ярмарка-онлайн”:</p>

		<img src="../static/develop/images/commercial/sample1.png" alt="">

		<ol class="p15">
			<li>Ваш рекламный баннер (или макет из газеты)</li>
			<li>Блок с вашим логотипом и контактными данными, а так же ссылка на ваш сайт.</li>
			<li>Описание продукта и предлагаемой услуги (статья до 500 слов.)</li>
			<li>Карта с обозначением вашего офиса.</li>
			<li>Дополнительные фото или картинки по продукту (не более 9 шт.), размещение видео.</li>
			<li><a href="https://docs.google.com/document/d/13v_9yp6hL2LlUVllHsTI-cuqRFbJfr0xKTMzmCcRnlg/edit?usp=sharing">Прайс-лист</a></li>
		</ol>

		<p>Приобретите рекламу на сайте “Ярмарка-онлайн” прямо сейчас и наши дизайнеры абсолютно бесплатно сделают для Вас персональную страницу!</p>
	</div>
	
	
	{% include 'commercial/contacts' %}
</div>

{% endblock content %}

{% block footer %} 
	{{ parent() }}
{% endblock footer %}