{% extends "layouts/simple" %}


{% block header %}
	{{ parent() }}
	{{ css("commercial.css") }}
	{% include 'cart/crumbs' %}
{% endblock header %}


{% block content %}

<div class="col-lg-12 w100p_img">
	
	<div class="ad_title">
		<span>Услуга "Премиум - объявление"</span>
	</div>
	
	<p><b>Премиум-объявление</b> в течение 7 дней отображается в специальном блоке на сайте. Этот блок располагается на самом видимом месте - сверху, над обычными объявлениями в поисковой выдаче:</p>

	<img src="../images/commercial/premium1.png" alt="">

	<p>Услуга также предусматривает поднятие объявления на первое место страницы поиска в момент применения.</p>

	<p><br><br>На каждой странице рубрики в премиум-блоке размещается не более 5 объявлений. Объявления выводятся в соответствии с запросами посетителей сайта, в хронологическом порядке. По мере добавления новых премиум-объявлений, остальные объявления смещаются на следующие страницы. Таким образом, выше всегда будут находиться наиболее актуальные предложения.</p>

	<p><br><br><b>Я уже разместил бесплатное объявление, зачем мне премиум?</b> <br>
Ежедневно yarmarka.biz посещают порядка 10 тысяч человек, большинство из них создают новые объявления - при таком потоке многие из них быстро теряются в результатах поиска. Премиум-объявления привлекают к себе гораздо больше внимания, всегда находятся выше других объявлений в рубриках и гарантируют более быстрый отклик на Ваше предложение в сравнении с обычными объявлениями.</p>

	<p><br><br><b>Как присвоить моему объявлению премиум-статус?</b> <br> В карточке объявления нажмите на кнопку «Премиум» (в правой части страницы):</p>

	<img src="../images/commercial/premium-btn.png" alt="" class="mb50">
	<img src="../images/commercial/premium-btn2.png" alt="">

</div>

{% endblock content %}

{% block footer %} 
	{{ parent() }}
{% endblock footer %}