{% extends "layouts/simple" %}

{% block title %}
	{% for crumb in crumbs %}
		{% if not crumb.url %}
			{{crumb.title}}
		{% endif %}
	{% endfor %}
{% endblock title%}

{% block header %}
	{{ parent() }}
	{{ css("commercial.css") }}
	{% include 'cart/crumbs' %}
{% endblock header %}


{% block content %}

<div class="col-lg-12 w100p_img">
	
	<div class="ad_title">
		<span>У всех на виду</span>
		<div class="fs16 ta-c">Баннерная реклама на <a href="http://yarmarka.biz" target="_blank">www.yarmarka.biz</a></div>
	</div>
	
	<p>Баннерная реклама наиболее популярна в сети интернет, она является эталоном продвижения новых продуктов, услуг или брендов на рынок. Посетители сайта мгновенно заметят яркий, привлекающий к себе внимание баннер, таким образом Вы будете получать от нас постоянный поток новых клиентов. Баннер включает в себя основную информацию по Вашему рекламному предложению, контакты, а также может содержать ссылку на Ваш собственный сайт или на Вашу персональную страницу.</p>

	<a href="http://yarmarka.biz/tyumen/nedvizhimost/kvartiry-i-komnaty?reklama" target="_blank" class="fs16">Посмотреть схему расположения баннеров</a>

	<p>Размещая рекламу у нас, Вы платите не за рекламное место на сайте, а за ее показ нашим посетителям, которые благодаря четко спланированной рекламной кампании совсем скоро могут стать Вашими постоянными клиентами!</p>

	<table class="ad mt50 mb10" id="block-table">
		<thead>
			<tr>
				<th>Расположение <a href="http://yarmarka.biz/tyumen/nedvizhimost/kvartiry-i-komnaty?reklama" target="_blank">(Схема расположения баннеров)</a></th>
				<th>Размер (пикс.)</th>
				<th>Цена за 1000 показов</th>
				<th>Ограничение показов на одного пользователя, за сессию (F)</th>
				<th>Разделы</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td data-title="Расположение">Зона 1 (Верх страницы, над шапкой поиска)</td>
				<td data-title="Размер (пикс.)">1280*100</td>
				<td data-title="Цена за 1000 показов">130руб.</td>
				<td data-title="Ограничение показов">3</td>
				<td data-title="Разделы">Весь сайт yarmarka.biz</td>
			</tr>
			<tr>
				<td data-title="Расположение">Зона 1 (Верх страницы, над шапкой поиска)</td>
				<td data-title="Размер (пикс.)">1280*100</td>
				<td data-title="Цена за 1000 показов">130руб.</td>
				<td data-title="Ограничение показов">3</td>
				<td data-title="Разделы">Весь сайт yarmarka.biz</td>
			</tr>
		</tbody>
	</table>

	<p>*в базовую стоимость входит размещение баннера по всему сайту, минимальный заказ — 10 000 показов</p>

	<table class="short ad">
		<thead>
			<tr>
				<th>Таргетинг</th>
				<th>Наценка</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>По городам</td>
				<td class="bold">10%</td>
			</tr>
			<tr>
				<td>По рубрикам</td>
				<td class="bold">20%</td>
			</tr>
			<tr>
				<td>По частоте (F < 3)</td>
				<td class="bold">15%</td>
			</tr>
		</tbody>
	</table>

	<p>Вы можете воспользоваться предложенными видами таргетирования*, чтобы экономить показы рекламы и направить ее на Вашу целевую аудиторию.</p>
	<p><span class="bold">Тарге’тинг</span> <i>(англ. target — цель)</i> — рекламный механизм, позволяющий выделить из всей имеющейся аудитории только ту часть, которая удовлетворяет заданным критериям (целевую аудиторию), и показать рекламу именно ей.</p>

	<p class="bold">Дополнительные преимущества размещения рекламы у нас:</p>

	<ul>
		<li>Широкий охват аудитории, ежедневно наш сайт посещают свыше 10 000 уникальных пользователей</li>
		<li>Большинство посетителей нашего сайта нацелены на покупку товара</li>
		<li>Вы получаете статистику посещений и переходов с наших баннеров</li>
	</ul>
	Наша цель - не просто обеспечить Вас просмотрами рекламы, но и добиться повышения уровня продаж путем привлечения новых покупателей.
	<p>Позвоните нам прямо сейчас и наши менеджеры помогут Вам в создании эффективной баннерной рекламы для Вашей компании.</p>

	{% include 'commercial/contacts' %}
</div>

{% endblock content %}

{% block footer %} 
	{{ parent() }}
{% endblock footer %}