<div class="multiselect">
	<div class="cont js-filter-label">
	<p><span class="name bold"><%=title%></span></p>
	<p><span class="info js-filter-str-value">Не важно</span></p>
</div>
<div class="checkbox js-filter-values-cont" style="display: none;z-index:90;">
	<div class="filters-range">
		<div class="line">
			<p class="mb5"><span><%=title%></span>,&nbsp;<span class=""><%=unit%></span></p>
			<span class="range-l">от</span>
			<input autocomplete="off" type="text" class="first" name="<%=seo_name%>[min]" value="<%=((value)?value.min:'') %>">
			<span class="range-l">до </span>
			<input autocomplete="off" type="text" class="last" name="<%=seo_name%>[max]" value="<%=((value)?value.max:'') %>">
		</div>
	</div>
	<div class="operations-cont"><button class="js-filter-ok bg-color-blue" type="button">ОК</button></div>
</div>