<div class="multiselect li ">
	<div class="cont js-filter-label">
	<p><span class="name"><%=title%></span></p>
	<p><span class="info js-filter-str-value">Не важно</span></p>
</div>
<div class="checkbox js-filter-values-cont" style="display: none;z-index:90;">
	<div class="filters-range">
		<div class="line">
			<label>
				<p class="mb5"><span><%=title%></span></p>
				<input autocomplete="off" type="text" name="<%=seo_name%>" value="<%=value%>">
			</label>						
		</div>
	</div>
</div>