{% if cols == empty %}
	{% set cols = 3 %}
{% endif %}
{% set rows = (cities|length/cols)|round %}
{% set i = 0 %}

<div class="proom-list iLight-cont js-citymenu{% if class %}_{{class}}{% endif %} border-color-blue popup-menu-cont brb2 w400 z300">
	{% for col in 0..cols %}
		<ul class="fl city_col">
			{% for city in cities|slice(i, rows) %}
				<li>
					{{
						link(
							'http://' ~ domain(city.seo_name, canonical_url, null, true, city.id),
							(city.seo_name in main_cities) ? 'bold' : '',
							city.title,
							"",
							""
						)
					}}
					
				</li>
			{% endfor %}
		</ul>
		{% set i = i + rows %}
	{% endfor %}
</div>