<div class="popup-menu-cont popup-menu-cont2l iLight-cont js-kuponmenu z300">
	<div class="left brb2">
		<ul class="top" role="menu">
			{% for element in categories %}
				<li class="js-submenu-item" data-submenu-id="section{{element.id}}" class="section{{element.id}}">
					<a class="span-link" href="{{ '/' ~ element.category_url ~ '/' ~ element.seo_name }}">
						{{element.title}}
						{% if element.count > 0 %}
							<span class="count">({{element.count}})</span>
						{% endif %}
					</a>
				</li>
			{% else %}
				<li>
					Скидок и купонов этом городе пока нет :(
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="right brb2 visible-lg">
		{% for element in categories %}
			{% set menuHeight = (banners[element.id] is defined and banners[element.id].menu_height) ? banners[element.id].menu_height : 0 %}
			{% set divWidth = (banners[element.id] is defined and banners[element.id].menu_width) ? banners[element.id].menu_width : 600 %}
			{% set ulWidth = 191 %}
			{% if banners[element.id] is defined and file_exist('/uploads/banners/menu/' ~ banners[element.id].image) and banners[element.id].menu_name == 'kupon' %}
			<div class="section section{{element.id}} p10" id="section{{element.id}}" style="min-height:{{menuHeight}}px;width: {{divWidth}}px; display: none;" data-menu-height="{{menuHeight}}">
					<img hidefocus="true" style="position: absolute;right:{{banners[element.id].x}}px ; bottom:{{banners[element.id].y}}px;" usemap="#map{{element.id}}" src="/uploads/banners/menu/{{banners[element.id].image}}"/>
					<map name="map{{element.id}}" id="map{{element.id}}">
						<area shape="poly" coords="{{banners[element.id].map_params}}" class="" href="/redirect/ref_cb?id={{banners[element.id].id}}" target="_blank" />
					</map>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
