<div class="popup-menu-cont2l iLight-cont {% if staticMainMenu %}left_menu hidden-xs {% else %}js-mainmenu popup-menu-cont{% endif %} z150" style="cursor:default;{% if staticMainMenu %}position:relative;{% endif %}">
	<div class="left brb2 top_level_menu">
		<ul class="top" role="menu">
			{% set true_categories = ['kupony','rabota','avtotransport','nedvizhimost','uslugi', 'meditsina-zdorove-tovary-i-uslugi', 'stroitelstvo-i-remont', 
									'biznes', 'lichnie-veshi', 'tovary-dlya-detei','dlya-doma-i-dachi', 'bitovaya-elektronika', 'znakomstvo-i-obshenie',
									'sport-otdih-hobby','domashnie-zhivotnye-i-rasteniya', 'v-horoshie-ruki', 'prodovolstvennye-tovary'] %}
			{% for category in categories1l if category.seo_name in true_categories %}
				<li class="js-submenu-item" data-submenu-id="section{{category.id}}" class="section{{category.id}}">
					<span class="span-link" onclick="window.location='/{{category.seo_name}}'">{{category.title}}</span>
				</li>
			{% endfor %}
		</ul>
	</div> 
</div>