<div class="popup-window w500">	
	<div class="header">
		Введите ваши данные для обратной связи
		<div class="popup-window-close js-close">
			<i class="ico close-ico16"></i>
		</div>			
	</div>					
	<div class="cont form-cont">
		<form class="js-form">
			<div class="row">
				<div class="col-md-12">
					<label class="bold"><span class="red fs20">*</span> Как к Вам обращаться?</label>
				</div>
				<div class="col-md-12">
					<div class="inp-cont <% if (getError("name")) { %>error<% } %>">																								
						<input class="w100p" type="text" name="name" value="<%=name%>">
						<% if (getError("name")) { %>
								<span class="inform"><%=getError("name")%></span>
						<% } %>						
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label class="bold"><span class="red fs20">*</span> Номер телефона:</label>
				</div>
				<div class="col-md-12">
					<div class="inp-cont <% if (getError("phone")) { %>error<% } %>">																		
						<input class="w100p" type="text" name="phone" value="<%=phone%>">
						<span class="inform">В формате 7(XXX)XXX-XX-XX</span>
						<% if (getError("phone")) { %>
								<span class="inform"><%=getError("phone")%></span>
						<% } %>						
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label class="bold">Комментарий:</label>
				</div>
				<div class="col-md-12">
					<div class="inp-cont <% if (getError("comment")) { %>error<% } %>">																	
						<textarea class="w100p" cols="30" rows="10" name="comment"><%=comment%></textarea>
						<span class="inform">Например время, в которое вам удобно принять звонок</span>
						<% if (getError("comment")) { %>
								<span class="inform"><%=getError("comment")%></span>
						<% } %>						
					</div>
				</div>
			</div>

			<div class="row mt10">
				<div class="col-md-6">&nbsp;</div>
				<div class="col-md-6"><button class="w100 button button-style1 bg-color-blue white js-ok fr">OK</button></div>
			</div>
		</form>
	</div>
</div>
