<div class="popup-window w650">	
	<div class="header">
		Новый отзыв
		<div class="popup-window-close js-close">
			<i class="ico close-ico16"></i>
		</div>			
	</div>					
	<div class="cont input-style-v2">
		<form class="js-form" method="post">
			Ваше имя
			<input maxlength="75" placeholder="" class="mcolor2" id="username" name="username" type="text"><br>
			Коммент
			<textarea maxlength="1000" class="mcolor2" id="text" name="text"></textarea>
			<% if (getError("text")) { %>
					<span class="inform"><%=getError("text")%></span>
			<% } %>
			<% if (getError("username")) { %>
					<span class="inform"><%=getError("username")%></span>
			<% } %>	
			<span class="button blue send-comment js-ok"><span>Отправить</span></span>
		</form>
	</div>
</div>


