<div class="popup-window w500">	
	<div class="header">
		Новый комментарий
		<div class="popup-window-close js-close">
			<i class="ico close-ico16"></i>
		</div>			
	</div>					
	<div class="cont input-style-v2">
		<form class="js-form form-horizontal-cont" method="post">
			<div class="group cf">
				<div class="label-cont">
					<span>Ваше имя:</span>
				</div>
				<div class="field-cont">
					<span class="required">*</span>
					<input maxlength="75" placeholder="" class="w100p" id="username" name="username" type="text">
					<% if (getError("username")) { %>
						<span class="inform error">
							<span><%=getError("username")%></span>
						</span>
					<% } %>													
				</div>
			</div>

			<div class="group cf">
				<div class="label-cont">
					<span>Комментарий:</span>
				</div>
				<div class="field-cont">
					<span class="required">*</span>
					<textarea rows="4" maxlength="1000" class="w100p fl" id="text" name="text"></textarea>
					<% if (getError("text")) { %>
						<span class="inform error">
							<span><%=getError("text")%></span>
						</span>
					<% } %>					
				</div>
			</div>

			<div class="errors-cont mb15">


			</div>
			
			<div class="ta-r">
				<span class="button_v2 bg-color-blue button-style1 send-comment js-ok">Отправить</span>
			</div>
		</form>
	</div>
</div>


