<div class="popup-window w500">	
	<div class="header">
		Снятие объявлений
		<div class="popup-window-close js-close">
			<i class="ico close-ico16"></i>
		</div>			
	</div>					
	<div class="cont">
		<form class="js-form">
			<div class="mt10">
				Пожалуйста, отметьте причину снятия объявлений с публикации
			</div>
			<div class="mt10">
				<% var reasons = {'sold_yarmarka':'Я продал на Ярмарке', 'sold_yarmarka_paper':'Я продал через газету', 'sold_somewhere':'Я продал гдето-еще', 'other':'Другая причина'}; %>
				<% _.each(reasons, function(value, key) {%>
					<p class="p5">
					<input type="radio" name="reason" value="<%=key%>" id="radio_<%=key%>"><label for="radio_<%=key%>" class="ml5 pointer"><%=value%></label>
					</p>
				<% }); %>
			</div>
			<div class="row mt10">
				<div class="col-md-6">&nbsp;</div>
				<div class="col-md-6"><button class="w100 button button-style1 bg-color-blue white js-ok fr">OK</button></div>
			</div>
		</form>
	</div>
</div>
