<div class="popup-window service-window mw650">	
	<div class="header">
		<%=getTitle()%>
		<div class="popup-window-close js-close">
			<i class="ico close-ico16"></i>
		</div>			
	</div>					
	<div class="cont">
		<form>		
			<div class="service-cont js-service-cont"></div>
			<% if (code < 400) { %>
				<div class="row mt10">
					
					<div class="col-md-6"><button class="w100p button_v2 button-style1 bg-color-blue js-tocart">Перейти к оформлению</button></div>
				</div>
			<% } %>
		</form>
	</div>
</div>
