<div class="popup-window w500">	
	<div class="header">
		<%=getTitle()%>
		<div class="popup-window-close js-close">
			<i class="ico close-ico16"></i>
		</div>			
	</div>					
	<div class="cont">
		<form>		
			<div class="service-cont js-service-cont"></div>
			<% if (code < 400) { %>
				<div class="row mt10">
					<div class="col-md-6"><button class="w100p button button-style1 bg-color-blue white mb5 js-tocontinue">В корзину и продолжить</button></div>
					<div class="col-md-6"><button class="w100p button button-style1 bg-color-blue white js-tocart">Перейти к оформлению</button></div>
				</div>
			<% } %>
		</form>
	</div>
</div>
